@import "@material/select/mdc-select.scss";

.mdc-select:not(.mdc-select--outlined) {
  > .mdc-notched-outline {
    display: none;
  }
}

.mdc-select.mdc-select--outlined {
  > .mdc-floating-label,
  > .mdc-line-ripple {
    display: none;
  }
}

.mdc-select slot {
  display: none;
}

.mdc-select:not(.mdc-select--disabled) {
  background-color: var(--rs-select_not_disabled--background-color, $mdc-select-fill-color);
}

.mdc-select:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
  border-color: var(--rs-select_not_disabled--notched-outline--leading--border-color, $mdc-select-outlined-idle-border);
}

.mdc-select:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__notch {
  border-color: var(--rs-select_not_disabled--notched-outline--notch--border-color, $mdc-select-outlined-idle-border);
}

.mdc-select:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--rs-select_not_disabled--notched-outline--trailing--border-color, $mdc-select-outlined-idle-border);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading {
  border-color: var(--rs-select_not_disabled__focused--notched-outline--leading--border-color, mdc-theme-prop-value(primary));
  border-width: var(--rs-select_not_disabled__focused--notched-outline--leading--border-width, 2px);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch {
  border-color: var(--rs-select_not_disabled__focused--notched-outline--notch--border-color, mdc-theme-prop-value(primary));
  border-width: var(--rs-select_not_disabled__focused--notched-outline--notch--border-width, 2px);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--rs-select_not_disabled__focused--notched-outline--trailing--border-color, mdc-theme-prop-value(primary));
  border-width: var(--rs-select_not_disabled__focused--notched-outline--trailing--border-width, 2px);
}

.mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__leading {
  border-color: var(--rs-select_not_disabled_not_focused--native-control_hover_--notched-outline--leading--border-color $mdc-select-outlined-hover-border);
}

.mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__notch {
  border-color: var(--rs-select_not_disabled_not_focused--native-control_hover_--notched-outline--notch--border-color, $mdc-select-outlined-hover-border);
}

.mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--rs-select_not_disabled_not_focused--native-control_hover_--notched-outline--trailing--border-color, $mdc-select-outlined-hover-border);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  color: var(--rs-select_not_disabled--native-control--color, $mdc-select-ink-color);
  border-bottom-color: var(--rs-select_not_disabled--native-control--border-bottom-color, $mdc-select-bottom-line-idle-color);

  &:hover {
    border-bottom-color: var(--rs-select_not_disabled--native-control--border-bottom-color, $mdc-select-bottom-line-idle-color);
  }
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  color: var(--rs-select_not_disabled--selected-text--color, $mdc-select-ink-color);
  border-bottom-color: var(--rs-select_not_disabled--selected-text--border-bottom-color, $mdc-select-bottom-line-idle-color);
}

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
  color: var(--rs-select_not_disabled--floating-label--color, $mdc-select-label-color)
}


.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--rs-select_not_disabled__focused--floating-label--color, $mdc-select-focused-label-color);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-line-ripple {
  background-color: var(--rs-select_not_disabled__focused--line-ripple--background-color, mdc-theme-prop-value(primary));
}