@import "@rsmdc/ripple/mixins-stencil";

@mixin rs-tab-icon-image($icon, $codepoint: "") {
  $value: if(str-slice("#{$icon}", 1, 4) == "url(", path, font-family);

  @if $value == path {

    .rs-tab {
      background-image: $icon;
    }

  } @else {
    $font-family: '"' + $icon + '"';
    $name: '"' + "\\"+ $codepoint + '"';

    .rs-tab > .content {
      &::before {
        font-family: $font-family;
        content: $name;
        display: block;
      }

      &::after {
        font-family: $font-family;
        content: $name;
      }
    }

    .rs-tab  > .content > .textlabel {
      padding-left: 8px;
    }
  }
}

@mixin rs-tab-icon-position($position) {
  @if $position == right {
    .rs-tab > .content {

      &::before {
        display: none;
      }
      
      &::after {
        display: block;
      }

      > .textlabel {
        padding-left: 0;
        padding-right: 8px;
      }
    }
  }
}

@mixin rs-tab-ink-color($color) {
  .rs-tab {
    > .content {
      color: $color;
    }

    > .content > .textlabel {
      color: $color;
    }
  }
}

@mixin rs-tab-activated-color($color) {
  .rs-tab {
    &.-activated {
      > .content {
        color: $color;
      }
      > .content > .textlabel {
        color: $color;
      }
    }
  }
}

@mixin rs-tab-states-color($color) {
  .rs-tab {
    @include rs-ripple-upgraded($color);
  }
}

@mixin rs-tab-indicator-color($color) {
  .rs-tab-indicator {
    background-color: $color;  
  }
}

@mixin rs-tab-indicator-height($height) {
  .rs-tab-indicator {
    height: $height;
  }
}

@mixin rs-tab-width($width) {
  .rs-tab-bar {
    > .scroller {
      width: $width;
    }
  }
}

@mixin rs-tab-fixed-width($width) {
  rs-tab-item {
    flex: 0 1 $width;
  }
}

@mixin rs-tab-bar-position($justify-content) {
  @if $justify-content == flex-end {
    .rs-tab-bar{
      > .scroller > .scrollarea > .scrollcontent {
        justify-content: flex-end;
      }
    }
  } @else if $justify-content == center {
    .rs-tab-bar{
      > .scroller > .scrollarea > .scrollcontent {
        justify-content: center;
      }
    }
  }
}
