@import "@rsmdc/ripple/mixins";
@import "./rs-variables";

// Change radio unchecked line color.
@mixin rs-radio-unchecked-stroke-color($color) {
  $value: rgba($color, .54);
  --rs-radio-nativeControl_enabled_not_checked_-background-outerCircle--border-color: #{$value};
}

// Change radio checked line color.
@mixin rs-radio-checked-stroke-color($color) {
  --rs-radio-nativeControl_enabled_checked_-background-outerCircle--border-color: #{$color};
}

// Change radio checked mark color.
@mixin rs-radio-ink-color($color) {
  --rs-radio-nativeControl_enabled_-background-innerCircle--border-color: #{$color};
}

// Change radio states color.
@mixin rs-radio-states-color($color) {
  @include rs-states($color);
}

// Change radio line, mark and states color.
@mixin rs-radio-fill-color-accessible($color) {
  @include rs-radio-unchecked-stroke-color($color);
  @include rs-radio-checked-stroke-color($color);
  @include rs-radio-ink-color($color);
  @include rs-radio-states-color($color);
}

// Change label position.
@mixin rs-radio-label-position($position) {
  @if $position == left {
    --rs-radio--flex-flow: row-reverse;
    --rs-radio-label--padding-right: #{$rs-radio-label-spacing};
    --rs-radio-label--padding-left: 0;
  }
}