//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@rsmdc/theme/mixins";
@import "@rsmdc/list/mixins";
@import "@rsmdc/ripple/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/rs-functions";
@import "./variables";

@mixin rs-drawer-activated-overlay-color($color) {
  @include rs-states-activated($color);
}

@mixin rs-drawer-border-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-divider-opacity);
  --rs-drawer--border-color: #{$value};
}

@mixin rs-drawer-item-shape-radius($radius, $rtl-reflexive: true) {
  @include rs-list-item-shape-radius($radius, $rtl-reflexive);
}

@mixin rs-drawer-shape-radius($radius) {
  @if length($radius) > 2 {
    @error "Invalid radius: '#{$radius}' component doesn't allow customizing all corners";
  } @else if length($radius) == 2 {
    $radius: 0 nth($radius, 1) nth($radius, 2) 0;
  } @else {
    $radius: 0 $radius $radius 0;
  }
  --rs-drawer--border-radius: #{rs-shape-radius($radius)};
  --rs-drawer_rtl--border-radius: #{rs-shape-rtl-radius($radius, true)};
}

@mixin rs-drawer-divider-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-divider-opacity);
  @include rs-list-divider-color($value);
}

@mixin rs-drawer-title-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-title-ink-opacity);
  --rs-drawer-title--color: #{$value};
}

@mixin rs-drawer-subtitle-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-subtitle-ink-opacity);
  --rs-drawer-subtitle--color: #{$value};
}

@mixin rs-drawer-fill-color-accessible($color) {
  $accessibleColor: rs-theme-accessible-ink-color($color);

  @include rs-drawer-title-ink-color($accessibleColor);
  @include rs-drawer-subtitle-ink-color($accessibleColor);
  @include rs-drawer-item-text-ink-color($accessibleColor);
  @include rs-drawer-item-icon-ink-color($accessibleColor);
  @include rs-drawer-surface-fill-color($color);
}

@mixin rs-drawer-item-icon-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-item-inactive-icon-ink-opacity);
  @include rs-list-item-graphic-ink-color($value);
}

@mixin rs-drawer-item-activated-icon-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-item-active-icon-ink-opacity);
  --rs-drawer-list-item__activated-graphic--color: #{$value};
}

@mixin rs-drawer-item-activated-text-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-item-active-text-ink-opacity);
  --rs-drawer-list-item__activated--color: #{$value};
}

@mixin rs-drawer-item-text-ink-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-item-inactive-text-ink-opacity);
  --rs-drawer-list--color: #{$value};
}

@mixin rs-drawer-surface-fill-color($color) {
  $value: rs-theme-prop-value($color);
  --rs-drawer--background-color: #{$value};
}

@mixin rs-drawer-scrim-fill-color($color) {
  $value: rgba(rs-theme-prop-value($color), $rs-drawer-modal-scrim-opacity);
  --rs-drawer-scrim--background-color: #{$value};
}

@mixin rs-drawer-z-index($value) {
  --rs-drawer--z-index: #{$value};
}

@mixin rs-drawer-width($width) {
  --rs-drawer--width: #{$width};
  --rs-app-layout-content--margin-left: #{$width};
  --rs-app-layout-content--margin-right: 0;
}