@mixin rs-drawer-opened-content() {
  --rs-app-layout-content--margin-left: var(--rs-drawer--width, 256px);
}

@mixin rs-drawer-type($type) {
  @if $type == modal {
    @include rs-drawer-scrim-fill-color($rs-drawer-modal-scrim-color);    
    --rs-drawer--left: 0;
    --rs-drawer--right: auto;
    --rs-drawer--display: none;
    --rs-drawer--position: fixed;
    --rs-drawer--box-shadow: #{rs-elevation($rs-drawer-modal-elevation)};
    --rs-drawer__open--display: flex;
    --rs-drawer__modal: true;
  }@else if $type == dismissible {
    --rs-drawer--left: 0;
    --rs-drawer--right: auto;
    --rs-drawer--display: none;
    --rs-drawer--position: absolute;
    --rs-drawer__open--display: flex;
    --rs-drawer__dismissible: true;
  }
}