@mixin rs-button--outlined_ {
  --rs-button--border-style: solid;
  --rs-button_disabled--border-color: #{$rs-button-disabled-ink-color};
}

@mixin rs-button--filled_ {
  --rs-button--padding-right: #{$rs-button-contained-horizontal-padding};
  --rs-button--padding-left: #{$rs-button-contained-horizontal-padding};
  --rs-button_disabled--background-color: #{rgba(rs-theme-prop-value(on-surface), .12)};
  --rs-button_disabled--color: #{$rs-button-disabled-ink-color};
  --rs-button_before_disabled--color: #{$rs-button-disabled-ink-color};
  --rs-button_after_disabled--color: #{$rs-button-disabled-ink-color};
}

@mixin rs-button--raised_ {
  --rs-button--box-shadow: #{rs-elevation(2)};
  --rs-button_hover--box-shadow: #{rs-elevation(4)};
  --rs-button_focus--box-shadow:  #{rs-elevation(4)};
  --rs-button_active--box-shadow: #{rs-elevation(8)};
  --rs-button_disabled--box-shadow: #{rs-elevation(0)};
  --rs-button--transition: #{rs-elevation-transition-value()};
}

@mixin rs-button--dense_ {
  --rs-button--height: #{$rs-dense-button-height};
  --rs-button--font-size: .8125rem;
  --rs-button--border-radius: #{rs-shape-resolve-percentage-radius(#{$rs-dense-button-height}, #{$rs-shape-small-component-radius})};
}

@mixin rs-button_ {
  --rs-button--justify-content: center;
  --rs-button--min-width: 64px;
  --rs-button--height: #{$rs-button-height};
  --rs-button--box-shadow: none;
  --rs-button--border-radius: 4px;
  --rs-button--font-size: 0.875rem;
  --rs-button--padding-right: #{$rs-button-horizontal-padding};
  --rs-button--padding-left: #{$rs-button-horizontal-padding};
  --rs-button--padding-top: 0;
  --rs-button--padding-bottom: 0;
  --rs-button--display: inline-flex;

  --rs-button_rtl--border-radius: #{rs-shape-rtl-radius(medium, false)};

  --rs-button_moz-focus-inner--padding: 0;
  --rs-button_moz-focus-inner--border: 0;

  --rs-button_active--box-shadow: none;

  --rs-button_not_disabled--background-color: transparent;
  --rs-button_not_disabled--color: #{$rs-theme-primary};

  --rs-button_not_disabled--border-color: none;
}

@mixin rs-button-fab-fixed-bottom {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}