@import '@rsmdc/typography/mixins';
@import '@rsmdc/theme/mixins';
@import '@rsmdc/shape/functions';
@import './variables';
@import "@rsmdc/ripple/mixins-stencil";
@import '../styles/icon-button/variables';
@import './mixins';
@import './rs-mixins';

@include rs-ripple-common;

.rs-button2 {
  @include rs-typography(button);

  position: relative;
  align-items: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
  font-size: 0.875rem;
  box-shadow: none;
  height: $rs-button-height;
  padding-right: var(--rs-button--padding-right, $rs-button-horizontal-padding);
  padding-left: var(--rs-button--padding-left, $rs-button-horizontal-padding);
  padding-top: var(--rs-button--padding-top, 0);
  padding-bottom: var(--rs-button--padding-bottom, 0);

  justify-content: center;
  display: inline-flex;
  border-width: var(--rs-button--border-width);
  border-style: var(--rs-button--border-style);
  transition: var(--rs-button--transition);
  opacity: var(--rs-button--opacity);
  fill: var(--rs-button--fill);
  cursor: var(--rs-button--cursor);
  -moz-appearance: var(--rs-button--moz-appearance);
  color: var(--rs-button--color);
  background-color: var(--rs-button--background-color);
  width: var(--rs-button--width);
  min-width: 64px;
  max-width: var(--rs-button--max-width);
  text-decoration: var(--rs-button--text-decoration);
  text-overflow: var(--rs-button--text-overflow);
  white-space: var(--rs-button--white-space);

  &.-exited.-fab {
    transform: scale(0);
    transition:
      opacity 15ms linear 150ms,
      rs-animation-exit-permanent(transform, 180ms);
    opacity: 0;
  }

  &.-icon.-no-text:not(.-fab) {
    // @include rs-ripple-radius-unbounded;

    $padding: $rs-icon-button-size / 2;
    $width: $rs-icon-button-size + $padding * 2;
    $height: $rs-icon-button-size + $padding * 2;
    $font-size: max($width, $height);

    --rs-ripple_before--background-color: #{$rs-theme-on-surface};
    --rs-ripple_after--background-color: #{$rs-theme-on-surface};
    --rs-ripple_hover_before--opacity: #{rs-states-opacity(on-surface, hover)};
    --rs-upgraded_-background-focused_before--opacity: #{rs-states-opacity(on-surface, focus)};
    --rs-ripple_not-upgraded_active_after--opacity: #{rs-states-opacity(on-surface, press)};
    --rs-ripple-upgraded--rs-ripple-fg-opacity: #{rs-states-opacity(on-surface, press)};

    @include rs-ripple-surface;
    @include rs-ripple-radius-unbounded;
    @include rs-ripple-upgraded($rs-theme-on-primary);
    
    min-width: auto;
    width: $width;
    height: $height;
    padding: $padding;
    font-size: $font-size;
    display: inline-flex;
    background-color: transparent;
    fill: currentColor;
    text-decoration: none;
    cursor: pointer;

    &::before {
      width: 24px;
      height: 24px;
    }

    &:not(:disabled) {
      background-color: transparent;
    }

    &:not(:disabled)::before {
      color: $rs-theme-on-surface;
    }

    &:disabled {
      opacity: 0.38;
    }

    &:disabled::before {
      color: #{rs-theme-ink-color-for-fill_(disabled, light)};
    }

  }

  // [dir="rtl"] &,
  // &[dir="rtl"] {
  //   border-radius: rs-shape-rtl-radius(medium, false);
  // }

  &::-moz-focus-inner {
    padding: var(--rs-button_moz-focus-inner--padding, 0);
    border: 0;
  }

  &:hover {
    box-shadow: none;
    cursor: pointer;
  }

  &:focus {
    box-shadow: var(--rs-button_focus--box-shadow);
    outline: var(--rs-button_focus--outline);
  }

  &:active {
    box-shadow: var(--rs-button_active--box-shadow);
    outline: none;
  }

  &:not(:disabled) {
    background-color: transparent;
    color: $rs-theme-primary;
    border-color: none;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;    
    box-shadow: var(--rs-button_disabled--box-shadow);
    background-color: transparent;
    color: $rs-button-disabled-ink-color;
    border-color: var(--rs-button_disabled--border-color);
    opacity: var(--rs-button_disabled--opacity);
  }

  &::before {
    background-repeat: no-repeat;
    background-position: center;
    
    color: $rs-theme-primary;
    display: none;
    content: '';
    font-weight: 400;
    font-family: var(--rs-button_before--font-family);
    background-image: var(--rs-button_before--background-image);
  }

  &::before:disabled{
    color: $rs-button-disabled-ink-color;
  }

  &.-no-text::before,
  &:not(.-no-text).-fab::before {
    width: 24px;
    height: 24px;
    background-size: 24px;
    font-size: 24px;
  }

  &:not(.-no-text)::before {
    width: 18px;
    height: 18px;
    background-size: 18px;
    font-size: 18px;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: center;

    color: var(--rs-button_after--color, $rs-theme-primary);
    display: none;
    content: '';
    font-weight: 400;
    font-family: var(--rs-button_after--font-family);
    background-image: var(--rs-button_after--background-image);
  }

  &::after:disabled{
    color: $rs-button-disabled-ink-color;
  }
  &.-no-text::after,
  &:not(.-no-text).-fab::after {
    width: 24px;
    height: 24px;
    background-size: 24px;
    font-size: 24px;
  }

  &:not(.-no-text)::after {
    width: 18px;
    height: 18px;
    background-size: 18px;
    font-size: 18px;
  }


  // > .label {
  //   padding-right: var(--rs-button-label--padding-right);
  //   padding-left: var(--rs-button-label--padding-left);

  //   .-no-text & {
  //     // padding-right: 0;
  //     // padding-left: 0;
  //   }
  // }

  // > .ripple {
  //   @include rs-ripple-surface;
  //   @include rs-ripple-radius-bounded;
  //   @include rs-ripple-upgraded($rs-theme-primary);

  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;

  //   .-icon.-no-text:not(.-fab) & {
  //     // border-radius: 50%;
  //   }

  //   :focus &  {
  //     &:hover::before,
  //     &::before {
  //       background-color: $rs-theme-primary;
  //       transition-duration: 75ms;
  //       opacity: rs-states-opacity(primary, focus);
  //     }
  //   }
  // }
}