@mixin rs-text-field-character-counter-color($color) {
  --rs-text-field-character-counter_not_disabled--color: #{color};
}

@mixin rs-text-field-character-counter-position($xOffset, $yOffset) {
  --rs-text-field-character-counter--right: #{$xOffset};
  --rs-text-field-character-counter--bottom: #{$yOffset};
}