//
// Copyright 2016 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@rsmdc/animation/functions";
@import "@rsmdc/ripple/mixins";
@import "@rsmdc/rtl/mixins";
@import "./functions";
@import "./keyframes";
@import "./variables";
@import "./rs-functions";

@mixin rs-checkbox-container-colors(
  $unmarked-stroke-color: $rs-checkbox-border-color,
  $unmarked-fill-color: transparent,
  $marked-stroke-color: $rs-checkbox-baseline-theme-color,
  $marked-fill-color: $rs-checkbox-baseline-theme-color,
  $generate-keyframes: true
) {
  --rs-checkbox-nativecontrol_enabled_not_checked_not_indeterminate_-background--border-color: #{$unmarked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_not_checked_not_indeterminate_-background--background-color: #{$unmarked-fill-color};
  --rs-checkbox-nativecontrol_enabled_checked_-background--border-color: #{$marked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_checked_-background--background-color: #{$marked-fill-color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--border-color: #{$marked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--background-color: #{$marked-fill-color};

  @if $generate-keyframes {
    $uid: rs-checkbox-container-keyframes-uid_();
    $fade-in-animation: rs-checkbox-animation-name($uid, in);
    $fade-out-animation: rs-checkbox-animation-name($uid, out);

    --rs-checkbox__animchecked-nativecontrol_enabled_-background--animation-name: #{$fade-in-animation};
    --rs-checkbox__animunchekced-nativecontrol_enabled_-background--animation-name: #{$fade-out-animation};
  }
}

@mixin rs-checkbox-animation() {
  $uid: rs-checkbox-container-keyframes-uid_();

  @include rs-checkbox-container-keyframes_(
    $rs-checkbox-border-color,
    transparent,
    $rs-checkbox-baseline-theme-color,
    $rs-checkbox-baseline-theme-color,
    $uid
  );
}

@mixin rs-checkbox-ink-color($color) {
  --rs-checkbox-background-checkmark--color: #{$color};
  --rs-checkbox-background-mixedmark--border-color: #{$color};
}

@mixin rs-checkbox-focus-indicator-color($color) {
  --rs-checkbox-background_before--background-color: #{$color};
}

@mixin rs-checkbox--disabled_ {
  --rs-checkbox__diabled--cursor: default;
  pointer-events: none;
}

@mixin rs-checkbox__child--cover-parent_ {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Animation
@mixin rs-checkbox--anim_ {
  $rs-checkbox-indeterminate-change-duration_: 500ms;

  // stylelint-disable selector-max-type

  &-unchecked-checked,
  &-unchecked-indeterminate,
  &-checked-unchecked,
  &-indeterminate-unchecked {
    .rs-checkbox__background {
      animation-duration: $rs-checkbox-transition-duration * 2;
      animation-timing-function: linear;
    }
  }

  &-unchecked-checked {
    .rs-checkbox__checkmark-path {
      // Instead of delaying the animation, we simply multiply its length by 2 and begin the
      // animation at 50% in order to prevent a flash of styles applied to a checked checkmark
      // as the background is fading in before the animation begins.
      animation: rs-checkbox-unchecked-checked-checkmark-path $rs-checkbox-transition-duration * 2 linear 0s;
      transition: none;
    }
  }

  &-unchecked-indeterminate {
    .rs-checkbox__mixedmark {
      animation: rs-checkbox-unchecked-indeterminate-mixedmark $rs-checkbox-transition-duration linear 0s;
      transition: none;
    }
  }

  &-checked-unchecked {
    .rs-checkbox__checkmark-path {
      animation: rs-checkbox-checked-unchecked-checkmark-path $rs-checkbox-transition-duration linear 0s;
      transition: none;
    }
  }

  &-checked-indeterminate {
    .rs-checkbox__checkmark {
      animation: rs-checkbox-checked-indeterminate-checkmark $rs-checkbox-transition-duration linear 0s;
      transition: none;
    }

    .rs-checkbox__mixedmark {
      animation: rs-checkbox-checked-indeterminate-mixedmark $rs-checkbox-transition-duration linear 0s;
      transition: none;
    }
  }

  &-indeterminate-checked {
    .rs-checkbox__checkmark {
      animation: rs-checkbox-indeterminate-checked-checkmark $rs-checkbox-indeterminate-change-duration_ linear 0s;
      transition: none;
    }

    .rs-checkbox__mixedmark {
      animation: rs-checkbox-indeterminate-checked-mixedmark $rs-checkbox-indeterminate-change-duration_ linear 0s;
      transition: none;
    }
  }

  &-indeterminate-unchecked {
    .rs-checkbox__mixedmark {
      // stylelint-disable-next-line declaration-colon-space-after
      animation:
        rs-checkbox-indeterminate-unchecked-mixedmark $rs-checkbox-indeterminate-change-duration_ * .6 linear 0s;
      transition: none;
    }
  }
}