@import "@rsmdc/form-field/rs-mixins";
@import "./functions";
@import "./keyframes";
@import "./variables";
@import "./rs-functions";

// Change checkbox states color and box color.
@mixin rs-checkbox-container-colors(
  $unmarked-stroke-color: $rs-checkbox-border-color,
  $unmarked-fill-color: transparent,
  $marked-stroke-color: $rs-checkbox-baseline-theme-color,
  $marked-fill-color: $rs-checkbox-baseline-theme-color,
  $generate-keyframes: true
) {
  --rs-checkbox-nativecontrol_enabled_not_checked_not_indeterminate_-background--border-color: #{$unmarked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_not_checked_not_indeterminate_-background--background-color: #{$unmarked-fill-color};
  --rs-checkbox-nativecontrol_enabled_checked_-background--border-color: #{$marked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_checked_-background--background-color: #{$marked-fill-color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--border-color: #{$marked-stroke-color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--background-color: #{$marked-fill-color};

  @if $generate-keyframes {
    $uid: rs-checkbox-container-keyframes-uid_();
    $fade-in-animation: rs-checkbox-animation-name($uid, in);
    $fade-out-animation: rs-checkbox-animation-name($uid, out);

    --rs-checkbox__animchecked-nativecontrol_enabled_-background--animation-name: #{$fade-in-animation};
    --rs-checkbox__animunchekced-nativecontrol_enabled_-background--animation-name: #{$fade-out-animation};
  }
}

// Change checkmark color.
@mixin rs-checkbox-checkmark-ink-color($color) {
  --rs-checkbox-background-checkmark--color: #{$color};
  --rs-checkbox-background-mixedmark--border-color: #{$color};
}

// Change checkbox states color.
@mixin rs-checkbox-focus-indicator-color($color) {
  --rs-checkbox-background_before--background-color: #{$color};
}

// Change checkbox label position. Usually, you use this mixin when change label position to left. 
@mixin rs-chechbox-label-position($position: right) {
  @if $position == left {
    @include rs-form-field-label-left;
  }
}
