@import "./functions";
@import "./keyframes";
@import "./variables";
@import "./rs-functions";
@import "./rs-variables";

// Change checkbox checked states color and box color.
@mixin rs-checkbox-checked-container-colors($color, $generate-keyframes: true) {
  --rs-checkbox-nativecontrol_enabled_checked_-background--border-color: #{$color};
  --rs-checkbox-nativecontrol_enabled_checked_-background--background-color: #{$color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--border-color: #{$color};
  --rs-checkbox-nativecontrol_enabled_indeterminate_-background--background-color: #{$color};

  @if $generate-keyframes {
    $uid: rs-checkbox-container-keyframes-uid_();
    $fade-in-animation: rs-checkbox-animation-name($uid, in);
    $fade-out-animation: rs-checkbox-animation-name($uid, out);

    --rs-checkbox__animchecked-nativecontrol_enabled_-background--animation-name: #{$fade-in-animation};
    --rs-checkbox__animunchekced-nativecontrol_enabled_-background--animation-name: #{$fade-out-animation};
  }
}

// Change unchecked checkbox line.
@mixin rs-checkbox-unchecked-stroke-color($color) {
  --rs-checkbox-background--border-color: #{$color};
}

// Change checkmark color.
@mixin rs-checkbox-checkmark-ink-color($color) {
  --rs-checkbox-background-checkmark--color: #{$color};
  --rs-checkbox-background-mixedmark--border-color: #{$color};
}

// Change checkbox states color.
@mixin rs-checkbox-focus-indicator-color($color) {
  --rs-checkbox-background_before--background-color: #{$color};
}

// Change checkbox line and states color.
@mixin rs-checkbox-fill-color-accessible($color) {
  @include rs-checkbox-checked-container-colors($color);
  @include rs-checkbox-focus-indicator-color($color);
}

// Change checkbox label position.
@mixin rs-checkbox-label-position($position) {
  @if $position == left {
    --rs-checkbox--flex-flow: row-reverse;
    --rs-checkbox-label--padding-right: #{$rs-checkbox-label-spacing};
    --rs-checkbox-label--padding-left: 0;
  }
}