@mixin rs-snackbar-max-width($max-width) {
  .rs-snackbar > .surface {
    max-width: $max-width;
  }
}

@mixin rs-snackbar-elevation($z-index) {
  .rs-snackbar > .surface {
    @include rs-elevation($z-index);
  }
}

@mixin rs-snackbar-viewport-margin($margin) {
  margin: $margin;
}

@mixin rs-snackbar-z-index($z-index) {
  z-index: $z-index;
}
