@import "@rsmdc/animation/functions";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/elevation/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/theme/mixins";
@import "./variables";
@import "./mixins";
@import "./rs-mixins";

.rs-snackbar {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: auto;
  margin: $rs-snackbar-viewport-margin-narrow;

  &.-opening,
  &.-open,
  &.-closing {
    display: flex;
  }

  &.-open > .surface {
    opacity: 1;
    transform: scale(1);
    transition: rs-animation-enter(opacity, $rs-snackbar-enter-duration),
      rs-animation-enter(transform, $rs-snackbar-enter-duration);
  }

  > .surface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transform: scale(0.8);
    opacity: 0;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: 70ms;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: nowrap;
    padding-bottom: 0;
    background-color: $rs-snackbar-fill-color;
    min-width: auto;
    max-width: 100%;
  }

  > .dismiss {
    color: $rs-snackbar-dismiss-ink-color;
  }
}

.rs-snackbar-title {
  @include rs-typography($rs-snackbar-label-type-scale);
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 16px;
  word-break: break-word;
  color: $rs-snackbar-label-ink-color;
}

rs-snackbar > rs-button {
  @include rs-states($rs-snackbar-action-ink-color);
  color: $rs-snackbar-action-ink-color;
  white-space: nowrap;
  padding: 0 4px;
}
