@import '../rtl/mixins';

@mixin rs-drawer-app-content() {
  margin-left: var(--rs-drawer-app-content--margin-left, 0);
  margin-right: var(--rs-drawer-app-content--margin-right, 0);
  position: relative;
}

@mixin rs-drawer-permanent-content() {
  display: flex;
  // height: 100vh;
  height: 100%;
}

@mixin rs-drawer-type($type) {
  @if $type == modal {
    @include rs-drawer-scrim-fill-color($rs-drawer-modal-scrim-color);    
    --rs-drawer--left: 0;
    --rs-drawer--right: auto;
    --rs-drawer--display: none;
    --rs-drawer--position: fixed;
    --rs-drawer--box-shadow: #{rs-elevation($rs-drawer-modal-elevation)};
    --rs-drawer__open--display: flex;
    --rs-drawer__modal: true;

    &.-open {

      @at-root {
        html {
          color: green;
        }

      }
    }
  }@else if $type == dismissible {
    --rs-drawer--left: 0;
    --rs-drawer--right: auto;
    --rs-drawer--display: none;
    --rs-drawer--position: absolute;
    --rs-drawer__open--display: flex;
    --rs-drawer__dismissible: true;

    + * {
      @include rs-drawer-app-content();
    }
  }
}

@mixin rs-drawer-toggle($state: false) {
  --_rs-drawer: true;
  --_rs-drawer-open: #{$state};
}