@import "@rsmdc/animation/functions";
@import "@rsmdc/elevation/mixins";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/typography/variables";
@import "./variables";
@import "./mixins";

.rs-dialog,
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.rs-dialog {
  visibility: hidden;
  z-index: $rs-dialog-z-index;
  > .scrim {
    opacity: 0;
    z-index: -1;
    background-color: $rs-dialog-scrim-color;
  }

  > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    transform: scale(.8);
    opacity: 0;
  }

  > .container > .surface {
    max-width: $rs-dialog-max-width;
    min-width: auto;
    max-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    border-radius: 4px;
    background-color: $rs-theme-surface;
  }

  &.-open,
  &.-opening,
  &.-closing {
    display: flex;
  }


  &.-open {
    > .scrim {
      opacity: 1;
      transition: opacity 150ms linear;
    }

    > .container {
      opacity: 1;
      transform: scale(1);
      transition: opacity 75ms linear, rs-animation-enter(transform, 150ms);
    }
  }

  &.-scroll-lock {
    overflow: hidden;
  }
}

.rs-dialog-title {
  @include rs-typography(headline6);
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px $rs-dialog-title-bottom-padding;
  border-bottom: none;
  border-top: none;
  color: $rs-theme-on-surface;
  &::before {
    display: inline-block;
    width: 0;
    height: 40px;
    content: "";
    vertical-align: 0;
  }
}

rs-dialog-content {
  height: 100%;
  overflow-y: auto;
  padding: 20px 24px;
  border-bottom: none;
}

.rs-dialog-content {
  @include rs-typography(body1);
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  opacity: .6;
  -webkit-overflow-scrolling: touch;
  color: $rs-theme-on-surface;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.rs-list:first-child:last-child {
  padding: 6px 0 0;
}

rs-dialog-title + rs-dialog-content {
  padding-top: 0;
}

rs-dialog-title + div,
rs-dialog-content + div {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  border-top: 1px solid transparent; 
  flex-direction: row;
  align-items: normal;

  > rs-button {
    margin-left: 8px;
  }
}

rs-dialog[scrollable] > rs-dialog-title {
  border-bottom: solid 1px;
  border-bottom-color: $rs-dialog-scroll-divider-color;
}

rs-dialog[scrollable] > rs-dialog-content {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $rs-dialog-scroll-divider-color;
  padding: 8px 24px;

}


