@mixin rs-dialog-type($type) {
  @if $type == stacked {

    .dummy {
      color: inherit;
    }
    
    rs-dialog {
      + div {
        flex-direction: column;
        text-align: right;
      }
    }

    rs-dialog-title + div,
    rs-dialog-content + div {
      flex-direction: column;
      text-align: right;
    }
  }
}