@import "@rsmdc/theme/mixins";
@import "./variables";

@mixin rs-dialog-type($type) {
  @if $type == stacked {

    .dummy {
      color: inherit;
    }
    
    rs-dialog {
      + div {
        flex-direction: column;
        text-align: right;
      }
    }

    rs-dialog-title + div,
    rs-dialog-content + div {
      flex-direction: column;
      text-align: right;
    }
  }
}

@mixin rs-dialog-shape-radius($radius) {
  .rs-dialog {
    > .container > .surface {
      border-radius: $radius;
    }
  }
}

@mixin rs-dialog-min-width($min-width) {
  .rs-dialog {
    > .container > .surface {
      min-width: $min-width;
    }
  }
}

@mixin rs-dialog-max-width($max-width) { 
  .rs-dialog {
    > .container > .surface {
      max-width: $max-width;
    }
  }
}

@mixin rs-dialog-max-height($max-height) {
  .rs-dialog {
    > .container > .surface {
      max-height: $max-height;
    }
  }
}

@mixin rs-dialog-container-fill-color($color) {
  .rs-dialog {
    > .container > .surface {
      background-color: $color;
    }
  }
}

@mixin rs-dialog-title-ink-color($color, $opacity: $rs-dialog-title-ink-opacity) {
  .rs-dialog-title {
    color: $color;
  }
}

@mixin rs-dialog-content-ink-color($color, $opacity: $rs-dialog-content-ink-opacity) {
  .rs-dialog-content {
    color: $color;
  }
}

@mixin rs-dialog-scroll-divider-color($color, $opacity: $rs-dialog-scroll-divider-opacity) {
  
  @at-root {
    rs-dialog[scrollable] > rs-dialog-title {
      border-color: $color;
    }
    rs-dialog[scrollable] > rs-dialog-content {
      border-color: $color;
    }
  }
}