@mixin rs-dialog-type($type) {
  @if $type == stacked {

    .dummy {
      color: inherit;
    }
    
    rs-dialog {
      + div {
        flex-direction: column;
        text-align: right;
      }
    }

    rs-dialog-title + div,
    rs-dialog-content + div {
      flex-direction: column;
      text-align: right;
    }
  }
}

@mixin rs-dialog-shape-radius($radius) {
  .rs-dialog {
    > .container > .surface {
      border-radius: $radius;
    }
  }
}

@mixin rs-dialog-min-width($min-width) {
  .rs-dialog {
    > .container > .surface {
      min-width: $min-width;
    }
  }
}

@mixin rs-dialog-max-width($max-width) { 
  .rs-dialog {
    > .container > .surface {
      max-width: $max-width;
    }
  }
}

@mixin rs-dialog-max-height($max-height) {
  .rs-dialog {
    > .container > .surface {
      max-height: $max-height;
    }
  }
}