@mixin rs-data-table-fill-color($color) {
  background-color: $color;
}

@mixin rs-data-table-row-fill-color($color) {
  rs-data-table-body > rs-data-table-row {
    background-color: $color;
  }
}

@mixin rs-data-table-header-row-fill-color($color) {
  rs-data-table-header > rs-data-table-row {
    background-color: $color;
  }
}

@mixin rs-data-table-divider-color($color) {
  rs-data-table-body > rs-data-table-row {
    border-top-color: $color;
  }
}

@mixin rs-data-table-divider-size($size) {
  rs-data-table-body > rs-data-table-row {
    border-top-width: $size;
    border-top-style: solid;
  }
}

@mixin rs-data-table-stroke-size($size) {
  border-width: $size;
  border-style: solid;
}

@mixin rs-data-table-stroke-color($color) {
  border-color: $color;
}

@mixin rs-data-table-cell-padding(
  $leading-padding: $rs-data-table-cell-leading-padding,
  $trailing-padding: $rs-data-table-cell-trailing-padding
) {
  rs-data-table-cell {
    padding-right: $trailing-padding;
    padding-left: $leading-padding;
  }
}

@mixin rs-data-table-column-widths($width-list) {
  @for $i from 1 through length($width-list) {
    .rs-data-table-row > :nth-child(#{$i}) {
      width: nth($width-list, $i);
    }
  }
}

.rs-data-table {
  @include rs-data-table-fill-color($rs-data-table-fill-color);
  @include rs-data-table-stroke-size($rs-data-table-stroke-size);
  @include rs-data-table-stroke-color($rs-data-table-stroke-color);

  @at-root {
    @include rs-data-table-row-fill-color($rs-data-table-row-fill-color);
    @include rs-data-table-header-row-fill-color(
      $rs-data-table-header-row-fill-color
    );
    @include rs-data-table-divider-color($rs-data-table-divider-color);
    @include rs-data-table-divider-size($rs-data-table-divider-size);
    @include rs-data-table-cell-padding(
      $leading-padding: $rs-data-table-cell-leading-padding,
      $trailing-padding: $rs-data-table-cell-trailing-padding
    );
  }
}
