@mixin rs-data-table-header-text-align($type) {
  @if $type == center {
    rs-data-table-header > rs-data-table-row > rs-data-table-cell {
      justify-content: center;
    }

    .dummy1 {
      color: green;
    }
  } @else if $type == right {
    rs-data-table-header > rs-data-table-row > rs-data-table-cell {
      justify-content: flex-end;
    }
  }
}

@mixin rs-data-table-body-text-align($type) {
  @if $type == center {
    rs-data-table-body > rs-data-table-row > rs-data-table-cell {
      justify-content: center;
    }

    .dummy2 {
      z-index: auto;
    }
  } @else if $type == right {
    rs-data-table-body > rs-data-table-row > rs-data-table-cell {
      justify-content: flex-end;
    }
  }
}

@mixin rs-data-table-header-height($height) {
  rs-data-table-header > rs-datat-table-row {
    height: $height;
  }
}

@mixin rs-data-table-height($height) {
  .rs-data-table-row {
    height: $height;
  }
}

@mixin rs-data-table-divider-size($size) {
  rs-data-table-body > rs-data-table-row {
    border-top-width: $size;
    border-top-style: solid;
  }
}

@mixin rs-data-table-shape-radius($radius) {
  .rs-data-table {
    border-radius: $radius;
  }
}

@mixin rs-data-table-stroke-size($size) {
  .rs-data-table {
    border-width: $size;
    border-style: solid;
  }
}

@mixin rs-data-table-header-row-height($height) {
  rs-data-table-header > rs-data-table-row {
      height: $height;
  }
}

@mixin rs-data-table-row-height($height) {
  .rs-data-table-row {
    height: $height;
  }
}

@mixin rs-data-table-cell-padding($padding) {
  .rs-data-table-cell {
    padding-right: $padding;
    padding-left: $padding;
  }
}

@mixin rs-data-table-fill-color($color) {
  .rs-data-table {
    background-color: $color;
  }
}

@mixin rs-data-table-header-row-fill-color($color) {
  rs-data-table-header {
    background-color: $color;
  }
}

@mixin rs-data-table-row-fill-color($color) {
  rs-data-table-body > rs-data-table-row {
    background-color: $color;
  }
}

@mixin rs-data-table-selected-row-fill-color($color) {
  .rs-data-table-row {
    &.-selected {
      background-color: $color;
      &:hover {
        background-color: $color;
      }
    }
  }
}

@mixin rs-data-table-stroke-color($color) {
  .rs-data-table {
    border-color: $color;
  }
}

@mixin rs-data-table-divider-color($color) {
  rs-data-table-row {
    border-top-color: $color;
  }
}

@mixin rs-data-table-row-hover-fill-color($color) {
 .rs-data-table-row {
   &:hover:not(.-header) {
      background-color: $color;
    }
  }
}

@mixin rs-data-table-header-row-text-color($color) {
  .rs-data-table-header {
    color: $color;
  }
}

@mixin rs-data-table-row-text-color($color) {
  .rs-data-table-body {
    color: $color;
  }
}