rs-checkbox {

 --rs-ripple-surface--test-edge-var-bug---visibility: hidden;
 --rs-ripple-surface--test-edge-var-bugPEbefore---border: 1px solid #000;
 --rs-checkbox---border-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkbox---position: relative;
 --rs-checkbox---display: inline-flex;
 --rs-checkbox---align-items: center;
 --rs-checkbox---vertical-align: middle;
 --rs-checkbox---flex-flow: row;
 --rs-checkboxCHcontainer---display: inline-block;
 --rs-checkboxCHcontainer---position: relative;
 --rs-checkboxCHcontainer---flex: 0 0 18px;
 --rs-checkboxCHcontainer---box-sizing: content-box;
 --rs-checkboxCHcontainer---width: 18px;
 --rs-checkboxCHcontainer---height: 18px;
 --rs-checkboxCHcontainer---padding: 11px;
 --rs-checkboxCHcontainer---line-height: 0;
 --rs-checkboxCHcontainer---white-space: nowrap;
 --rs-checkboxCHcontainer---cursor: pointer;
 --rs-checkboxCHcontainer---vertical-align: bottom;
 --rs-checkboxCHcontainer-background-focusedCHbackgroundPEbefore---content: none;
 --rs-checkboxCHcontainer-upgradedCHbackgroundrs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmarkrs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmarkCHcheckmarkpathrs-checkboxCHcontainer-upgradedCHbackgroundCHmixedmark---transition: none !important;
 --rs-checkboxCHcontainerNdisabledV---cursor: default;
 --rs-checkboxCHcontainerNdisabledV---pointer-events: none;
 --rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundrs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackground---animation-duration: 180ms;
 --rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundrs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackground---animation-timing-function: linear;
 --rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundCHcheckmarkCHcheckmarkpath---animation: rs-checkbox-unchecked-checked-checkmark-path 180ms linear 0s;
 --rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundCHcheckmarkCHcheckmarkpath---transition: none;
 --rs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundCHmixedmark---animation: rs-checkbox-unchecked-indeterminate-mixedmark 90ms linear 0s;
 --rs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundCHmixedmark---transition: none;
 --rs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundCHcheckmarkCHcheckmarkpath---animation: rs-checkbox-checked-unchecked-checkmark-path 90ms linear 0s;
 --rs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundCHcheckmarkCHcheckmarkpath---transition: none;
 --rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHcheckmark---animation: rs-checkbox-checked-indeterminate-checkmark 90ms linear 0s;
 --rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHcheckmark---transition: none;
 --rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHmixedmark---animation: rs-checkbox-checked-indeterminate-mixedmark 90ms linear 0s;
 --rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHmixedmark---transition: none;
 --rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHcheckmark---animation: rs-checkbox-indeterminate-checked-checkmark 500ms linear 0s;
 --rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHcheckmark---transition: none;
 --rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHmixedmark---animation: rs-checkbox-indeterminate-checked-mixedmark 500ms linear 0s;
 --rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHmixedmark---transition: none;
 --rs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackgroundCHmixedmark---animation: rs-checkbox-indeterminate-unchecked-mixedmark 300ms linear 0s;
 --rs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackgroundCHmixedmark---transition: none;
 --rs-checkboxCHcontainer-anim-unchecked-checkedCHnativecontrolPSenabledSIbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHnativecontrolPSenabledSIbackground---animation-name: rs-checkbox-animation-name(0, in);
 --rs-checkboxCHcontainer-anim-checked-uncheckedCHnativecontrolPSenabledSIbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHnativecontrolPSenabledSIbackground---animation-name: rs-checkbox-animation-name(1, out);
 --rs-checkboxCHcontainerCHnativecontrol---position: absolute;
 --rs-checkboxCHcontainerCHnativecontrol---top: 0;
 --rs-checkboxCHcontainerCHnativecontrol---left: 0;
 --rs-checkboxCHcontainerCHnativecontrol---width: 100%;
 --rs-checkboxCHcontainerCHnativecontrol---height: 100%;
 --rs-checkboxCHcontainerCHnativecontrol---margin: 0;
 --rs-checkboxCHcontainerCHnativecontrol---padding: 0;
 --rs-checkboxCHcontainerCHnativecontrol---opacity: 0;
 --rs-checkboxCHcontainerCHnativecontrol---cursor: inherit;
 --rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---transform: scale(2.75, 2.75);
 --rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---opacity: 0.12;
 --rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---transition: opacity 80ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 80ms 0ms cubic-bezier(0, 0, 0.2, 1);
 --rs-checkboxCHcontainerCHnativecontrolPSdisabled---cursor: default;
 --rs-checkboxCHcontainerCHnativecontrolPSdisabled---pointer-events: none;
 --rs-checkboxCHcontainerCHnativecontrolPSdisabledPSnotVundefinedPSnotVSIbackground---border-color: #{$rs-checkbox-disabled-color};
 --rs-checkboxCHcontainerCHnativecontrolPSdisabledPScheckedSIbackground---border-color: transparent;
 --rs-checkboxCHcontainerCHnativecontrolPSdisabledPScheckedSIbackground---background-color: #{$rs-checkbox-disabled-color};
 --rs-checkboxCHcontainerCHnativecontrolPSdisabledNindeterminateVSIbackground---border-color: transparent;
 --rs-checkboxCHcontainerCHnativecontrolPSdisabledNindeterminateVSIbackground---background-color: #{$rs-checkbox-disabled-color};
 --rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmark---transition: opacity 180ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 180ms 0ms cubic-bezier(0, 0, 0.2, 1);
 --rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmark---opacity: 1;
 --rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHmixedmark---transform: scaleX(1) rotate(-45deg);
 --rs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHcheckmark---transform: rotate(45deg);
 --rs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHcheckmark---opacity: 0;
 --rs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHcheckmark---transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHmixedmark---transform: scaleX(1) rotate(0deg);
 --rs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHmixedmark---opacity: 1;
 --rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundrs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackground---transition: border-color 90ms 0ms cubic-bezier(0, 0, 0.2, 1), background-color 90ms 0ms cubic-bezier(0, 0, 0.2, 1);
 --rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmarkCHcheckmarkpathrs-checkboxCHcontainerCHnativecontrolNindeterminateVSIbackgroundCHcheckmarkCHcheckmarkpath---stroke-dashoffset: 0;
 --rs-checkboxCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---border-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkboxCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---background-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkboxCHcontainerCHnativecontrolPSenabledNindeterminateVSIbackground---border-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkboxCHcontainerCHnativecontrolPSenabledNindeterminateVSIbackground---background-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkboxCHcontainerCHbackground---display: inline-flex;
 --rs-checkboxCHcontainerCHbackground---position: absolute;
 --rs-checkboxCHcontainerCHbackground---top: 11px;
 --rs-checkboxCHcontainerCHbackground---bottom: 0;
 --rs-checkboxCHcontainerCHbackground---align-items: center;
 --rs-checkboxCHcontainerCHbackground---justify-content: center;
 --rs-checkboxCHcontainerCHbackground---box-sizing: border-box;
 --rs-checkboxCHcontainerCHbackground---width: 45%;
 --rs-checkboxCHcontainerCHbackground---height: 45%;
 --rs-checkboxCHcontainerCHbackground---border: 2px solid;
 --rs-checkboxCHcontainerCHbackground---border-radius: 2px;
 --rs-checkboxCHcontainerCHbackground---background-color: transparent;
 --rs-checkboxCHcontainerCHbackground---pointer-events: none;
 --rs-checkboxCHcontainerCHbackground---will-change: background-color, border-color;
 --rs-checkboxCHcontainerCHbackground---transition: background-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1), border-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHbackground---border-color: #{$rs-checkbox-border-color};
 --rs-checkboxCHcontainerCHbackgroundPEbefore---position: absolute;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---top: 0;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---right: 0;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---bottom: 0;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---left: 0;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---width: 100%;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---height: 100%;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---transform: scale(0, 0);
 --rs-checkboxCHcontainerCHbackgroundPEbefore---border-radius: 50%;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---opacity: 0;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---pointer-events: none;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---content: "";
 --rs-checkboxCHcontainerCHbackgroundPEbefore---will-change: opacity, transform;
 --rs-checkboxCHcontainerCHbackgroundPEbefore---transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHbackgroundPEbefore---background-color: #{$rs-checkbox-baseline-theme-color};
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---position: absolute;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---top: 0;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---right: 0;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---bottom: 0;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---left: 0;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---width: 100%;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---opacity: 0;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHbackgroundCHcheckmark---color: #{$rs-checkbox-mark-color};
 --rs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmark---opacity: 1;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---transition: stroke-dashoffset 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke: currentColor;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-width: 3.12px;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-dashoffset: 29.78334;
 --rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-dasharray: 29.78334;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---width: 100%;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---height: 0;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---transform: scaleX(0) rotate(0deg);
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-width: 1px;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-style: solid;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---opacity: 0;
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
 --rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-color: #{$rs-checkbox-mark-color};
 --rs-checkboxCHlabel---font-family: Roboto, sans-serif;
 --rs-checkboxCHlabel----moz-osx-font-smoothing: grayscale;
 --rs-checkboxCHlabel----webkit-font-smoothing: antialiased;
 --rs-checkboxCHlabel---font-size: 0.875rem;
 --rs-checkboxCHlabel---line-height: 1.25rem;
 --rs-checkboxCHlabel---font-weight: 400;
 --rs-checkboxCHlabel---letter-spacing: 0.01786em;
 --rs-checkboxCHlabel---text-decoration: inherit;
 --rs-checkboxCHlabel---text-transform: inherit;
 --rs-checkboxCHlabel---cursor: pointer;
 --rs-checkboxCHlabel---white-space: nowrap;
 --rs-checkboxCHlabel---text-overflow: ellipsis;
 --rs-checkboxCHlabel---margin-right: auto;
 --rs-checkboxCHlabel---padding-right: 0;
 --rs-checkboxCHlabel---padding-left: 4px;
 --rs-checkboxCHlabelNdisabledV---cursor: default;
 --rs-checkboxCHlabelNdisabledV---pointer-events: none;
 --media--rs-checkboxCHcontainerCHbackgroundCHmixedmark---margin: 0 1px;
 --rs-ripple-fg-size: 0;
 --rs-ripple-left: 0;
 --rs-ripple-top: 0;
 --rs-ripple-fg-scale: 1;
 --rs-ripple-fg-translate-end: 0;
 --rs-ripple-fg-translate-start: 0;
 --rs-ripple-upgraded----webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 --rs-ripple-upgraded---will-change: transform, opacity;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---position: absolute;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---border-radius: 50%;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---opacity: 0;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---pointer-events: none;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---content: "";
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---top: calc(50% - 50%);
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---left: calc(50% - 50%);
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---width: 100%;
 --rs-ripple-upgradedPEbeforers-ripple-upgradedPEafter---height: 100%;
 --rs-ripple-upgradedPEbefore---transition: opacity 15ms linear, background-color 15ms linear;
 --rs-ripple-upgradedPEbefore---z-index: 1;
 --rs-ripple-upgradedPEbefore---background-color: #{$rs-checkbox-baseline-theme-color};
 --rs-ripple-upgradedPEbefore---content: '';
 --rs-ripple-upgradedrs-ripple-upgradedPEbefore---transform: scale(var(--rs-ripple-fg-scale, 1));
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---top: 0;
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---left: 0;
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---transform: scale(0);
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---transform-origin: center center;
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---width: var(--rs-ripple-fg-size, 100%);
 --rs-ripple-upgradedrs-ripple-upgradedPEafter---height: var(--rs-ripple-fg-size, 100%);
 --rs-ripple-upgradedrs-ripple-upgraded--unboundedPEafter---top: var(--rs-ripple-top, 0);
 --rs-ripple-upgradedrs-ripple-upgraded--unboundedPEafter---left: var(--rs-ripple-left, 0);
 --rs-ripple-upgradedrs-ripple-upgraded--foreground-activationPEafter---animation: rs-ripple-fg-radius-in 225ms forwards, rs-ripple-fg-opacity-in 75ms forwards;
 --rs-ripple-upgradedrs-ripple-upgraded--foreground-deactivationPEafter---animation: rs-ripple-fg-opacity-out 150ms;
 --rs-ripple-upgradedrs-ripple-upgraded--foreground-deactivationPEafter---transform: translate(var(--rs-ripple-fg-translate-end, 0)) scale(var(--rs-ripple-fg-scale, 1));
 --rs-ripple-upgradedrs-ripple-upgradedPEbeforers-ripple-upgradedrs-ripple-upgradedPEafter---top: var(--rs-ripple-top, calc(50% - 50%));
 --rs-ripple-upgradedrs-ripple-upgradedPEbeforers-ripple-upgradedrs-ripple-upgradedPEafter---left: var(--rs-ripple-left, calc(50% - 50%));
 --rs-ripple-upgradedrs-ripple-upgradedPEbeforers-ripple-upgradedrs-ripple-upgradedPEafter---width: var(--rs-ripple-fg-size, 100%);
 --rs-ripple-upgradedrs-ripple-upgradedPEbeforers-ripple-upgradedrs-ripple-upgradedPEafter---height: var(--rs-ripple-fg-size, 100%);
 --rs-ripple-upgradedPEafter---background-color: #{$rs-checkbox-baseline-theme-color};
 --rs-ripple-upgradedPEafter---content: '';
 --rs-ripple-upgradedPShoverPEbefore---opacity: #{rs-states-opacity($rs-checkbox-baseline-theme-color, hover)};
 --rs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---transition-duration: 75ms;
 --rs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---opacity: #{rs-states-opacity($rs-checkbox-baseline-theme-color, focus)};
 --rs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---transition-duration: 75ms;
 --rs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---opacity: #{rs-states-opacity($rs-checkbox-baseline-theme-color, focus)};
 --rs-ripple-upgradedPSnotVrs-ripple-upgradedPEafter---transition: opacity 150ms linear;
 --rs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---transition-duration: 75ms;
 --rs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---opacity: #{rs-states-opacity($rs-checkbox-baseline-theme-color, press)};
 --rs-ripple-upgradedrs-ripple-upgraded-----rs-ripple-fg-opacity: #{rs-states-opacity($rs-checkbox-baseline-theme-color, press)};
}