@import '@rsmdc/animation/variables';
@import '@rsmdc/drawer/variables';
@import '@rsmdc/elevation/mixins';
@import "@rsmdc/ripple/mixins-stencil";
@import '@rsmdc/theme/variables';
@import '@rsmdc/typography/mixins';
@import './variables';
@import './_mixins';

@include rs-ripple-common;

.rs-app-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 4;
  color: $rs-theme-on-primary;
  background-color: $rs-theme-primary;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: auto;
  width: auto;

  &.-fixed-scrolled {
    box-shadow: rs-elevation(4);
    transition: box-shadow 200ms linear;
  }

  &.-short-collapsed {
    width: $rs-top-app-bar-short-collapsed-width;
    transition: width 300ms $rs-animation-standard-curve-timing-function;
    box-shadow: rs-elevation(4);
    border-radius: 0 0 24px 0;
    padding-right: 12px;
    padding-left: 0;
    margin-left: 0;


    // --rs-top-app-bar-title--display: none;
    // --rs-top-app-bar-action-item--transition: #{padding 150ms $rs-animation-standard-curve-timing-function};
    // --rs-top-app-bar-action-item--padding-right: var(--rs-top-app-bar__collapsed-actionItems--padding-right);
  }

  &.-short-collapsed > .row > .section {
    padding-right: 12px;
    padding-left: 0;
    margin-left: 0;
  }

  &.-has-action-item {
    --rs-top-app-bar--width: var(--rs-top-app-bar__collapsed--width);
  }

  &.-drawer {
    position: absolute;
    margin-left: var(--rs-app-layout-content--margin-left);
  }

  &.-drawer.-fixed-scrolled,
  &.-drawer.-short-collapsed {
    position: fixed;
    margin-left: $rs-drawer-width;
  }

  > .row {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: $rs-top-app-bar-row-height;
  }

  > .row > .section {
    $padding: $rs-top-app-bar-section-vertical-padding $rs-top-app-bar-section-horizontal-padding;
  
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    z-index: 1;
    padding: $padding;
    padding-right: $rs-top-app-bar-section-horizontal-padding;
  }
}

.rs-app-bar-content {
  padding-top: $rs-top-app-bar-row-height;
}

.rs-app-bar-title-host {
  padding-bottom: 0;
  align-self: flex-start;
}

.rs-app-bar-title {
  @include rs-typography(headline6);
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  padding-right: 0;
  margin: 0;
  color: $rs-theme-on-primary;
  transition: none;
  opacity: 1;
  display: block;
  padding-left: $rs-top-app-bar-title-left-padding;
}

.rs-app-bar-nav-host {
  align-self: flex-start;
}

.rs-app-bar-nav {
  @include rs-app-bar-icon_;
  color: $rs-theme-on-primary;

  > .label {
    @include rs-app-bar-icon-label_;
  }

  &.rs-ripple-upgraded {
    @include rs-ripple-surface;
    @include rs-ripple-radius-unbounded;
    @include rs-ripple-upgraded($rs-theme-on-primary);
  }
}

.rs-app-bar-item-host {
  align-self: flex-start;
}

.rs-app-bar-item {
  @include rs-app-bar-icon_;
  color: $rs-theme-on-primary;

  > .label {
    @include rs-app-bar-icon-label_;
  }
  
  &.rs-ripple-upgraded {
    @include rs-ripple-surface;
    @include rs-ripple-radius-unbounded;
    @include rs-ripple-upgraded($rs-theme-on-primary);
  }
}

.rs-app-bar-tools-host {
  // --rs-top-app-bar-actions: true;
  margin-left: auto;
  margin-right: 0;
  align-self: flex-start;
}

.rs-app-bar-tool {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

@media (max-width: $rs-top-app-bar-mobile-breakpoint) {
  .rs-app-bar {
    transition: width 250ms $rs-animation-standard-curve-timing-function;

    > .row {
      height: $rs-top-app-bar-mobile-row-height;
    }

    > .row > .section {
      padding: $rs-top-app-bar-mobile-section-padding;
    }
  }
}