.rs-app-bar-title-host {
  padding-bottom: 0;
  align-self: auto;
}

.rs-app-bar-nav-host {
  align-self: flex-start;
}

.rs-app-bar-tool-host {
  // --rs-top-app-bar-actions: true;
  margin-left: auto;
  margin-right: 0;
  align-self: flex-start;
}

.rs-app-bar-item-host {
  align-self: flex-start;
}