@import "@rsmdc/ripple/variables";
@import "@rsmdc/theme/variables";

$rs-checkbox-mark-color: rs-theme-prop-value(on-primary) !default;
$rs-checkbox-border-color: rgba(rs-theme-prop-value(on-surface), .54) !default;
$rs-checkbox-disabled-color: rgba(rs-theme-prop-value(on-surface), .26) !default;
$rs-checkbox-indeterminate-disabled-color: rgba(rs-theme-prop-value(secondary), .26) !default;
$rs-checkbox-baseline-theme-color: rs-theme-prop-value(secondary) !default;
$rs-checkbox-touch-area: 40px !default;
$rs-checkbox-size: 18px !default;
$rs-checkbox-ui-pct: percentage($rs-checkbox-size / $rs-checkbox-touch-area) !default;
$rs-checkbox-mark-stroke-size: 2/15 * $rs-checkbox-size !default;
$rs-checkbox-border-width: 2px !default;
$rs-checkbox-transition-duration: 90ms !default;
$rs-checkbox-item-spacing: 4px !default;
$rs-checkbox-focus-indicator-opacity: map-get($rs-ripple-dark-ink-opacities, focus) !default;

// Manual calculation done on SVG
$rs-checkbox-mark-path-length_: 29.7833385 !default;
$rs-checkbox-indeterminate-checked-easing-function_: cubic-bezier(.14, 0, 0, 1) !default;

$rs-checkbox-label-spacing: 4px;