@mixin rs-image-list-aspect($width-height-ratio) {
.rs-image-list > .item > .imageaspectcontainer {
    padding-bottom: calc(100% / #{$width-height-ratio});
  }
}

@mixin rs-image-list-shape-radius($radius) {
  .rs-image-list > .item > .imageaspectcontainer > .image {
    @include rs-shape-radius($radius);
  }
  $selector: if(&, "&.rs-image-list--with-text-protection", ".rs-image-list--with-text-protection");
  #{$selector} .supporting {
    $masked-radius: rs-shape-mask-radius($radius, 0 0 1 1);
    @include rs-shape-radius($masked-radius);
  }
}

@mixin rs-image-list-standard-columns($column-count, $gutter-size: $rs-image-list-standard-gutter-size) {
  .rs-image-list > .item {
    width: calc(100% / #{$column-count} - #{$gutter-size + 1 / $column-count});
    margin: $gutter-size / 2;
  }
}

@mixin rs-image-list-masonry-columns($column-count, $gutter-size: $rs-image-list-masonry-gutter-size) {
  column-count: $column-count;
  column-gap: $gutter-size;

  .rs-image-list > .item {
    margin-bottom: $gutter-size;
  }
}
  


.rs-image-list {
  @include rs-image-list-aspect(1);
  @include rs-image-list-shape-radius(0);
}
  