@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";
@import "./variables";
@import "./mixins";

.rs-image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  > .item,
  > .item > .imageaspectcontainer {
    position: relative;
    box-sizing: border-box;
  }

  > .item {
    list-style-type: none;
  }

  > .imageaspectcontainer > .image {
    width: 100%;
  }

  > .imageaspectcontainer > .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > .item > .supporting {
    color: text-primary-on-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 0;
    line-height: $rs-image-list-icon-size;
  }

  > .item > .supporting > .label {
    @include rs-typography(subtitle1);
    @include rs-typography-overflow-ellipsis;
  }

  > .withtextprotection > .supporting {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: $rs-image-list-text-protection-height;
    padding: 0 $rs-image-list-text-protection-horizontal-padding;

    background: $rs-image-list-text-protection-background-color;
    color: #fff;
  }

  &.-masonry {
    display: block;

    > .item {
      break-inside: avoid-column;
    }

    > .item > .image {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}