@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";
@import "./variables";
@import "./mixins";

rs-image-list {
  display: flex;
  flex-wrap: wrap;
}

.rs-image-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  column-count: 5;
  column-gap: 4px;
}

.rs-image-list-item {
  position: relative;
  width: 100%;
  margin: 2px 2px $rs-image-list-standard-gutter-size;
  list-style-type: none;
  break-inside: avoid-column;
  box-sizing: border-box;
}

.rs-image-list-image {
  position: relative;
  padding-bottom: 66.66667%;
  overflow: hidden;
  
  > .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
  }
}

.rs-image-list-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: $rs-image-list-text-protection-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $rs-image-list-text-protection-horizontal-padding;
  background: $rs-image-list-text-protection-background-color;
  color: $rs-theme-on-primary;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  line-height: normal;
}

rs-image-list-label > span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

rs-image-list-label > rs-button {
  --rs-buttonCHlabelPEbefore---color: #ffffff;
}