@mixin rs-image-list-type($type) {
  @if $type == masonry {

    rs-image-list-label > rs-button {
      --rs-buttonCHlabelPEbefore---color: black;
    }

    .rs-image-list {
      column-count: 3;
      column-gap: 10px;
    }

    .rs-image-list-image {
      padding-bottom: 0;
      > .image {
        position: relative;
        border-radius: 0;
      }
    }

    .rs-image-list-item {
      margin: 0 0 16px 0;
    }

    .rs-image-list-label {
      position: relative;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 8px 0;
      line-height: $rs-image-list-icon-size;
      background: none;
      color: $rs-theme-on-surface;
    }
  }
}

@mixin rs-image-list-columns($column-count) {
  .rs-image-list {
    column-count: $column-count;
  }
}
