@import "../functions";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";

// postcss-bem-linter: define text-field-helper-text

.rs-text-field-helper-text {
  @include rs-typography(caption);
  @include rs-typography-baseline-top(16px);

  margin: 0;
  transition: rs-text-field-transition(opacity);
  opacity: 0;
  will-change: opacity;
}

.rs-text-field-helper-text--persistent {
  transition: none;
  opacity: 1;
  will-change: initial;
}