// Copyright 2016 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "../rtl/mixins";
@import "../theme/mixins";
@import "../shape/mixins";
@import "../ripple/mixins";
@import "../theme/functions";
@import "../typography/mixins";
@import "../typography/variables";
@import "../feature-targeting/functions";
@import "../feature-targeting/mixins";
@import "./variables";


@mixin rs-list-core-styles($query: rs-feature-all()) {
  @include rs-list-without-ripple($query);
  @include rs-list-ripple($query);
}

@mixin rs-list-without-ripple($query: rs-feature-all()) {
  .rs-list {
    @include rs-list-base_($query);
  }

  .rs-list-item {
    @include rs-list-item-base_;
  }

  .rs-list-item--selected,
  .rs-list-item--activated {
    @include rs-list-item-primary-text-ink-color($rs-theme-primary);
    @include rs-list-item-graphic-ink-color($rs-theme-primary);
  }

  .rs-list-item--disabled {
    @include rs-list-item-primary-text-ink-color(rs-theme-ink-color-for-fill_(disabled, $rs-theme-background));
  }

  .rs-list-item__graphic {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
  }

  .rs-list-item__text {
    @include rs-typography-overflow-ellipsis($query);
    &[for] {
      pointer-events: none;
    }
  }

  .rs-list-item__primary-text {
    @include rs-typography-overflow-ellipsis($query);

    display: block;
  }

  .rs-list-item__secondary-text {
    line-height: 1.25rem; // 20sp
    font-weight: map-get($rs-typography-font-weight-values, regular);
    letter-spacing: rs-typography-get-letter-spacing_(.25, .875);
    text-decoration: inherit;
    text-transform: inherit;
    @include rs-typography-overflow-ellipsis($query);

    display: block;
  }

  .rs-list-divider {
    height: 0;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .rs-list-group__subheader {
    $rs-list-subheader-virtual-height: 3rem;
    $rs-list-subheader-leading: map-get(map-get($rs-typography-styles, body1), line-height);
    $rs-list-subheader-margin: ($rs-list-subheader-virtual-height - $rs-list-subheader-leading) / 2;

    @include rs-typography(subtitle1, $query);

    margin: $rs-list-subheader-margin $rs-list-side-padding;
  }
}

@mixin rs-list-ripple($query: rs-feature-all()) {
  @include rs-ripple-common($query);

  .rs-list-item:not(.rs-list-item--disabled) {
    @include rs-ripple-surface($query);
    @include rs-ripple-radius-bounded($query: $query);
  }
}

@mixin rs-list-item-primary-text-ink-color($color) {
  --rs-list--color: #{$color};
}

@mixin rs-list-item-secondary-text-ink-color($color) {
  --rs-list-item-secondary-text--color: #{$color};
}

@mixin rs-list-item-graphic-fill-color($color) {
  --rs-list-item-graphic--background-color: #{$color};
}

@mixin rs-list-item-graphic-ink-color($color) {
  --rs-list-item-graphic--color: #{$color};
}

@mixin rs-list-item-meta-ink-color($color) {
  --rs-list-item-meta--color: #{$color};
}

@mixin rs-list-item-shape-radius($radius, $rtl-reflexive: false) {
  --rs-list-item--border-radius: #{rs-shape-radius($radius)};
  --rs-list-item_rtl--border-radius: #{rs-shape-rtl-radius($radius, $rtl-reflexive)};
}

@mixin rs-list-divider-color($color) {
  --rs-list-divider--border-bottom-color: #{$color};
}

@mixin rs-list-group-subheader-ink-color($color) {
  --rs-list-group-subheader--color: #{$color};
}

@mixin rs-list-base_($query: rs-feature-all()) {
  @include rs-typography(subtitle1, $query);

  padding-right: 0;
  padding-left: 0;
  line-height: map-get(map-get($rs-typography-styles, body1), line-height);
  margin: 0;
  list-style-type: none;
}

@mixin rs-list-item-base_ {
  display: flex;
  position: relative;
  justify-content: flex-start;
  padding: 0 $rs-list-side-padding;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

@mixin rs-list-graphic-size_($size) {
  --rs-list-item-graphic--width: #{$size};
  --rs-list-item-graphic--height: #{$size};
}
