@mixin rs-textfield-type($type) {
  @if $type == outlined {

    .rs-textfield {

      > .form:not(.-textarea) > .input {
        border-bottom: none;
      }

      > .form:not(.-textarea) > .input > .nativecontrol {
        padding: 12px 16px 14px;
      }

      > .form > .label {
        display: none;
      }
      
      > .rs-line-ripple {
        background-color: none;
      }

      &.-required > .form > .label {
        display: none;
      }

      &.-invalid > .rs-line-ripple {
        background-color: none;
      }

      &:not(.-disabled) > .form:not(.-textarea) > .input {
        background-color: transparent;
      }

      &:not(.-disabled) > .form:not(.-textarea):hover > .input {
        background-color: transparent;
      }

      &:not(.-disabled).-focused > .form:not(.-textarea) {
        background-color: transparent;
      }

      &:not(.-disabled).-focused > .form:not(.-textarea):hover > .input {
        background-color: transparent;
      }

      > .outline {
       &.-none {
          display: flex;
        }
      }
    }
  } @else if(dense) {
    .rs-textfield {
      > .form:not(.-textarea) {
        height: 48px;
      }

      > .form:not(.-textfield) > .input {
        padding: 12px 12px 7px;
      }
      
      > .form > .label {
        top: 14px;
      }

      > .outline > .notch > .label {
        top: 14px;
      }
    }
  }
}

@mixin rs-textfield-leading-icon-image($icon, $codepoint: '') {
  $value: if(str-slice('#{$icon}', 1, 4) == 'url(', path, font-family);

  @if $value == path {
    .rs-textfield {

      > .form:not(.-textarea) > .input {
        background-image: $icon;
        height: 24px;
        display: block;
      }
    }
  }@else {
    $font-family: '"' + $icon + '"';
    $name: '"' + '\\' + $codepoint + '"';

    .rs-textfield {
      font-family: $font-family;
      > .form:not(.-textarea) > .input::before {
        content: $name;
        display: block;
        padding-left: 48px;
      }

      > .form:not(.-textarea) > .input {
        padding-left: 48px;
      }

      > .form:not(.-textarea) > .input > .nativecontrol {
        padding-left: 48px;
      }

      > .form > .label {
        left: 48px;
      }

      > .outline > .notch > .label.-outlined {
        left: 48px;
      }
    } 
  }
}

@mixin rs-textfield-trailing-icon-image($icon, $codepoint: '') {
  $value: if(str-slice('#{$icon}', 1, 4) == 'url(', path, font-family);

  @if $value == path {
    .rs-textfield-trailing {
      background-image: $icon;
      height: 24px;
    }
  }@else {
    $font-family: '"' + $icon + '"';
    $name: '"' + '\\' + $codepoint + '"';

    .rs-textfield-trailing {
      font-family: $font-family;
      &:before {
        content: $name;
        display: block;
      }
    }
  }
}

@mixin rs-textfield-width($width) {
  .rs-textfield {
    > .form:not(.-textarea) > .input {
      width: $width;
    }
  }
}

@mixin rs-textarea-width($width) {
  .rs-textfield {
    > .form.-textarea > .input {
      width: $width;
    }
  }
}

@mixin rs-textarea-line-height($line-height) {
  .rs-textfield {
    > .form.-textarea > .input {
      line-height: $line-height;
    }
  }
}