@import "./variables";
@import "./functions";
@import "@rsmdc/animation/variables";
@import "../../../typography/mixins-stencil";
@import "@rsmdc/floating-label/mixins-stencil";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/line-ripple/rs-line-ripple";
@import "@rsmdc/notched-outline/mixins-stencil";
@import "./mixins";

@include rs-floating-label-animation;

.rs-textfield {
  position: relative;
  font-family: inherit;

   > .form:not(.-textarea) {
    display: block;
    position: relative;
    box-sizing: border-box;
    will-change: opacity, transform, color;
    height: $rs-text-field-height;
    width: auto;
    overflow: hidden;
    border: none;
    border-radius: 4px 4px 0 0;
  }

  &.-textarea.-outlined {
    width: 100%;
  } 

  > .form.-textarea {
    width: 142px;
    > .input {
      margin: 8px 1px 1px 0;
      padding: 0 16px 16px;
      border: none;
      align-self: auto;
      height: auto;
      line-height: 1.75rem;
      outline: none;
    }
  }

  > .label {
    @include rs-floating-label_;
    display: inherit;
  }

  &.-focused > .label {
    color: $rs-theme-primary;
  } 
  

  &.-disabled {
    > .form:not(.-textarea) {
      pointer-events: none;
      border-bottom: none;
      border-color: $rs-text-field-outlined-disabled-border;
      background-color: $rs-text-field-disabled-background;
      border-bottom-color: $rs-text-field-fullwidth-bottom-line-color;
    }

    > .form:not(.-textarea) > .input {
      background-color: $rs-text-field-disabled-background;
      border-bottom-color: $rs-text-field-disabled-border;

      &:hover {
        border-bottom-color: $rs-text-field-disabled-border;
      }

      &::before {
        color: $rs-text-field-disabled-icon;
      }    
    }

    > .form:not(.-textarea) > .input > .nativecontrol {
      color: $rs-text-field-disabled-ink-color;

      &:hover {
        color: $rs-text-field-disabled-ink-color;
      }
    }

    > .counter {
      color: $rs-text-field-disabled-helper-text-color;
    }
  }

  > .form:not(.-textarea) > .input {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    transition: rs-text-field-transition(opacity);
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;

    &::before {
      width: 24px;
      position: absolute;
      left: 16px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      height: auto;
      font-family: inherit;
      background-image: none;
      color: $rs-text-field-icon-color;
      font-size: 24px;
      font-weight: 400;
      display: none;
      content: none;
      top: auto;
      bottom: auto;
    }
  }

  &:not(.-disabled) {
    > .form:not(.-textarea) {
      background-color: $rs-text-field-background;

      &:hover {
        > .input {
          background-color: #ececec;
        } 
      }
    }

    > .form:not(.-textarea) > .input {
      background-color: $rs-text-field-background;
      border-bottom-color: $rs-text-field-bottom-line-idle;

      &:hover {
        border-bottom-color: $rs-text-field-bottom-line-hover;
      }
    }
    
    > .form:not(.-textarea) > .input > .nativecontrol {
      background-color: transparent;
      color: $rs-text-field-ink-color;
    }

    > .counter {
      color: $rs-text-field-helper-text-color;
    }
  }

  &:not(.-disabled).-invalid {
    > .form:not(.-textarea) > .input {
      border-bottom-color: $rs-text-field-error;

      &:hover {
        border-bottom-color: $rs-text-field-error;
      }
    }
  }


  > .form:not(.-textarea) > .input > .nativecontrol {
    @include rs-typography(subtitle1);
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: none;
    appearance: none;
    border: none;
    line-height: 1.75rem;
    caret-color: $rs-theme-primary;
    padding: 20px 16px 6px;
    padding-left: 16px;

    &::placeholder {
      transition: rs-text-field-transition(opacity, $duration: 67ms);
      color: $rs-text-field-placeholder-ink-color;
      opacity: 0;
      transition-delay: 0;
      transition-duration: 0;
    }

    &:-ms-input-placeholder {
      color: $rs-text-field-placeholder-ink-color !important;
    }
  
    &:focus {
      outline: none;
    }
  
    &:focus::placeholder {
      transition-delay: 40ms;
      transition-duration: 110ms;
      opacity: 1;
    }

    &:-webkit-autofill {
      z-index: auto !important;
    }
  }

  &.-invalid {
    > .form:not(.-textarea) > .input > .nativecontrol {
      box-shadow: none;
      caret-color: $rs-text-field-error;  
    }

    > .rs-line-ripple {
      background-color: $rs-text-field-error;
    }
  }

  &.-nolabel {
    > .form:not(.-textarea) > .input > .nativecontrol {
      padding: 16px;
      &::placeholder {
        opacity: 1;
      }
    }
  }

  > .form:not(.-textarea) > .input > .action {
    &::before {
      min-width: 24px;
      width: 24px;
      height: 24px;
      margin-right: 16px;
      margin-left: -4px;
      content: none;
      font-size: 24px;
      color: $rs-text-field-icon-color;
      display: none;
    }
  }

  > .rs-line-ripple {
    background-color: $rs-theme-primary;
  }

  &.-focused {
    > .outline > .notch,
    > .outline > .leading,
    > .outline > .trailing {
      border-color: $rs-theme-primary;
      border-width: 2px;
    }

    > .outline > .notch {
      border-top: none;
    }

    > .outline > .notch > .label {
      color: $rs-theme-primary;
    }
  }

  > .outline {
    @include rs-notched-outline_;
  
    > .notch {
      @include rs-notched-outline-notch_;
      border-top: solid;
      border-top-width: 1px;
      border-color: rgba(0, 0, 0, .24);
    }

    > .notch > .label {
      @include rs-floating-label_;
    } 

    > .leading {
      @include rs-notched-outline-leading_;
      border-color: rgba(0, 0, 0, .24);
    }

    > .trailing {
      @include rs-notched-outline-trailing_;
      border-color: rgba(0, 0, 0, .24);

    }
    
    &.-none {
      display: none;
    }
  }

  &:not(.-focused):hover {
    > .outline > .leading {
      border-color: $rs-text-field-outlined-hover-border;
    }
    
    > .outline > .trailing {
      border-color: $rs-text-field-outlined-hover-border;
    }
  }

  > .counter {
    @include rs-typography(caption);
    @include rs-typography-baseline-top(16px);
  
    margin-left: auto;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 0;
    white-space: nowrap;
    position: absolute;
    bottom: $rs-text-field-character-counter-bottom;
    right: 16px;

    &.-none {
      display: none;
    }
  }
}

rs-textfield[invalid] > rs-textfield-trailing {
  color: $rs-text-field-error;
}

rs-textfield[disabled] > rs-textfield-trailing {
  color: $rs-text-field-disabled-icon;
}
