@import './rs-mixins';
@import './variables';

rs-drawer {
  --rs-drawer-list-item--border-radius: 4px;

  position: fixed;
  z-index: 10;
  height: 100%;
}

:root {
  --rs-app-layout--display: flex;
  --rs-app-layout--height: 100%;
}

.rs-drawer {
  height: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: $rs-drawer-divider-color;
  border-radius: rs-shape-radius(large);
  background-color: $rs-drawer-surface-fill-color;
  width: $rs-drawer-width;
  z-index: $rs-drawer-z-index;
  box-sizing: border-box;
  box-shadow: none;
  display: none;

  &.-open {
    display: block;
  }

  &.-opening {
    transform: translateX(0);
    transition-duration: $rs-drawer-animation-enter;
  }

  &.-closing {
    transform: translateX(-100%);
    transition-duration: $rs-drawer-animation-exit;
  }

  > .content {
    @include rs-drawer-item-shape-radius(4px);

    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    transition-property: transform;
    transition-timing-function: $rs-animation-standard-curve-timing-function;
    overflow: hidden;
    transform: translateX(-100%);
    display: flex;
    position: static;
    left: auto;
    right: auto;
  }

  > .scrim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-timing-function: $rs-animation-standard-curve-timing-function;
    z-index: $rs-drawer-z-index - 1;
    background-color: $rs-drawer-modal-scrim-color;
    opacity: $rs-drawer-modal-scrim-opacity;
    box-shadow: #{rs-elevation($rs-drawer-modal-elevation)};
  }

  &.-open > .scrim {
    display: none;
  }

  &.-opening > .scrim {
    transition-duration: $rs-drawer-animation-enter;
    opacity: 1;
  }

  &.-animate > .scrim {
    opacity: 0;
  }

  &.-closing > .scrim {
    transition-duration: $rs-drawer-animation-exit;
    opacity: 0;
  }
}

[opened] + rs-app-layout-content {
  rs-app-bar {
    --rs-app-bar---margin-left: $rs-drawer-width;
  }
}