@import "./keyframes";
@import "./variables";
@import "@rsmdc/animation/variables";
@import "@rsmdc/typography/mixins";
@import "../../../floating-label/mixins-stencil";
@import "../../../ripple/mixins-stencil";
@import "../../../rtl/mixins";
@import "../../../line-ripple/rs-line-ripple";
@import "./mixins";

@include rs-floating-label-shake-keyframes(select-outlined-leading-icon, $rs-select-outlined-label-position-y, $rs-select-outlined-with-leading-icon-label-position-x);
@include rs-select-shape-radius(rs-shape-prop-value(medium));

.rs-select {
  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;
  @include rs-states-hover-opacity('rs-states-opacity(' + $rs-select-ink-color + ', hover)');
  @include rs-states-focus-opacity('rs-states-opacity(' + $rs-select-ink-color + ', focus)');

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: $rs-select-height;
  overflow: hidden;
  will-change: opacity, transform, color;

  // states-base-color
  &::before,
  &::after {
    background-color: $rs-select-ink-color;
    content: "";
  }  

  &:not(.-disabled) {
    background-color: $rs-select-fill-color;
  }

  &:not(.-disabled) {
    > .nativecontrol,
    > .selectedtext {
      color: $rs-select-ink-color;
    }
  }

  &:not(.-disabled) {
    > .label,
    > .outline > .notch > .label.-outlined {
      color: $rs-select-ink-color;
    }
  }

  &:not(.-disabled) {
    > .nativecontrol,
    > .selectedtext {
      border-bottom-color: $rs-select-bottom-line-idle-color;
    }
  }

  &:not(.-disabled).-focused > .rs-line-ripple {
    background-color: $rs-theme-primary;
  }

  &:not(.-disabled).-focused {
    > .label,
    > .outline > .notch > .label.-outlined {
      opacity: .6;
      color: $rs-select-focused-label-color;
    }
  }

  &:not(.-disabled) .nativecontrol:hover {
    border-bottom-color: $rs-select-bottom-line-hover-color;
  }

  &.-focused > .dropdownicon {
    $opacity: 1;
    transform: rotate(180deg) translateY(-5px);
    transition: transform $rs-select-dropdown-transition-duration $rs-animation-standard-curve-timing-function;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23#{$rs-theme-primary}%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22#{$opacity}%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
  }

  &.-focused > .rs-line-ripple::after {
    transform: scale(1, 2);
    opacity: 1;
  }

  &.-required {
    > .label::after,
    > .outline > .notch > .label.-outlined::after {
      content: "*";
    }
  }

  &.-invalid:not(.-disabled) {

    > .label,
    > .outline > .notch > .label.-outlined {
      color: $rs-select-error-color;
    }

    > .nativecontrol,
    > .selectedtext {
      border-bottom-color: $rs-select-error-color;
    }

    &.-focused > .rs-line-ripple {
      background-color: $rs-select-error-color;
    }

    &.-focused {
      > .label,
      > .outline > .notch > .label.-outlined {
        color: $rs-select-error-color;
      }
    }

    > .nativecontrol:hover {
      border-bottom-color: $rs-select-error-color;
    }
  }

  &.-invalid > .dropdownicon {
    $opacity: 1;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23#{$rs-select-error-color}%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22#{$opacity}%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
  }

  &.-disabled {
    background-color: $rs-select-disabled-fill-color;
    cursor: default;
    pointer-events: none;

    > .label,
    > .outline > .notch > .label.-outlined {
      opacity: .6;
      color: $rs-select-disabled-label-color;
    }
  
    > .dropdownicon {
      background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23#{$rs-select-dropdown-color}%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22#{$rs-select-disabled-dropdown-opacity}%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
    }
  
    > .rs-line-ripple {
      display: none;
    }
    
    > .nativecontrol,
    > .selectedtext {
      color: $rs-select-disabled-ink-color;
      border-bottom-style: dotted;
    }
  
    > .selectedtext {
      pointer-events: none;
    }  
  }
  
  &.-icon {
    > .icon {
      @include rs-rtl-reflexive-position(left, 16px);
      display: inline-block;
      position: absolute;
      bottom: 16px;
      box-sizing: border-box;
      width: $rs-select-icon-size;
      height: $rs-select-icon-size;
      border: none;
      background-color: transparent;
      fill: currentColor;
      opacity: $rs-select-icon-opacity;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
    }

    > .icon:not([tabindex]),
    > .icon[tabindex="-1"] {
      cursor: default;
      pointer-events: none;
    }
  

    > .nativecontrol,
    > .selectedtext {
      @include rs-rtl-reflexive-property(padding, $rs-select-icon-padding /* left */, $rs-select-icon-right-padding /* right */);
    }
  
    // &.rs-select__menu .rs-list-item__text {
    //   @include rs-rtl-reflexive-property(padding, 32px /* left-value */, 32px /* right-value */);
    // }
  }

  &.-icon:not(.-disabled) > .icon {
    color: $rs-theme-on-surface;
  }

  > .label,
  > .outline > .notch > .label.-outlined {
    @include rs-floating-label_;
  }

  > .dropdownicon {
    position: absolute;
    left: auto;
    right: 8px;
    bottom: 16px;
    width: 24px;
    height: 24px;
    transition: transform $rs-select-dropdown-transition-duration $rs-animation-standard-curve-timing-function;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23#{$rs-select-dropdown-color}%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22#{$rs-select-dropdown-opacity}%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
  }

  > .nativecontrol {
    padding-top: 20px;
  }

  > .selectedtext {
    min-width: 200px;
    padding-top: 22px;
  }

  > .nativecontrol,
  > .selectedtext {
    @include rs-typography(subtitle1);
    @include rs-rtl-reflexive-property(padding, $rs-select-label-padding, $rs-select-arrow-padding);

    &::-ms-expand {
      display: none;
    }

    &::-ms-value {
      background-color: transparent;
      color: inherit;
    }

    // counteracts the extra text padding that Firefox adds by default
    // @-moz-document url-prefix("") {
    //   text-indent: -2px;
    // }

    box-sizing: border-box;
    width: 100%;
    height: $rs-select-height;
    padding-top: 20px;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color: transparent;
    color: inherit; // Override default user agent stylesheet
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
  }

  > .rs-line-ripple {
    @include rs-line-ripple;
  }
}

// .rs-select__menu .rs-list .rs-list-item--selected {
//   @include rs-theme-prop(color, on-surface);
//   @include rs-states(on-surface);
// }