@import "@rsmdc/animation/functions";
@import "@rsmdc/animation/variables";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/theme/functions";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "./variables";
@import "./mixins";

@include rs-ripple-common;

.rs-chip {
  @include rs-chip-height($rs-chip-height-default);
  @include rs-chip-icon-margin;
  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;
  @include rs-ripple-upgraded($rs-chip-ink-color-default);
  height: $rs-chip-height-default;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  padding: 0 $rs-chip-horizontal-padding;
  margin: 4px 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
  border-radius: $rs-chip-height-default / 2;
  background-color: $rs-chip-fill-color-default;
  border-style: none;
  border-width: 0;
  border-color: inherit;
  @include rs-typography(body2);
  
  > .label {
    background-image: none;
    height: auto;
    display: flex;
    align-items: center;
    color: $rs-chip-ink-color-default;
  }

  > .label::before {
    font-family: inherit;
    width: auto;
    height: auto;
    display: inline-block;
    content: none;
    margin: $rs-chip-leading-icon-margin-top;
    margin-right: $rs-chip-leading-icon-margin-right;
    margin-left: $rs-chip-leading-icon-margin-left;
    font-size: $rs-chip-leading-icon-size;
    color: $rs-theme-on-surface;
  }

  > .label::after {
    font-family: inherit;
    display: none;
    width: auto;
    height: auto;
    content: none;
    margin: $rs-chip-trailing-icon-margin-top;
    margin-left: $rs-chip-trailing-icon-margin-left;
    margin-right: $rs-chip-trailing-icon-margin-right;
    font-size: $rs-chip-trailing-icon-size;
    color: $rs-theme-on-surface;

    &:hover {
      opacity: 0;
    }
  }

  &.-selected {
    background-color: $rs-selected-fill-color;
    @include rs-ripple-upgraded($rs-theme-primary);
    border-color: white;
    > .label {
      color: $rs-theme-primary;
    }
    > .label::before {
      color: $rs-theme-primary;
    }
  }

  &.-set-filter {
    &.-icon.-leading {
      transition: opacity $rs-chip-opacity-animation-duration linear;
      transition-delay: $rs-chip-leading-icon-delay;
      opacity: 1;

      + .checkmark {
        transition: opacity $rs-chip-opacity-animation-duration linear;
        transition-delay: $rs-chip-checkmark-with-leading-icon-delay;

        opacity: 0;

        > .checkmark-svg {
          transition: width 0ms;
        }
      }
    }

    &.-selected.-icon.-leading {
      opacity: 0;
      + .checkmark {
        width: 0;
        opacity: 1;
      }
    }

    &.-icon.-leading.-leading-hidden {
      width: 0;
      opacity: 0;
      + .checkmark {
        width: $rs-chip-leading-icon-size;
      }
    }
  }
}
