@import "@rsmdc/ripple/mixins-stencil";
@mixin rs-chip-icon-image($icon, $codepoint: "") {
  $value: if(str-slice("#{$icon}", 1, 4) == "url(", path, font-family);

  @if $value == path {
    .rs-chip > .label {
      background-image: $icon;
      height: 24px;
    }
  } @else {
    $font-family: '"' + $icon + '"';
    $name: '"' + "\\"+ $codepoint + '"';

    .rs-chip {
      > .label::before {
        font-family: $font-family;
        content: $name;
        display: inline-block;
      }

      > .label::after {
        font-family: $font-family;
        content: $name;
        display: none;
      }
    }
  }
}

@mixin rs-chip-icon-position($position) {
  @if $position == right {
    
    .rs-chip {
      > .label::before {
        display: none;
      }

      > .label::after {
        display: inline-block;
      }
    }
  }
}

@mixin rs-chip-type($types...) {
  @each $type in $types {
    @if $type == outlined {
      .rs-chip {
        background-color: $rs-theme-surface;
        border-style: solid;
        border-width: 1px;
        border-color: $rs-theme-on-surface;
        &.-selected {
          border-color: $rs-theme-primary;
        }
      }
    } @else if $type == shaped {
      .rs-chip {
        border-radius: 4px;
      }
    }
  }
}

@mixin rs-chip-outline($width: 1px, $style: solid, $color: mdc-theme-prop-value(on-surface)) {
  @include rs-chip-outline-width($width);
  @include rs-chip-outline-style($style);
  @include rs-chip-outline-color($color);
}

@mixin rs-chip-outline-style($style) {
  .rs-chip {
    border-style: $style;
  }
}

@mixin rs-chip-outline-width($width) {
  .rs-chip {
    border-width: $width;
  }
}

@mixin rs-chip-outline-color($color) {
  .rs-chip {
    border-color: $color;
  }
}

@mixin rs-chip-horizontal-padding($padding) {
  .rs-chip {
    padding: 0 $padding;
  }
}

@mixin rs-chip-height($height) {
  .rs-chip {
    height: $height;
  }
}

@mixin rs-chip-fill-color-accessible($color) {
  $fill-tone: rs-theme-tone($color);
  @include rs-chip-fill-color($color);
  @include rs-chip-outline-color($color);
  @if ($fill-tone == "dark") {
    @include rs-chip-ink-color(rs-theme-ink-color-for-fill_(primary, dark));
    @include rs-chip-selected-ink-color(text-primary-on-dark);
    @include rs-chip-icon-color(text-primary-on-dark);
    @include rs-ripple-upgraded(rs-theme-ink-color-for-fill_(primary, dark));
  } @else {
    @include rs-chip-ink-color(rs-theme-ink-color-for-fill_(primary, light));
    @include rs-chip-selected-ink-color(text-primary-on-light);
    @include rs-chip-icon-color(text-primary-on-light);
    @include rs-ripple-upgraded(rs-theme-ink-color-for-fill_(primary, light));
  }
}

@mixin rs-chip-fill-color($color) {
  .rs-chip {
    background-color: $color;
  }
}

@mixin rs-chip-ink-color($color) {
  .rs-chip {
    > .label {
      color: $color;
    }
  }
}

@mixin rs-chip-selected-ink-color($color) {
  .rs-chip {
    &.-selected {
      @include rs-ripple-upgraded($color);
      > .label {
        color: $color;
      }
    }
  }
}

@mixin rs-chip-icon-color($color, $opacity: $rs-chip-icon-opacity) {
  .rs-chip {
    > .label::before {
      color: $color;
    }

    > .label::after {
      color: $color;
    }
  }
}

@mixin rs-chip-icon-margin($left-margin: $rs-chip-leading-icon-margin-left, $right-margin: $rs-chip-leading-icon-margin-right) {
  .rs-chip {
    > .label::before {
      margin-left: $left-margin;
      margin-right: $right-margin;
    }

    > .label::after {
      margin-left: $left-margin;
      margin-right: $right-margin;
    }
  }
}

@mixin rs-chip-icon-size($size) {
  .rs-chip {
    > .label::before {
      font-size: $size;
    }

    > .label::after {
      font-size: $size;
    }
  }
}


@mixin rs-chip-shape-radius($radius) {
  .rs-chip {
    border-radius: $radius;
  }
}