@import "@rsmdc/theme/mixins";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/theme/functions";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/typography/variables";
@import "./variables";

@include rs-ripple-common;

.rs-list {
  @include rs-typography(subtitle1);
  padding: 8px 0;
  line-height: map-get(map-get($rs-typography-styles, body1), line-height);
  margin: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

.rs-list-item {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 0px;
  overflow: hidden;
  height: 48px;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $rs-list-side-padding;
  padding-right: $rs-list-side-padding;
  outline: none;
  font-size: medium;
  font-weight: normal;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  flex-wrap: nowrap;
  user-select: auto;

  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;
  @include rs-ripple-upgraded($rs-theme-on-surface);
  
  &.-disabled {
    color: rgba(0,0,0,.38);
  }
  
  &.-selected,
  &.-activated {
    background: $rs-list-select-fill-color;
    @include rs-ripple-upgraded($rs-theme-primary);
    color: $rs-theme-primary;
  }
}

.rs-list-meta {
  color: rgba(0, 0, 0, .38);
}

rs-list-meta {
  margin: 0 0 0 auto;
}

.rs-list-primary {
  @include rs-typography-overflow-ellipsis;
  display: block;
  margin: 0;
  line-height: normal;
  color: inherit;
}

.rs-list-secondary {
  @include rs-typography(body2);
  @include rs-typography-overflow-ellipsis;
  display: block;
  color: rgba(0,0,0,.54);
}

.rs-list-graphic {
  width: 40px;
  height: 40px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  border-radius: 50%;
  background-size: 100%;
  margin-right: 32px;
  background-image: none;
  background-color: transparent;

  &::before {
    width: 24px;
    height: 24px;
    content: '';
    font-family: inherit;
    font-size: 24px;
    color: inherit;
  }
}

.rs-list-divider {
  height: 0;
  margin: 0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $rs-list-divider-color-on-light-bg;
}

.rs-list-subheader {
  $rs-list-subheader-virtual-height: 3rem;
  $rs-list-subheader-leading: map-get(map-get($rs-typography-styles, body1), line-height);
  $rs-list-subheader-margin: ($rs-list-subheader-virtual-height - $rs-list-subheader-leading) / 2;
  @include rs-typography(subtitle1);
  margin: $rs-list-subheader-margin $rs-list-side-padding;
  color: inherit;
}

rs-list-item > rs-list-graphic {
  --rs-list-graphic---color: $rs-list-icon-color;
}

rs-list-item[selected] > rs-list-graphic,
rs-list-item[activated] > rs-list-graphic {
  --rs-list-graphic---color: $rs-theme-primary;
}

rs-list-item[disabled] > rs-list-graphic {
  --rs-list-graphicPEbefore---color: rgba(0,0,0,.38);
  --rs-list-graphic---background-color: rgba(0,0,0,.38);
}

rs-list-item[disabled] > rs-list-text > rs-list-primary {
  --rs-list-primary---color: rgba(0,0,0,.38);
}

rs-list-item[disabled] > rs-list-text > rs-list-secondary {
  --rs-list-secondary---color: rgba(0,0,0,.54);
}

rs-list-item[disabled] > rs-list-meta {
  --rs-list-meta---color: rgba(0,0,0,.38);
}
