@import "@rsmdc/theme/mixins";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/theme/functions";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/typography/variables";
@import "./variables";

@mixin rs-list-type($types...) {
  @each $type in $types {
    @if $type == two-line {
      
      .rs-list-item {
        justify-content: flex-start;
        height: 72px;
      }

    } @else if $type == avatar-list  {
      
      .rs-list-item {
        height: 56px;
      }
    } @else if $type == dense {

      .rs-list {
        font-size: 0.812rem;
      }

      .rs-list-secondary {
        font-size: .812rem;
      }
      
      .rs-list-item {
        padding: 4px 0;
        font-size: .812rem;
        height: 40px;
        margin: 0 36px 0 0;
      }

      .rs-list-graphic {
        width: 20px;
        height: 20px;
        background-size: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}


@mixin rs-list-graphic-image($icon, $codepoint: "") {
  $value: if(str-slice("#{$icon}", 1, 4) == "url(", path, font-family);

  @if $value == path {

    .rs-list-graphic {
      background-image: $icon;
    }

  } @else {
    $font-family: '"' + $icon + '"';
    $name: '"' + "\\"+ $codepoint + '"';

    .rs-list-graphic {
      &::before {
        font-family: $font-family;
        content: $name;
      }
    }
  }
}

@mixin rs-list-graphic-type($type) {
  @if $type == circle {
    
    .rs-list-graphic {
      width: 40px;
      height: 40px;
      background-size: 40px;
    }

  }@else if $type == rectangle {
    
    .rs-list-graphic {
      width: 40px;
      height: 40px;
      background-size: 56px;
    }

  }@else if $type == square {
    
    .rs-list-graphic {
      background-size: 100px 56px;
      border-radius: 0;
    }
  }
}

@mixin rs-list-divider-type($types...) {
  @each $type in $types {
    @if $type == inset {

      .rs-list-divider {
        margin: 0 0 0 72px;
      }

    }@else if $type == padded {
      
      .rs-list-divider {
        margin: 0;
      }
    }
  }
}

@mixin rs-list-item-shape-radius($radius) {
  .rs-list-item {
    border-radius: $radius;
  }
}

@mixin rs-list-graphic-size($size) {
  $text-offset: 72px;
  $side-padding: $rs-list-side-padding;
  $margin-value: $text-offset - $side-padding - $size;
  .rs-list-graphic {
    width: $size;
    height: $size;
  }
}

@mixin rs-list-item-primary-text-ink-color($color) {
  .rs-list-primary {
    color: $color;
  }
}

@mixin rs-list-item-secondary-text-ink-color($color) {
  .rs-list-secondary {
    color: $color;
  }
}

@mixin rs-list-graphic-fill-color($color) {
  .rs-list-graphic {
    background-color: $color;
  }
}

@mixin rs-list-graphic-ink-color($color) {
  .rs-list-graphic { 
    &::before {
      color: $color;
    }
  }
}

@mixin rs-list-item-meta-ink-color($color) {
  .rs-list-meta {
    color: $color;
  }
}

@mixin rs-list-group-subheader-ink-color($color) {
  .rs-list-subheader {
    color: $color;
  }
}

@mixin rs-list-item-states-color($color) {
  .rs-list-item {
    @include rs-ripple-upgraded($color);
  }
}

@mixin rs-list-fill-color-accessible($color) {
  .rs-list-item {
    &:not(.-disabled) {
      @include rs-ripple-upgraded($color);
    }
  }
}