@import "@rsmdc/elevation/mixins";
@import "@rsmdc/animation/variables";
@import "@rsmdc/shape/rs-functions";
@import "./variables";
@import "./mixins";

.rs-menu {
  min-width: $rs-menu-min-width;
  width: auto;

  &.rs-menu-surface {
    background-color: $rs-theme-surface;
    color: $rs-theme-on-surface;
    border-radius: 4px;
    transform: scale(0);
    opacity: 0;
  }
}

.rs-menu-surface {
  max-width: calc(100vw - #{$rs-menu-surface-min-distance-from-edge});
  max-height: calc(100vh - #{$rs-menu-surface-min-distance-from-edge});
  height: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: $rs-menu-surface-z-index;
  box-shadow: #{rs-elevation(8)};
  min-width: $rs-menu-min-width;
  transition: opacity $rs-menu-surface-fade-out-duration linear;
  &.-opened {
    height: auto;
    will-change: transform, opacity;
    display: inline-block;
    transform: scale(1);
    opacity: 1;
    transition:
      opacity $rs-menu-surface-fade-in-duration linear,
      transform $rs-menu-surface-scale-duration $rs-animation-deceleration-curve-timing-function;
  }
}


rs-menu > rs-list > rs-list-item {
  --rs-list-item---user-select: none;
}

rs-menu > rs-list > rs-list-divider {
  --rs-list-divider---margin: 8px 0;
}
