@mixin rs-drawer-type($type) {
  @if $type == modal {
    .rs-drawer.-open {
      > .content {
        display: flex;
      }

      > .scrim {
        display: block;
      }
    }

    [opened] + app-layout-content {
      app-bar {
        --rs-app-layout-content--margin-left: auto;
      }
    }

    :root {
      --rs-app-layout--display: inline;
      --rs-app-layout--height: auto;
    }
  }@else if $type == dismissible {
    .rs-drawer {
      > .content {
        display: none;
        position: absolute;
        left: 0;
      }
    }

    .rs-drawer.-open {
      > .content {
        display: flex;
      }
    }

    :root {
      --rs-app-layout--display: inline;
      --rs-app-layout--height: auto;
      --rs-app-layout-content--margin-left: auto;
    }
  }
}