// Change label ink color.
@mixin rs-floating-label-ink-color($color) {
  --rs-form-label--color: #{$color};
  --rs-form-label__floatinglabel--color: #{$color};
}

// Change label focus ink color. (Only -floatinglabel)
@mixin rs-floating-label-focus-ink-color($color) {
  --rs-text-field__focus-label--color: #{$color};
}