@import "./variables";
@import "./functions";
@import "@rsmdc/animation/variables";
@import "../../../typography/mixins-stencil";
@import "@rsmdc/floating-label/mixins-stencil";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/line-ripple/rs-line-ripple";
@import "@rsmdc/notched-outline/mixins-stencil";
@import "./mixins";

@include rs-floating-label-animation;

.rs-textfield {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  vertical-align: middle;
  > .form:not(.-textarea) {
    display: block;
    position: relative;
    box-sizing: border-box;
    height: $rs-text-field-height;
    width: 100%;
    will-change: opacity, transform, color;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    > .input {
      width: var(--width, 200px);
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      transition: rs-text-field-transition(opacity);
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid;
      overflow: hidden;
      border-radius: 4px 4px 0 0;
      &::before {
        width: 24px;
        position: absolute;
        left: 16px;
        font-family: inherit;
        color: $rs-text-field-icon-color;
        font-size: 24px;
        display: none;
        content: none;
        top: auto;
        bottom: auto;
      }
    }
    > .input > .nativecontrol {
      @include rs-typography(subtitle1);
      align-self: flex-end;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background: none;
      appearance: none;
      border: none;
      line-height: 1.75rem;
      caret-color: $rs-theme-primary;
      padding: 20px 16px 6px;
      padding-left: 16px;
      color: inherit;
      &::placeholder {
        transition: rs-text-field-transition(opacity, $duration: 67ms);
        color: $rs-text-field-placeholder-ink-color;
        opacity: 0;
        transition-delay: 0;
        transition-duration: 0;
      }
      &:-ms-input-placeholder {
        color: $rs-text-field-placeholder-ink-color !important;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        transition-delay: 40ms;
        transition-duration: 110ms;
        opacity: 1;
      }
      &:-webkit-autofill {
        z-index: auto !important;
      }
    }
  }
  > .form.-textarea {
    position: relative;
    height: auto;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 4px;
    > .input {
      $padding-inset: 16px;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      align-self: auto;
      position: relative;
      box-sizing: border-box;
      margin: $padding-inset/2 1px 1px 0;
      padding: 0 $padding-inset $padding-inset;
      border: none;
      line-height: 1.75rem;
      outline: none;
      font-size: 1rem;
      caret-color: $rs-theme-primary;
      resize: auto;
      color: inherit;
      &::placeholder {
        transition: rs-text-field-transition(opacity, $duration: 67ms);
        color: $rs-text-field-placeholder-ink-color;
        opacity: 0;
        transition-delay: 0;
        transition-duration: 0;
      }
      &:-ms-input-placeholder {
        color: $rs-text-field-placeholder-ink-color !important;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        transition-delay: 40ms;
        transition-duration: 110ms;
        opacity: 1;
      }
    }
  }
  > .form > .label {
    @include rs-floating-label_;
    display: inherit;
    &.-date-label {
      transform: translateY(-50%) scale(.75);
    }
  }
   &.-required {
    > .form > .label {
      display: inline-flex;
      &:after {
        content: '*';
        display: block;
        margin-left: 1px;
      }
      &.-none {
        display: none;
      }
    }
    > .outline {
      > .notch > .label {
        display: flex;
        &:after {
          content: '*';
          margin-left: 1px;
        }
      }
    }
  }
  &.-invalid {
    > .form:not(.-textarea) > .input > .nativecontrol,
    > .form.-textarea > .input {
      box-shadow: none;
      caret-color: $rs-text-field-error;  
    }
    > .outline:not(.-area) {
      > .leading {
        border-color: $rs-text-field-error;
      }
      > .trailing {
        border-color: $rs-text-field-error;
      }
      > .notch {
        border-color: $rs-text-field-error;
      }
      > .notch > .label {
        color: $rs-text-field-error;
      }
    }
    > .form > .label {
      color: $rs-text-field-error;
    }
    > .rs-line-ripple {
      background-color: $rs-text-field-error;
    }

    > .outline.-area {
      > .leading,
      > .notch,
      > .trailing {
        border-color: $rs-text-field-error;
      }

      > .notch > .label {
        color: $rs-text-field-error;
      }
    }

    &:not(.-disabled) > .form:not(.-textarea) > .input {
      border-bottom-color: $rs-text-field-error;
      &:hover {
        border-bottom-color: $rs-text-field-error;
      }
    }
    &.-focused {
      > .form > .label {
        color: $rs-text-field-error;
      }
      > .outline {
        > .leading,
        > .trailing,
        > .notch {
          border-color: $rs-text-field-error;
          border-width: 2px;
        }
        > .notch > .label {
          color: $rs-text-field-error;
        }
      }
    }
  }
  &.-disabled {
    > .form {
      pointer-events: none;
      border-color: $rs-text-field-outlined-disabled-border;
      background-color: $rs-text-field-disabled-background;
    }
    > .form > .input {
      background-color: $rs-text-field-disabled-background;
      resize: none;
      &:not(.-textarea) {
        border-bottom-color: $rs-text-field-disabled-border;
      }
      &:hover {
        border-bottom-color: $rs-text-field-disabled-border;
      }
    }
    > .form:not(.-textarea) > .input > .nativecontrol {
      color: $rs-text-field-disabled-ink-color;
      &:hover {
        color: $rs-text-field-disabled-ink-color;
      }
    }
    > .form > .label {
      color: $rs-text-field-disabled-ink-color;
    }
    > .counter {
      color: $rs-text-field-disabled-helper-text-color;
    }
    > .outline:not(.-area) > .notch > .label {
      color: $rs-text-field-disabled-ink-color;
    }
    > .outline.-area > .notch > .label {
      color: $rs-text-field-disabled-ink-color;
    }
    > .outline:not(.-area) > .leading,
    > .outline:not(.-area) > .notch,
    > .outline:not(.-area) > .trailing {
      border-color: $rs-text-field-disabled-border;
    }
    > .outline.-area > .leading,
    > .outline.-area > .notch,
    > .outline.-area > .trailing {
      border-color: $rs-text-field-disabled-border;
    }
    &:not(.-focused):hover {
      > .outline > .leading {
        border-color: $rs-text-field-disabled-border;
      } 
      > .outline > .trailing {
        border-color: $rs-text-field-disabled-border;
      }
      > .outline > .notch {
        border-color: $rs-text-field-disabled-border;
      }
    }
  }
  &:not(.-disabled) {
    > .form:not(.-textarea) > .input {
      background-color: $rs-text-field-background;
      border-bottom-color: $rs-text-field-bottom-line-idle;
    }
    > .form:not(.-textarea):hover {
      > .input {
        background-color: #ececec;
        border-bottom-color: $rs-text-field-bottom-line-hover;
      }
    }
    > .form.-textarea {
      background-color: transparent;
    }
    > .form.-textarea > .input {
      background-color: transparent;
    }
    &.-focused {
      > .form:not(.-textarea) {
        background-color: #dcdcdc;
        &:hover > .input {
          background-color:#dcdcdc;
        }
      }
    }
  }
  &.-nolabel {
    > .form:not(.-textarea) > .input > .nativecontrol {
      padding: 16px;
      &::placeholder {
        opacity: 1;
      }
    }
  }
  > .rs-line-ripple {
    background-color: $rs-theme-primary;
    &.-none {
      background-color: none;
    }
  
  }
  &:not(.-focused):not(.-disabled):not(.-invalid):hover {
    > .outline:not(.-area) > .leading {
      border-color: $rs-text-field-outlined-hover-border;
    }
    > .outline:not(.-area) > .trailing {
      border-color: $rs-text-field-outlined-hover-border;
    }
    > .outline:not(.-area) > .notch {
      border-color: $rs-text-field-outlined-hover-border;
    }
    > .outline.-area > .leading {
      border-color: $rs-text-field-outlined-hover-border;
    }
    > .outline.-area > .trailing {
      border-color: $rs-text-field-outlined-hover-border;
    }
    > .outline.-area > .notch {
      border-color: $rs-text-field-outlined-hover-border;
    }
  }
 
  > .counter {
    @include rs-typography(caption);
    @include rs-typography-baseline-top(16px);
    margin-left: auto;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 0;
    white-space: nowrap;
    position: absolute;
    display: block;
    &.-hidden {
      display: none;
    }
    &.-textarea {
      bottom: 13px;
      right: 16px;
    }
    &:not(.-textarea) {
      bottom: $rs-text-field-character-counter-bottom;
      right: 16px;
    }
  }
  &:not(.-disabled) {
    > .counter {
      &:not(.-textarea) {
        color: $rs-text-field-label;
      }
      &.-textarea {
        color: $rs-text-field-label;
      }
    }
  }

  > .outline {
    @include rs-notched-outline_;
    > .notch {
      @include rs-notched-outline-notch_;
      max-width: calc(100% - 24px);
      border-top: solid;
      border-top-width: 1px;
    }
    > .notch.-border {
      border-top: none;
    }
    > .notch > .label {
      @include rs-floating-label_;
    }
    > .notch.-border > .label {
      left: 16px;
    }
    &:not(.-area) {
      > .leading {
        @include rs-notched-outline-leading_;
      }
      > .trailing {
        @include rs-notched-outline-trailing_;
      }
    }
    &.-area {
      > .leading {
        @include rs-notched-outline-leading_;
        border-radius: 4px 0 0 4px;
      }
      > .trailing {
        @include rs-notched-outline-trailing_;
        border-radius: 0 4px 4px 0;
      }
    }
    &.-none {
      display: none;
    }
  }
  &:not(.-focused):not(.-invalid) > .outline:not(.-area) {
    > .leading {
      border-color: $rs-text-field-outlined-idle-border;
    }
    > .notch {
      border-color: $rs-text-field-outlined-idle-border;
    }
    > .trailing {
      border-color: $rs-text-field-outlined-idle-border;
    }
  }
  &:not(.-focused):not(.-disabled):not(.-invalid) > .outline.-area {
    > .leading {
      border-color: $rs-text-field-outlined-idle-border;
    }
    > .notch {
      border-color: $rs-text-field-outlined-idle-border;
    }
    > .trailing {
      border-color: $rs-text-field-outlined-idle-border;
    }
  }
  &.-focused:not(.-disabled):not(.-invalid) {
    > .form > .label {
      color: $rs-theme-primary;
    }
    > .outline:not(.-area) {
      > .leading,
      > .notch, 
      > .trailing {
        border-color: $rs-theme-primary;
        border-width: 2px;
      }
      > .notch > .label {
        color: $rs-theme-primary;
      }
    }
    > .outline.-area {
      > .leading,
      > .notch, 
      > .trailing {
        border-color: $rs-theme-primary;
        border-width: 2px;
      }
      > .notch > .label {
        color: $rs-theme-primary;
      }
    }
  }
}

.rs-textfield-trailing {
  background-image: none;
  font-family: inherit;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  margin-left: -4px;
  font-size: 24px;
  color: $rs-text-field-icon-color;
  cursor: pointer;
  &:before {
    content: none;
    display: none;
  }
}
