@import "@rsmdc/theme/mixins";
@import "./variables";

@mixin rs-states-base-color($color) {
  @if alpha(rs-theme-prop-value($color)) > 0 {
    $backgroundColor: rs-theme-prop-value($color);
    --rs-ripple_before--background-color: #{$backgroundColor};
    --rs-ripple_after--background-color: #{$backgroundColor};
    --rs-ripple_before--content: '';
    --rs-ripple_after--content: '';
  } @else {
    // If a color with 0 alpha is specified, don't render the ripple pseudo-elements at all.
    // This avoids unnecessary transitions and overflow.
    --rs-ripple_before--content: none;
    --rs-ripple_after--content: none;
  }
}

@mixin rs-states-hover-opacity($opacity) {
  --rs-ripple_hover_before--opacity: #{$opacity};
}

@mixin rs-states-focus-opacity($opacity) {
  --rs-ripple_not-upgraded_focus_before--transition-duration: 75ms;
  --rs-upgraded_-background-focused_before--transition-duration: 75ms;
  --rs-ripple_not-upgraded_focus_before--opacity: #{$opacity};
  --rs-upgraded_-background-focused_before--opacity: #{$opacity};
}

@mixin rs-states-press-opacity($opacity) {
  --rs-ripple_not-upgraded_after--transition: opacity #{$rs-ripple-fade-out-duration} linear;
  --rs-ripple_not-upgraded_active_after--transition-duration: #{$rs-ripple-fade-in-duration};
  --rs-ripple_not-upgraded_active_after--opacity: #{$opacity};
  --rs-ripple-upgraded--rs-ripple-fg-opacity: #{$opacity};
}

@mixin rs-states($color: rs-theme-prop-value(on-surface)) {
  @include rs-states-interactions_($color, 0);
}

@mixin rs-states-interactions_(
  $color: rs-theme-prop-value(on-surface),
  $opacity-modifier: 0
) {
  @include rs-states-base-color($color);
  @include rs-states-hover-opacity(rs-states-opacity($color, hover) + $opacity-modifier);
  @include rs-states-focus-opacity(rs-states-opacity($color, focus) + $opacity-modifier);
  @include rs-states-press-opacity(rs-states-opacity($color, press) + $opacity-modifier);
}
