
@mixin rs-slider-emphasize-keyframes_ {
  @keyframes rs-slider-emphasize {
    0% {
      animation-timing-function: ease-out;
    }

    50% {
      animation-timing-function: ease-in;
      transform: scale(.85);
    }

    100% {
      transform: scale(.571);
    }
  }
}
