@import './variables';
@import './rs-functions';
@import '../elevation/mixins';

@mixin rs-top-app-bar-type($types...) {
  @each $type in $types {
    @if $type == short {
      --rs-top-app-bar--top: 0;
      --rs-top-app-bar--right: auto;
      --rs-top-app-bat--left: 0;
      --rs-top-app-bar--width: 100%;
      --rs-top-app-bar--transition: #{width 250ms $rs-animation-standard-curve-timing-function};
      --rs-top-app-bar_media--transition: #{width 200ms $rs-animation-standard-curve-timing-function};
      --rs-top-app-bar_rtl--right: 0;
      --rs-top-app-bar_rtl--left: auto;
      --rs-top-app-bar-row--height: #{$rs-top-app-bar-mobile-row-height};
      --rs-top-app-bar-section--padding: #{$rs-top-app-bar-mobile-section-padding};
      --rs-top-app-bar-title--transition: #{opacity 200ms $rs-animation-standard-curve-timing-function};
      --rs-top-app-bar-title--opacity: 1;
      --rs-top-app-bar-title--display: none;
    }@else if $type == dense {
      --rs-top-app-bar-row--height: #{$rs-top-app-bar-dense-row-height};
      --rs-top-app-bar-section--padding: #{0 $rs-top-app-bar-dense-section-horizontal-padding};
      --rs-top-app-bar-title--padding-left: #{$rs-top-app-bar-dense-title-left-padding};
    }@else if $type == prominent {
      --rs-top-app-bar-row--height: #{$rs-top-app-bar-prominent-row-height};
      --rs-top-app-bar--padding-bottom: #{$rs-top-app-bar-prominent-mobile-title-bottom-padding};
      --rs-top-app-bar-title--align-self: flex-end;
      --rs-top-app-bar-title--padding-bottom: $rs-top-app-bar-prominent-title-bottom-padding;
    }@else if $type == fixed {
      --rs-top-app-bar--transition: box-shadow 200ms linear;
    }@else if $type == adjust {
      --rs-top-app-bar--padding-top: #{$rs-top-app-bar-row-height};
      --rs-top-app-bar_media--padding-top: #{$rs-top-app-bar-mobile-row-height};
    }@else if $type == collapsed {
      --rs-top-app-bar--box-shadow: #{rs-elevation(4)};
      --rs-top-app-bar_media--transition: #{width 250ms $rs-animation-standard-curve-timing-function};
      --rs-top-app-bar__collapsed--padding-right: #{$rs-top-app-bar-short-collapsed-right-icon-padding};
      --rs-top-app-bar__collapsed--padding-left: 0;
    }
  }

  $short: find-item($types, short);
  $collapsed: find-item($types, collapsed);
  $prominent: find-item($types, prominent);
  $adjust: fins-item($types, adjust);
  $dense: find-item($types, dense);

  @if $short and $collapsed {
    --rs-rop-app-bar--width: #{$rs-top-app-bar-short-collapsed-width};
    --rs-top-app-bar--transition: #{width 300ms $rs-animation-standard-curve-timing-function};
    --rs-top-app-bar-title--display: none;
    --rs-top-app-bar-actionItem--transition: #{padding 150ms $rs-animation-standard-curve-timing-function};
  }
  @if $prominent and $dense {
    $height: $rs-top-app-bar-dense-row-height * 2;
    --rs-top-app-bar-row--height: #{$height};
    --rs-top-app-bar--padding: 0 #{$rs-top-app-bar-section-horizontal-padding};
    --rs-top-app-bar-title--padding-bottom: #{$rs-top-app-bar-prominent-dense-title-bottom-padding};
    --rs-top-app-bar-title--padding-left: #{$rs-top-app-bar-title-left-padding};
  }
  @if $adjust and $dense {
    --rs-top-app-bar--padding-top: #{$rs-top-app-bar-dense-row-height};
  }
  @if $adjust and $prominent {
    --rs-top-app-bar--padding-top: #{$rs-top-app-bar-prominent-row-height};
  }
  @if $adjust and $short {
    --rs-top-app-bar--padding-top: #{$rs-top-app-bar-mobile-row-height};
  }
  @if $adjust and $dense and $prominent {
    $height: $rs-top-app-bar-dense-row-height * 2;
    --rs-top-app-bar--padding-top: #{$height};
  }

}

@mixin rs-top-app-bar-item-position($position) {
  @if $position == start {
    --rs-top-app-bar-title--margin-left: 0;
    --rs-top-app-bar-title--margin-right: auto;
    --rs-top-app-bar-title--order: -1;
  }@else if $position == end {
    --rs-top-app-bar-title--margin-left: auto;
    --rs-top-app-bar-title--margin-right: 0;
    --rs-top-app-bar-title--order: 1;
    --rs-top-app-bar_media--padding-right: var(--rs-top-app-bar__collapsed--padding-right);
    --rs-top-app-bar_media--padding-left: var(--rs-top-app-bar__collapsed--padding-left);
  }
}

