$rs-text-field-icon-position: 16px !default;
$rs-text-field-trailing-icon-position: 12px !default;
$rs-text-field-icon-padding: 48px !default;
$rs-text-field-dense-icon-padding: 44px !default;
$rs-text-field-dense-icon-position: 12px !default;
$rs-text-field-dense-icon-padding: 38px !default;
