@import "@rsmdc/animation/functions";
@import "@rsmdc/elevation/mixins";
@import "@rsmdc/ripple/mixins-stencil";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/theme/functions";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "./variables";
@import "./mixins";

@include rs-ripple-common;

.rs-button {
  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;
  @include rs-ripple-upgraded($rs-theme-primary);
  @include rs-typography(button);
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  width: auto;
  height: $rs-button-height;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: none;
  transition: 0;
  padding: 0 $rs-button-contained-horizontal-padding;
  border-width: 2px;

  &.-fixed {
    position: fixed;
    bottom: 16px;
    right: 16px;
    left: auto;
    transform: none;
  }

  > .label::before {
    font-family: 'Courier New', Courier, monospace;
    content: '';
    display: inherit;
    width: 18px;
    height: 18px;
    font-size: medium;
    vertical-align: middle;
    margin: 0 8px 0 -4px;
  }

  > .label::after {
    font-family: 'Courier New', Courier, monospace;
    content: '';
    display: inherit;
    width: 18px;
    height: 18px;
    font-size: medium;
    vertical-align: middle;
    margin: 0 -4px 0 8px;
  }
  
  &.-no-text {
    @include rs-ripple-upgraded($rs-theme-on-surface);
    $padding: $rs-icon-button-size / 2;
    $width: $rs-icon-button-size + $padding * 2;
    $height: $rs-icon-button-size + $padding * 2;
    $font-size: max($width, $height);
    min-width: auto;
    width: $width;
    height: $height;
    padding: $padding;
    font-size: $font-size;
    display: inline-flex;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    color: $rs-theme-on-surface;

    > .label::before {
      width: 24px;
      height: 24px;
      font-size: 24px;
      margin: 0;
      vertical-align: top;
    }
  }

  &.-extended {
    width: auto;
    max-width: 100%;
    height: $rs-fab-extended-height;
    justify-content: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 24px;
    font-size: .875rem;
    padding: 0 $rs-fab-extended-label-padding;
    line-height: 2.25rem;
    > .label::before {
      margin: 0 12px 0 -8px;
    }
    > .label::after {
      margin: 0 -8px 0 12px;
    }
  }

  &.-exited {
    transform: scale(0);
    transition:
      opacity 15ms linear 150ms,
      rs-animation-exit-permanent(transform, 180ms);
    opacity: 0;
  }

  &:not(.-disabled).-no-text {
    color: $rs-theme-on-surface;
  } 

  &:not(.-disabled) {
    color: $rs-theme-primary;
    background-color: transparent;
    border-color: inherit;
  }

  &:not(.-disabled) {
    > .label::before {
      color: inherit;
    }
    > .label::after {
      color: inherit;
    }
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }

  &.-disabled {
    color: $rs-button-disabled-ink-color;
    background: transparent;
    cursor: default;
    pointer-events: none;
    border-color: inherit;
    box-shadow: none;
  }
}

