@import './mixins';
@import '../theme/variables';
@import '../elevation/variables';
@import '../shape/variables';
@import '../ripple/variables';

@mixin rs-button-type($type, $dense: normal) {
  @if $type == outlined {
    @include rs-button--outlined_;
    @include rs-button-outline-width(2px);
    @include rs-button-outline-color($rs-theme-primary);
  }

  @if $type == raised or $type == unelevated {
    @include rs-button--filled_;
    @include rs-button-container-fill-color($rs-theme-primary);
    @include rs-button-ink-color($rs-theme-on-primary);
    @include rs-states(on-primary);
  }

  @if $type == raised {
    @include rs-button--raised_;
  }

  @if $type == dense or $dense == dense {
    @include rs-button--dense_;
  }
}

@mixin rs-button-padding-right($padding) {
  --rs-button--padding-right: #{$padding};
}

@mixin rs-button-padding-left($padding) {
  --rs-button--padding-left: #{$padding};
}

@mixin rs-button-padding-top($padding) {
  --rs-button--padding-top: #{$padding};
}

@mixin rs-button-padding-bottom($padding) {
  --rs-button--padding-top: #{$padding};
}

@mixin rs-button-icon($url, $position: left, $size: 18px, $repeat: no-repeat) {
  --rs-button--background-image: #{$url};
  --rs-button--background-size: #{$size};
  --rs-button--background-position: #{$position};
  --rs-button--background-repeat: #{$repeat};
}