@import "@rsmdc/typography/mixins";
@import "./rs-variables";

@mixin rs-form-field-line-host_ {
  width: 100%;
  margin-bottom: var(--rs-form-field-line--margin-bottom);
  position: absolute;
  bottom: -16px;
}

@mixin rs-form-field-line_ {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: var(--rs-form-field-line--padding-right, $rs-form-field-helper-line-padding);
  padding-left: var(--rs-form-field-line--padding-left, $rs-form-field-helper-line-padding);
}

@mixin rs-form-field-helper_ {
  @include rs-typography(caption);
  @include rs-typography-baseline-top(16px);
  white-space: nowrap;
  margin: 0;
}