@import "@rsmdc/theme/mixins";
@import "@rsmdc/typography/mixins";
@import "./variables";
@import "./rs-variables";

@mixin rs-form-field-line-host_ {
  width: 100%;
  //.rs-text-field--dense + &
  margin-bottom: var(--rs-form-field-line--margin-bottom);
  position: absolute;
  bottom: -16px;
}

@mixin rs-form-field-line_ {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: var(--rs-form-field-line--padding-right, $rs-form-field-helper-line-padding);
  padding-left: var(--rs-form-field-line--padding-left, $rs-form-field-helper-line-padding);
}

@mixin rs-form-field-helper_ {
  @include rs-typography(caption);
  @include rs-typography-baseline-top(16px);
  white-space: nowrap;
  margin: 0;
}

@mixin rs-form-label-floatinglabel-shake-keyframes($modifier, $positionY, $positionX: 0%, $scale: .75) {
  @keyframes rs-form-label-shake-float-above-#{$modifier} {
    0% {
      transform: translateX(calc(0 - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
    }

    33% {
      animation-timing-function: cubic-bezier(.5, 0, .701732, .495819);
      transform: translateX(calc(4% - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
    }

    66% {
      animation-timing-function: cubic-bezier(.302435, .381352, .55, .956352);
      transform: translateX(calc(-4% - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
    }

    100% {
      transform: translateX(calc(0 - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
    }
  }
}

@mixin rs-floating-label-max-width($max-width) {
  max-width: $max-width;
}
