@import "./rs-variables";

@mixin rs-form-field-label-left_ {
  --rs-form-field-label--order: -1;
  --rs-form-field-label--margin-left: auto;
  --rs-form-field-label--padding-right: #{$rs-form-field-item-spacing};
  --rs-form-field-label--margin-right: auto;
  --rs-form-field-label--padding-left: #{$rs-form-field-item-spacing};
}