@mixin rs-drawer-type($type) {
  @if $type == modal {
    $elevation: rs-elevation($rs-drawer-modal-elevation);

    .rs-drawer {
      display: inline-flex;

      &.-open-modal {
        box-shadow: $elevation;
      }

      &.-open {
        > .content {
          display: flex;
        }
      }
    }

    .rs-drawer {
      &.-opening > .scrim {
        display: block;
      }
    }

    @at-root {  
      rs-drawer[opened] {
        z-index: 100;
        position: absolute;
        left: 0;      
      }      

      rs-drawer[opened] + rs-app-layout-content {
        rs-app-bar {
          --rs-app-bar---margin-left: auto;
        }
      }
  
      rs-drawer[opened] + rs-app-layout-content { 
        --rs-app-layout-content---margin-left: auto;
      }
    }
  }
}

@mixin rs-drawer-width($width) {
  .rs-drawer {
    width: $width;

    > .content {
      width: $width;
    }
  }

  @at-root {  
    rs-drawer[opened] + rs-app-layout-content {
      rs-app-bar {
        --rs-app-bar---margin-left: #{$width};
      }
    }
    
    rs-drawer[opened] + rs-app-layout-content { 
      --rs-app-layout-content---margin-left: #{$width};
    }
  }
}

@mixin rs-drawer-modal-width($width) {
  .rs-drawer {
    width: $width;

    > .content {
      width: $width;
    }
  }
}