@import "@rsmdc/shape/mixins";
@import "./variables";

@mixin rs-card-type($type) {
  @if $type == outlined {
    --rs-card--box-shadow: #{rs-elevation(0)};
    @include rs-card-outline($rs-card-outline-color);
  }
}

@mixin rs-card-actions-type($type, $buttonType) {
  @if $type == full-bleed {
    --rs-card-actions__full-bleed: true;
    --rs-card-actions--padding: 0;
  }
}

@mixin rs-card-media-type($type) {
  @if $type == square {
    @include rs-card-media-aspect-ratio(1, 1);
  }@else if $type == 16-9 {
    @include rs-card-media-aspect-ratio(16, 9);
  }
}

@mixin rs-card-media-image($url) {
  --rs-card-media--background-image: #{$url};
}

@mixin rs-card-size($width) {
  --rs-card--width: #{$width};
}

@mixin rs-card-media-content-ink-color($color) {
  --rs-card-media-content--color: #{$color};
}

@mixin rs-card-title-ink-color($color) {
  --rs-card-title--color: #{$color};
}

@mixin rs-card-subtitle-ink-color($color) {
  --rs-card-subtitle--color: #{$color};
}

@mixin rs-card-description-ink-color($color) {
  --rs-card-description--color: #{$color};
}

@mixin rs-card-fill-color($color) {
  --rs-card--background-color: #{$color};
}

@mixin rs-card-outline($color, $thickness: $rs-card-outline-width) {
  --rs-card--border-width: $thickness;
  --rs-card--border-style: solid;
  --rs-card--border-color: rs-theme-prop-value($color);
}

@mixin rs-card-shape-radius($radius, $rtl-reflexive: false) {
  --rs-card--border-radius: #{rs-shape-radius($radius)};
  --rs-card_rtl--border-radius: #{rs-shape-radius($radius)};

  --rs-card-contents--border-top-left-radius: #{rs-shape-radius($radius)};
  --rs-card-contents--border-top-right-radius: #{rs-shape-radius($radius)};
  --rs-card-contents_rtl--border-top-left-radius: #{rs-shape-radius($radius)};
  --rs-card-contents_rtl--border-top-right-radius: #{rs-shape-radius($radius)};
  --rs-card-media--border-top-left-radius: #{rs-shape-radius($radius)};
  --rs-card-media--border-top-right-radius: #{rs-shape-radius($radius)};
  --rs-card-media_rtl--border-top-left-radius: #{rs-shape-radius($radius)};
  --rs-card-media_rtl--border-top-right-radius: #{rs-shape-radius($radius)};
}

@mixin rs-card-media-aspect-ratio($x, $y) {
  --rs-card-media--padding-top: #{percentage($y / $x)};
}