@import "@rsmdc/floating-label/mixins";
@import "@rsmdc/line-ripple/mixins";
@import "@rsmdc/notched-outline/mixins";
@import "@rsmdc/notched-outline/variables";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "helper-text/mixins";
@import "character-counter/mixins";
@import "icon/mixins";
@import "icon/variables";
@import "./variables";
@import "./functions";


@mixin rs-text-field-disabled_ {
  //helper text
  @include rs-text-field-helper-text-color_($rs-text-field-disabled-helper-text-color);
  //counter
  @include rs-text-field-character-counter-color_($rs-text-field-disabled-helper-text-color);
  //action
  @include rs-text-field-icon-color_($rs-text-field-disabled-icon);

  &:not(.rs-text-field--textarea) {
    border-bottom-color: $rs-text-field-fullwidth-bottom-line-color;
  }

  background-color: $rs-text-field-disabled-background;

  border-bottom: none;
  pointer-events: none;

  .rs-text-field__input {
    color: $rs-text-field-disabled-ink-color;
    border-bottom-color: $rs-text-field-disabled-border;
  }

  .rs-floating-label {
    cursor: default;
  }
}

@mixin rs-text-field-invalid_ {
  @include rs-text-field-line-ripple-color($rs-text-field-error);
  @include rs-text-field-helper-text-validation-color($rs-text-field-error);

  &.rs-text-field--with-trailing-icon {
    &:not(.rs-text-field--with-leading-icon) {
      @include rs-text-field-icon-color($rs-text-field-error);
    }

    &.rs-text-field--with-leading-icon {
      @include rs-text-field-icon-color($rs-text-field-error, /* styleSecondIcon */ true);
    }
  }

  + .rs-text-field-helper-line .rs-text-field-helper-text--validation-msg {
    opacity: 1;
  }
}

@mixin rs-text-field-focused_ {
  @include rs-required-text-field-label-asterisk_ {
    @include rs-theme-prop(color, $rs-text-field-error);
  }

  + .rs-text-field-helper-line .rs-text-field-helper-text:not(.rs-text-field-helper-text--validation-msg) {
    opacity: 1;
  }
}

@mixin rs-text-field-dense_ {
  @include rs-floating-label-float-position($rs-text-field-dense-label-position-y, 0%, $rs-text-field-dense-label-scale);
  @include rs-floating-label-shake-animation(text-field-dense);

  .rs-text-field__input {
    padding: 12px 12px 0;
  }

  .rs-floating-label {
    font-size: .813rem;

    &--float-above {
      font-size: .813rem;
    }
  }
}

@mixin rs-required-text-field-label-asterisk_() {
  .rs-text-field__input:required ~ {
    .rs-floating-label::after,
    .rs-notched-outline .rs-floating-label::after {
      @content;
    }
  }
}

// Outlined
@mixin rs-text-field-outlined-disabled_ {
  --rs-text-field_disabled--background-color: transparent;
  --rs-text-field-input_disabled--border-bottom: none;
  --rs-text-field-input--border-bottom: none;
}

@mixin rs-text-field-outlined-dense_ {
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-dense-label-position-y, 0%, $rs-text-field-dense-label-scale);
  @include rs-floating-label-shake-animation(text-field-outlined-dense);

  height: 48px;

  .rs-text-field__input {
    padding: 12px 12px 7px;
  }

  .rs-floating-label {
    top: 14px;
  }

  .rs-text-field__icon {
    top: 12px;
  }
}

@mixin rs-text-field-outlined_ {
  //notched
  @include rs-states-base-color(transparent);
  @include rs-text-field-outline-color($rs-text-field-outlined-idle-border);
  @include rs-text-field-hover-outline-color($rs-text-field-outlined-hover-border);
  @include rs-text-field-focused-outline-color(primary);
  @include rs-floating-label-shake-animation(text-field-outlined);
  @include rs-text-field-outline-shape-radius(small);
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-label-position-y);
  @include rs-text-field-outlined-disabled_;

  --rs-text-field_not_disabled--background-color: transparent;
  --rs-textarea-field_not_disabled--background-color: transparent;
  --rs-text-field--border: none;
  --rs-text-field--overflow: visible;
  --rs-text-field-input--display: flex;
  --rs-text-field-input--padding: 12px 16px 14px;
  --rs-text-field-input--border: none !important;  // FF adds unwanted border in HC mode on windows.
  --rs-text-field-input--background-color: transparent;
  --rs-text-field-input--z-index: 1;
  --rs-text-field--icon--z-index: 2; 

  &[invalid] {
    //notched
    @include rs-text-field-outline-color($rs-text-field-error);
    @include rs-text-field-hover-outline-color($rs-text-field-error);
    @include rs-text-field-focused-outline-color($rs-text-field-error);
  }

  &[focus] {
    @include rs-notched-outline-stroke-width(2px);
  }
}

@mixin rs-text-field-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-icon-position, $rs-text-field-icon-padding);

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-icon-padding);
  }
}

@mixin rs-text-field-dense-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-dense-icon-padding);
  }
}

@mixin rs-text-field-outlined-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-icon-position, $rs-text-field-icon-padding);
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-label-position-y, 32px);
  @include rs-floating-label-shake-animation(text-field-outlined-leading-icon);

  @include rs-rtl {
    @include rs-floating-label-shake-animation(text-field-outlined-leading-icon-rtl);
  }

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-icon-padding - $rs-notched-outline-leading-width);
  }
}

@mixin rs-text-field-outlined-dense-with-leading-icon_ {
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-dense-label-position-y, $rs-text-field-outlined-dense-with-leading-icon-label-position-x, $rs-text-field-dense-label-scale);
  @include rs-floating-label-shake-animation(text-field-outlined-leading-icon-dense);

  @include rs-rtl {
    @include rs-floating-label-shake-animation(text-field-outlined-leading-icon-dense-rtl);
  }

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-dense-icon-padding - $rs-notched-outline-leading-width);
  }
}

@mixin rs-text-field-with-trailing-icon_ {
  @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-trailing-icon-position, $rs-text-field-icon-padding);

  // Outlined uses 16px for text alignment when using a trailing icon.
  &.rs-text-field--outlined {
    @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-icon-position, $rs-text-field-icon-padding);
  }
}

@mixin rs-text-field-dense-with-trailing-icon_ {
  @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);
}

@mixin rs-text-field-with-both-icons_ {
  @include rs-text-field-icon-horizontal-position-two-icons_($rs-text-field-icon-position, $rs-text-field-icon-padding, $rs-text-field-trailing-icon-position, $rs-text-field-icon-padding);
}

@mixin rs-text-field-dense-with-both-icons_ {
  @include rs-text-field-icon-horizontal-position-two-icons_($rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);
}

// Full Width
@mixin rs-text-field-fullwidth_ {
  --rs-text-field--width: 100%;
  --rs-text-field_not_disabled--background-color: transparent;
  --rs-text-field-input_placeholder--transition-delay: 40ms;
  --rs-text-field-input_placeholder--transition-duration: 110ms;
  --rs-text-field-input_placeholder--opacity: 1;
  --rs-text-field_invalid--border-bottom-color: $rs-text-field-error;
  --rs-text-field_not__textarea--display: block;
  --rs-text-field_not__textarea-input--padding: 0;
  --rs-text-field_not__textarea-input--resize: vertical;
}

// Textarea
@mixin rs-text-field-textarea-disabled_ {
  @include rs-text-field-outlined-disabled_;
  --rs-textarea-field_disabled--background-color: #{$rs-textarea-disabled-background};
}

@mixin rs-text-field-textarea-invalid_ {
  @include rs-text-field-outline-color($rs-text-field-error);
  @include rs-text-field-hover-outline-color($rs-text-field-error);
  @include rs-text-field-focused-outline-color($rs-text-field-error);
}

@mixin rs-text-field-textarea_ {
  @include rs-text-field-outline-color($rs-text-field-outlined-idle-border);
  @include rs-text-field-hover-outline-color($rs-text-field-outlined-hover-border);
  @include rs-text-field-focused-outline-color(primary);
  @include rs-floating-label-shake-animation(text-field-outlined);
  @include rs-text-field-outline-shape-radius(small);
  @include rs-states-base-color(transparent);
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-label-position-y, 0%);
  @include rs-text-field-character-counter-position(16px, 13px);

  background-color: var(--rs-textarea-field_not_disabled--background-color, transparent);
  display: inline-flex;
  width: auto;
  height: auto;
  transition: none;
  overflow: visible;

  &[focus] {
    @include rs-notched-outline-stroke-width(2px);
  }
}

@mixin rs-text-field_ {
  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: $rs-text-field-height;
  overflow: hidden;
  will-change: opacity, transform, color;

  &:not(.rs-text-field--textarea) {
    @include rs-states-base-color(transparent);
    display: var(--rs-text-field_not__textarea--display, block);

    &::before{
      background-color: var(--rs-ripple_before--background-color, transparent);
      content: var(--rs-ripple_before--content, '');
    }
  
    &::after {
      background-color: var(--rs-ripple_after--background-color, transparent);
      content: var(--rs-ripple_after--content, '');
    }
  }

  width: var(--rs-text-field--width);
  border-radius: var(--rs-text-field--border-radius, 4px);
  background-color: var(--rs-text-field_not_disabled--background-color, $rs-text-field-background);

  [dir="rtl"] &,
  &[dir="rtl"] {
    border-radius: var(--rs-text-field_rtl--border-radius, rs-shape-rtl-radius(small, false));
  }

  &::before{
    background-color: var(--rs-ripple_before--background-color, $rs-text-field-ink-color);
    content: var(--rs-ripple_before--content, '');
  }

  &::after {
    background-color: var(--rs-ripple_after--background-color, $rs-text-field-ink-color);
    content: var(--rs-ripple_after--content, '');
  }

  &:hover::before {
    opacity: var(--rs-ripple_hover_before--opacity, rs-states-opacity($rs-text-field-ink-color, hover));
  }

  &:not(.rs-ripple-upgraded):focus::before { // @mixin rs-states-focus-opacity„ÅÆfalse
    transition-duration: var(--rs-ripple_not-upgraded_focus_before--transition-duration, 75ms);
    opacity: var(--rs-ripple_not-upgraded_focus_before--opacity, rs-states-opacity($rs-text-field-ink-color, focus));
  }

  &.rs-ripple-upgraded--background-focused::before {
    transition-duration: var(--rs-upgraded_-background-focused_before--transition-duration, 75ms);
    opacity: var(--rs-upgraded_-background-focused_before--opacity, rs-states-opacity($rs-text-field-ink-color, focus));
  }
}

@mixin rs-text-field-input_ {
  @include rs-typography(subtitle1);
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 16px 6px;
  transition: rs-text-field-transition(opacity);
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: none;
  appearance: none;
  caret-color: var(--rs-text-field-input--caret-color, $rs-theme-primary);

  .rs-text-field--textarea & {
    resize: var(--rs-text-field_not__textarea-input--resize);
  }

  :not(.rs-text-field--textarea) & {
    padding: var(--rs-text-field_not__textarea-input--padding);
  }

  :not([disabled]) & {
    color: var(--rs-text-field_not_disabled-input--color, $rs-text-field-ink-color);
  }

  :not([disabled]):not(.rs-text-field--outlined):not(.rs-text-field--textarea) & {
    border-bottom-color: var(--rs-text-field_not_disabled_not__outlined_not__textarea-input--border-bottom-color, $rs-text-field-bottom-line-idle);
  }

  :not([disabled]):not(.rs-text-field--outlined):not(.rs-text-field--textarea) &:hover {
    border-bottom-color: var(--rs-text-field_not_disabled_not__outlined_not__textarea-input_hover--border-bottom-color, $rs-text-field-bottom-line-hover);
  }

  &::placeholder {
    transition: rs-text-field-transition(opacity, $duration: 67ms);
    color: $rs-text-field-placeholder-ink-color;
    opacity: var(--rs-text-field-input_placeholder--opacity, 0);
    transition-delay: var(--rs-text-field-input_placeholder--transition-delay);
    transition-duration: var(--rs-text-field-input_placeholder--transition-duration);
  }

  &:-ms-input-placeholder {
    color: $rs-text-field-placeholder-ink-color !important;
  }

  &:focus {
    outline: none;
  }

  &[invalid] {
    box-shadow: none;
    border-bottom-color: $rs-text-field-error;
    caret-color: $rs-text-field-error;
    border-bottom-color: $rs-text-field-error;
  }

  &.rs-text-field--no-label::placeholder, 
  &:focus::placeholder {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }

  &:-webkit-autofill {
    z-index: auto !important;
  }

  :not(.rs-text-field--outlined):not(.rs-text-field--textarea) &.rs-text-field--no-label {
    padding: 16px;
  }

  .rs-text-field--textarea & {
    $padding-inset: 16px;

    align-self: auto;
    box-sizing: border-box;
    height: auto;
    margin: $padding-inset/2 1px 1px 0;
    padding: 0 $padding-inset $padding-inset;
    border: none;
  }
}

