@import "@rsmdc/animation/variables";
@import "@rsmdc/ripple/common";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/theme/mixins";
@import "@rsmdc/theme/variables";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/typography/variables";
@import "@rsmdc/shape/mixins";
@import "@rsmdc/shape/functions";
@import "icon/mixins";
@import "icon/variables";
@import "./variables";
@import "./functions";

@import "./rs-mixins";
@import "./notched-outline/rs-mixins";


// todo: fix icon
@mixin rs-text-field-disabled_ {
  //action
  @include rs-text-field-icon-color_($rs-text-field-disabled-icon);

}
@mixin rs-text-field-invalid_ {

  &.rs-text-field--with-trailing-icon {
    &:not(.rs-text-field--with-leading-icon) {
      @include rs-text-field-icon-color($rs-text-field-error);
    }

    &.rs-text-field--with-leading-icon {
      @include rs-text-field-icon-color($rs-text-field-error, /* styleSecondIcon */ true);
    }
  }
}

@mixin rs-text-field-dense_ {
  --rs-form-label__floatinglabel__floatabove--transform: #{rs-form-label-floatinglabel-position($rs-text-field-dense-label-position-y, 0%, $rs-text-field-dense-label-scale)};
  --rs-form-label__floatinglabel_rtl__floatabove--transform: #{rs-form-label-floatinglabel-rtl-position($rs-text-field-dense-label-position-y, 0%, $rs-text-field-dense-label-scale)};
  --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-dense)};

  --rs-text-field-input_not__textarea--padding-top: 12px;
  --rs-text-field-input_not__textarea--padding-bottom: 0;
  --rs-text-field-input_not__textarea--padding-right: 12px;
  --rs-text-field-input_not__textarea--padding-left: 12px;
  --rs-form-label__floatinglabel--color--font-size: .813rem;
  --rs-notched-outline__floatabove-leading-notch-form-label__floatinglabel--font-size: .813rem;
}

@mixin rs-text-field-outlined-dense_ {
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-dense-label-position-y, 0%, $rs-text-field-dense-label-scale);
  --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-dense)};
  --rs-form-label__floatinglabel__outlined--height: 48px;
  --rs-text-field-input_not__textarea--padding-top: 12px;
  --rs-text-field-input_not__textarea--padding-bottom: 7px;
  --rs-text-field-input_not__textarea--padding-right: 12px;
  --rs-text-field-input_not__textarea--padding-left: 12px;
  --rs-form-label__floatinglabel--top: 14px;
  --rs-form-label__floatinglabel--top: 14px;
  --rs-text-field-icon--top: 12px;
}

@mixin rs-text-field-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-icon-position, $rs-text-field-icon-padding);

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-icon-padding);
  }
}

@mixin rs-text-field-dense-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-dense-icon-padding);
  }
}

@mixin rs-text-field-outlined-with-leading-icon_ {
  @include rs-text-field-icon-horizontal-position_(left, $rs-text-field-icon-position, $rs-text-field-icon-padding);
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-label-position-y, 32px);
  --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-leading-icon)};
  --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-leading-icon)};
  --rs-form-label__floatinglabel_rtl__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-leading-icon-rtl)};

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-icon-padding - $rs-notched-outline-leading-width);
  }
}

@mixin rs-text-field-outlined-dense-with-leading-icon_ {
  @include rs-notched-outline-floating-label-float-position($rs-text-field-outlined-dense-label-position-y, $rs-text-field-outlined-dense-with-leading-icon-label-position-x, $rs-text-field-dense-label-scale);
  --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-leading-icon-dense)};
  --rs-form-label__floatinglabel_rtl__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-leading-icon-dense-rtl)};

  .rs-floating-label {
    @include rs-rtl-reflexive-position(left, $rs-text-field-dense-icon-padding - $rs-notched-outline-leading-width);
  }
}

@mixin rs-text-field-with-trailing-icon_ {
  @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-trailing-icon-position, $rs-text-field-icon-padding);

  // Outlined uses 16px for text alignment when using a trailing icon.
  &.rs-text-field--outlined {
    @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-icon-position, $rs-text-field-icon-padding);
  }
}

@mixin rs-text-field-dense-with-trailing-icon_ {
  @include rs-text-field-icon-horizontal-position_(right, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);
}

@mixin rs-text-field-with-both-icons_ {
  @include rs-text-field-icon-horizontal-position-two-icons_($rs-text-field-icon-position, $rs-text-field-icon-padding, $rs-text-field-trailing-icon-position, $rs-text-field-icon-padding);
}

@mixin rs-text-field-dense-with-both-icons_ {
  @include rs-text-field-icon-horizontal-position-two-icons_($rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding, $rs-text-field-dense-icon-position, $rs-text-field-dense-icon-padding);
}

// Textarea
@mixin rs-text-field-textarea_ {
  @include rs-states-base-color(transparent);

  display: inline-flex;
  width: auto;
  height: auto;
  transition: none;
  overflow: visible;

  &[disabled] {
    background-color: $rs-textarea-disabled-background;
    border-bottom: none;
  }

  &:not([disabled]) {
    background-color: var(--rs-textarea-field_not_disabled--background-color, transparent);
  }

  > .rs-text-field__input {
    $padding-inset: 16px;

    align-self: auto;
    box-sizing: border-box;
    height: auto;
    margin: $padding-inset/2 1px 1px 0;
    padding: 0 $padding-inset $padding-inset;
    border: none;
  }
}

@mixin rs-text-field_ {
  @include rs-ripple-surface;
  @include rs-ripple-radius-bounded;

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: $rs-text-field-height;
  will-change: opacity, transform, color;

  width: var(--rs-text-field--width);
  overflow: var(--rs-text-field--overflow, hidden);
  border: var(--rs-text-field--border, none);
  border-radius: var(--rs-text-field--border-radius, 4px 4px 0 0);

  &:not(.rs-text-field--textarea) {
    display: var(--rs-text-field_not__textarea--display, block);
    
    &.-disabled {
      border-bottom-color: var(--rs-text-field_not__textarea__disabled--border-bottom-color, $rs-text-field-fullwidth-bottom-line-color);
    }
    &:not(.-disabled) {
      background-color: var(--rs-text-field_not__textarea_not__disabled--background-color, $rs-text-field-background);
    }
  }

  &.-disabled {
    pointer-events: none;
    border-bottom: var(--rs-text-field__disabled--border-bottom, none);
    border-color: $rs-text-field-outlined-disabled-border;
    background-color: var(--rs-text-field_disabled--background-color, $rs-text-field-disabled-background);
  }

  &:not(.-disabled) {
    border-color: var(--rs-text-field--border-color, $rs-text-field-outlined-idle-border);
  }

  &:not(.-disabled):hover {
    border-color: var(--rs-text-field_hover--border-color, $rs-text-field-outlined-hover-border);
  }

  &.-disabled + .rs-text-field-character-counter {
    color: $rs-text-field-disabled-helper-text-color;
  }

  &:not(.-disabled) + .rs-text-field-character-counter {
    color: var(--rs-text-field_not__disabled-character-counter--color, $rs-text-field-helper-text-color);
  }

  &.-invalid,
  &.-invalid:hover {
    border-color: $rs-text-field-error;
  }

  &[dir="rtl"] {
    border-radius: var(--rs-text-field_rtl--border-radius, rs-shape-rtl-radius(small, false));
  }

  // ripple
  &::before{
    background-color: var(--rs-ripple_before--background-color, $rs-text-field-ink-color);
    content: var(--rs-ripple_before--content, '');
  }

  &::after {
    background-color: var(--rs-ripple_after--background-color, $rs-text-field-ink-color);
    content: var(--rs-ripple_after--content, '');
  }

  &:hover::before {
    opacity: var(--rs-ripple_hover_before--opacity, rs-states-opacity($rs-text-field-ink-color, hover));
  }

  &:not(.rs-ripple-upgraded):focus::before { // @mixin rs-states-focus-opacityのfalse
    transition-duration: var(--rs-ripple_not-upgraded_focus_before--transition-duration, 75ms);
    opacity: var(--rs-ripple_not-upgraded_focus_before--opacity, rs-states-opacity($rs-text-field-ink-color, focus));
  }

  &.rs-ripple-upgraded--background-focused::before {
    transition-duration: var(--rs-upgraded_-background-focused_before--transition-duration, 75ms);
    opacity: var(--rs-upgraded_-background-focused_before--opacity, rs-states-opacity($rs-text-field-ink-color, focus));
  }
}

@mixin rs-text-field-input_ {
  @include rs-typography(subtitle1);
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: rs-text-field-transition(opacity);
  border-radius: 0;
  background: none;
  appearance: none;

  z-index: var(--rs-text-field-input--z-index);
  display: var(--rs-text-field-input--display);
  background-color: var(--rs-text-field-input--background-color);
  border: var(--rs-text-field-input--border, none);
  caret-color: var(--rs-text-field-input--caret-color, $rs-theme-primary);
  border-bottom: var(--rs-text-field-input--border-bottom, 1px solid);

  .-invalid & {
    box-shadow: none;
    border-bottom-color: $rs-text-field-error;
    caret-color: $rs-text-field-error;
  }

  :not(.rs-text-field--textarea) & {
    padding-top: var(--rs-text-field-input_not__textarea--padding-top, 20px);
    padding-bottom: var(--rs-text-field-input_not__textarea--padding-bottom, 6px);
    padding-right: var(--rs-text-field-input_not__textarea--padding-right, 16px);
    padding-left: var(--rs-text-field-input_not__textarea--padding-left, 16px);
    resize: var(--rs-text-field_not__textarea-input--resize);
  }

  :not(.-disabled) & {
    background-color: var(--rs-text-field_not_disabled--background-color);
    color: var(--rs-text-field_not_disabled-input--color, $rs-text-field-ink-color);
  }

  :not(.-disabled):not(.rs-text-field--outlined):not(.rs-text-field--textarea) & {
    border-bottom-color: var(--rs-text-field_not_disabled_not__outlined_not__textarea-input--border-bottom-color, $rs-text-field-bottom-line-idle);
  }

  :not(.-disabled):not(.rs-text-field--outlined):not(.rs-text-field--textarea) &:hover {
    border-bottom-color: var(--rs-text-field_not_disabled_not__outlined_not__textarea-input_hover--border-bottom-color, $rs-text-field-bottom-line-hover);
  }

  .-invalid:not(.-disabled):not(.rs-text-field--outlined):not(.rs-text-field--textarea) &,
  .-invalid:not(.-disabled):not(.rs-text-field--outlined):not(.rs-text-field--textarea) &:hover {
    border-bottom-color: $rs-text-field-error;
  }

  .-disabled &,
  .-disabled:not(.rs-text-field--outlined):not(.rs-text-field--textarea) &,
  .-disabled:not(.rs-text-field--outlined):not(.rs-text-field--textarea) &:hover {
    color: $rs-text-field-disabled-ink-color;
    border-bottom-color: $rs-text-field-disabled-border;
  }

  &::placeholder {
    transition: rs-text-field-transition(opacity, $duration: 67ms);
    color: $rs-text-field-placeholder-ink-color;
    opacity: var(--rs-text-field-input_placeholder--opacity, 0);
    transition-delay: var(--rs-text-field-input_placeholder--transition-delay);
    transition-duration: var(--rs-text-field-input_placeholder--transition-duration);
  }

  &:-ms-input-placeholder {
    color: $rs-text-field-placeholder-ink-color !important;
  }

  &:focus {
    outline: none;
  }

  &.rs-text-field--no-label::placeholder, 
  &:focus::placeholder {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }

  &:-webkit-autofill {
    z-index: auto !important;
  }

  :not(.rs-text-field--outlined):not(.rs-text-field--textarea) &.rs-text-field--no-label {
    padding: 16px;
  }
}




.rs-action {
  //action
  @include rs-text-field-icon-color($rs-text-field-icon-color);
}

.rs-text-field--with-leading-icon {
  @include rs-text-field-with-leading-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--outlined {
  @include rs-text-field-outlined-with-leading-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--outlined.rs-text-field--dense {
  @include rs-text-field-outlined-dense-with-leading-icon_;
}

.rs-text-field--with-trailing-icon {
  @include rs-text-field-with-trailing-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--with-trailing-icon {
  @include rs-text-field-with-both-icons_;
}

// stylelint-disable plugin/selector-bem-pattern
.rs-text-field--with-leading-icon.rs-text-field--dense .rs-text-field__icon,
.rs-text-field--with-trailing-icon.rs-text-field--dense .rs-text-field__icon {
  bottom: 16px;
  transform: scale(.8);
}
// stylelint-enable plugin/selector-bem-pattern

.rs-text-field--with-leading-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-leading-icon_;
}

.rs-text-field--with-trailing-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-trailing-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--with-trailing-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-both-icons_;
}
