@import "@rsmdc/floating-label/rs-mixins";
@import "@rsmdc/line-ripple/rs-mixins";
@import "@rsmdc/notched-outline/rs-mixins";

// Change text-field border-radius.
@mixin rs-text-field-shape-radius($radius) {
  $masked-radius: rs-shape-mask-radius($radius, 1 1 0 0);
  $calculate-radius: $radius + 4px;
  --rs-text-field-form--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};
  --rs-text-field_rtl-form--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};
  --rs-text-field__outlined-form--border-radius: #{$radius};
  --rs-text-field__outlined-form-inputarea--border-radius: #{$radius};
  --rs-text-field_not__textarea__outlined-form-input--padding-left: #{$radius};
  --rs-text-field_not__textarea__dense__outlined-form-input--padding-left: #{$radius};
  --rs-floating-label__floatabove__icon-label__outlined--left: #{$calculate-radius};
  --rs-floating-label__floatabove__icon__dense-label__outlined--left: #{$calculate-radius};

  // outlined
  @include rs-notched-outline-shape-radius($radius);
}

// Change textarea border-radius.
@mixin rs-textarea-shape-radius($radius) {
  @include rs-notched-outline-shape-radius($radius);
}

// Change text-field input ink color.
@mixin rs-text-field-ink-color($color) {
  --rs-text-field_not__disabled-form-input--color: #{$color};
}

// Change textarea input ink color.
@mixin rs-textarea-ink-color($color) {
  --rs-text-field_not__disabled-form-input--color: #{$color};
}

// Change text-field input container color.
@mixin rs-text-field-fill-color($color) {
  @include rs-states-base-color($color);
  --rs-text-field_not__disabled-form-inputarea--background-color: #{$color};
  --rs-text-field_not__disabled-form__textarea--background-color: #{$color};
}

// Change textarea input container color.
@mixin rs-textarea-fill-color($color) {
  @include rs-states-base-color($color);
  --rs-text-field_not__disabled-form-inputarea--background-color: #{$color};
  --rs-text-field_not__disabled-form__textarea--background-color: #{$color};
}

// Change text-field outline color.
@mixin rs-text-field-stroke-color($color) {
  @include rs-notched-outline-color($color);
}

// Change text-field hover outline color.
@mixin rs-text-field-hover-outline-color($color) {
  @include rs-notched-outline-hover-color($color);
}

// Change text-field focus outline color.
@mixin rs-text-field-focused-outline-color($color) {
  @include rs-notched-outline-focus-color($color);
}

// Change textarea outline color.
@mixin rs-textarea-stroke-color($color) {
  @include rs-notched-outline-color($color);
}

// Change textarea hover outline color.
@mixin rs-textarea-hover-outline-color($color) {
  @include rs-notched-outline-hover-color($color);
}

// Change textarea focus outline color.
@mixin rs-textarea-focused-outline-color($color) {
  @include rs-notched-outline-focus-color($color);
}

// Change text-field bottom color.
@mixin rs-text-field-bottom-line-color($color) {
  --rs-text-field_not__disabled_not__outlined-form_not__textarea-inputarea--border-bottom-color: #{$color};
}

// Change text-field bottom hover color.
@mixin rs-text-field-hover-bottom-line-color($color) {
  --rs-text-field_not__disabled_not__outlined-form_not__textarea-inputarea_hover--border-bottom-color: #{$color};
}

// Change text-field bottom focus color.
@mixin rs-text-field-line-ripple-color($color) {
  @include rs-line-ripple-color($color);
}

// Change text-field and textarea caret color.
@mixin rs-text-field-caret-color($color) {
  --rs-text-field-form-input--caret-color: #{$color};
}

// Change textarea caret color.
@mixin rs-textarea-caret-color($color) {
  --rs-text-field-form-input--caret-color: #{$color};
}

// Change text-field label color.
@mixin rs-text-field-label-ink-color($color) {
  @include rs-floating-label-ink-color($color);
}

// Change textarea label color.
@mixin rs-textarea-label-ink-color($color) {
  @include rs-floating-label-ink-color($color);
}

// Change text-field focused label color.
@mixin rs-text-field-focused-label-ink-color($color) {
  @include rs-floating-label-focused-ink-color($color);
}

// Change textarea focused label color.
@mixin rs-textarea-focused-label-ink-color($color) {
  @include rs-floating-label-focused-ink-color($color);
}

// Change icon color.
@mixin rs-text-field-icon-ink-color($color) {
  --rs-text-field-form-inputarea_before--color: #{$color};
  --rs-text-field-trailing-icon--color: #{$color};
}

// Change focused color.
@mixin rs-text-field-focused-color-accessible($color) {
  @include rs-text-field-focused-outline-color($color);
  @include rs-textarea-focused-outline-color($color);
  @include rs-textarea-caret-color($color);
  @include rs-line-ripple-color($color);
  @include rs-text-field-focused-label-ink-color($color);
  @include rs-textarea-focused-label-ink-color($color);
}

// Change text-field type.
@mixin rs-text-field-type($types...) {
  @each $type in $types {
    @if $type == outlined {
      --rs-text-field__outlined: true;
    }@else if $type == dense {
      --rs-text-field__dense: true;
    }
  }
}

// Set leading icon inside text-field.
@mixin rs-text-field-icon-image($icon, $icon-name: '') {
  $value: if(str-slice('#{$icon}', 1, 4) == 'url(', path, font-family);
  --rs-text-field__icon: true;
  --rs-text-field-form-inputarea_before--display: block;

  @if $value == path {
    --rs-text-field-form-inputarea_before--background-image: #{$icon};
    --rs-text-field-form-inputarea_before--height: 24px;
    --rs-text-field-form-inputarea_before--top: 0;
    --rs-text-field-form-inputarea_before--bottom: 0;
  }@else {
    --rs-text-field-form-inputarea_before--font-family: '#{$icon}';
    --rs-text-field-form-inputarea_before--content: #{unquote('"\\#{$icon-name}"')};
  }
}

// Set icon to text-field action.
@mixin rs-text-field-action-icon-image($icon, $icon-name: '') {
  $value: if(str-slice('#{$icon}', 1, 4) == 'url(', path, font-family);

  @if $value == path {
    --rs-text-field-trailing-icon--background-image: #{$icon};
    --rs-text-field-trailing-icon--height: 24px;
  }@else {
    --rs-text-field-trailing-icon--font-family: '#{$icon}';
    --rs-text-field-trailing-icon_before--content: #{unquote('"\\#{$icon-name}"')};
  }
}

// Change textarea line height.
@mixin rs-textarea-line-height($height) {
  --rs-text-field-form-input--line-height: #{$height};
}

// Change character counter ink color.
@mixin rs-text-field-character-counter-ink-color($color) {
  --rs-text-field_not__disabled-character-counter--color: #{$color};
}

// Change character counter position.
@mixin rs-text-field-character-counter-position($xOffset, $yOffset) {
  --rs-text-field-character-counter--right: #{$xOffset};
  --rs-text-field-character-counter--bottom: #{$yOffset};
}