@import "../line-ripple/rs-line-ripple";

// Change text-field border-radius.
@mixin rs-text-field-shape-radius($radius) {
  $masked-radius: rs-shape-mask-radius($radius, 1 1 0 0);
  --rs-text-field-form--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};
  --rs-text-field_rtl-form--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};

  // outlined
  @include rs-notched-outline-shape-radius($radius);
}

// Change textarea border-radius.
@mixin rs-textarea-shape-radius($radius) {
  @include rs-notched-outline-shape-radius($radius);
}

// Change text-field input ink color.
@mixin rs-text-field-ink-color($color) {
  --rs-text-field_not__disabled-form-input--color: #{$color};
}

// Change textarea input ink color.
@mixin rs-textarea-ink-color($color) {
  --rs-text-field_not__disabled-form-input--color: #{$color};
}

// Change text-field input container color.
@mixin rs-text-field-fill-color($color) {
  @include rs-states-base-color($color);
  --rs-text-field_not__disabled-form-inputarea--background-color: #{$color};
  --rs-text-field_not__disabled-form__textarea--background-color: #{$color};
}

// Change textarea input container color.
@mixin rs-textarea-fill-color($color) {
  @include rs-states-base-color($color);
  --rs-text-field_not__disabled-form-inputarea--background-color: #{$color};
  --rs-text-field_not__disabled-form__textarea--background-color: #{$color};
}

// Change text-field outline color.
@mixin rs-text-field-stroke-color($color) {
  @include rs-notched-outline-color($color);
}

// Change text-field hover outline color.
@mixin rs-text-field-hover-outline-color($color) {
  @include rs-notched-outline-hover-color($color);
}

// Change text-field focus outline color.
@mixin rs-text-field-focused-outline-color($color) {
  @include rs-notched-outline-focus-color($color);
}

// Change textarea outline color.
@mixin rs-textarea-stroke-color($color) {
  @include rs-notched-outline-color($color);
}

// Change textarea hover outline color.
@mixin rs-textarea-hover-outline-color($color) {
  @include rs-notched-outline-hover-color($color);
}

// Change textarea focus outline color.
@mixin rs-textarea-focused-outline-color($color) {
  @include rs-notched-outline-focus-color($color);
}

// Change text-field bottom color.
@mixin rs-text-field-bottom-line-color($color) {
  --rs-text-field_not__disabled_not__outlined-form_not__textarea-inputarea--border-bottom-color: #{$color};
}

// Change text-field bottom hover color.
@mixin rs-text-field-hover-bottom-line-color($color) {
  --rs-text-field_not__disabled_not__outlined-form_not__textarea-inputarea_hover--border-bottom-color: #{$color};
}

// Change text-field bottom focus color.
@mixin rs-text-field-line-ripple-color($color) {
  @include rs-line-ripple-color($color);
}

// Change text-field and textarea caret color.
@mixin rs-text-field-caret-color($color) {
  --rs-text-field-form-input--caret-color: #{$color};
}

// Change text-field type.
@mixin rs-text-field-type($types...) {
  @each $type in $types {
    @if $type == fullwidth {
      --rs-form-field_host--width: 100%;
      --rs-form-field--width: 100%;
      --rs-text-field_host--width: 100%;
      --rs-text-field-form--width: 100%;
      --rs-text-field-form_not__textarea--display: block;
      --rs-text-field-form-input_placeholder--transition-delay: 40ms;
      --rs-text-field-form-input_placeholder--transition-duration: 110ms;
    }@else if $type == outlined {
      --rs-text-field__outlined: true;
      --rs-text-field-form-input--border-bottom: none;
      --rs-text-field__disabled-form_not__textarea--border-bottom-color: #{$rs-text-field-outlined-disabled-border};
      --rs-ripple_before--background-color: transparent;
      --rs-text-field__disabled-form--background-color: transparent;
      --rs-text-field_not__disabled-form_not__textarea--background-color: transparent;
      --rs-text-field_not__disabled-form__textarea--background-color: transparent;
      --rs-text-field_not__disabled-input--background-color: transparent;
      --rs-text-field-form-input--display: flex;
      --rs-text-field-form_not__textarea-form--padding-top: 12px;
      --rs-text-field-form_not__textarea-input--padding-bottom: 14px;
      --rs-text-field-form_not__textarea-input--padding-right: 12px;
      --rs-text-field-form_not__textarea-inputarea-input--padding-left: 16px;
      --rs-text-field-form-input--border: none !important;  // FF adds unwanted border in HC mode on windows.
      --rs-text-field-form-input--background-color: transparent;
      --rs-text-field-form-input--z-index: 1;
      --rs-text-field--icon--z-index: 2;
    }@else if $type == dense {
      --rs-form-label__floatinglabel__floatabove--transform: #{rs-form-label-floatinglabel-position($rs-text-field-dense-label-position-y, 0%, $rs-text-field-dense-label-scale)};
      --rs-form-label__floatinglabel_rtl__floatabove--transform: #{rs-form-label-floatinglabel-rtl-position($rs-text-field-dense-label-position-y, 0%, $rs-text-field-dense-label-scale)};
      --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-dense)};
    
      --rs-text-field-form_not__textarea-form--padding-top: 12px;
      --rs-text-field-form_not__textarea-input--padding-bottom: 0;
      --rs-text-field-form_not__textarea-input--padding-right: 12px;
      --rs-text-field-form_not__textarea-inputarea-input--padding-left: 12px;
      --rs-form-label__floatinglabel--color--font-size: .813rem;
      --rs-notched-outline__floatabove-leading-notch-form-label__floatinglabel--font-size: .813rem;
    }
  }

  $dense: find-item($types, dense);
  $outlined: find-item($types, outlined);

  @if $dense and $outlined {
    --rs-form-label__floatinglabel__shake--animation: #{rs-form-label-floatinglabel-shake-animation(text-field-outlined-dense)};
    --rs-form-label__floatinglabel__outlined--height: 48px;
    --rs-text-field-form_not__textarea-form--padding-top: 12px;
    --rs-text-field-form_not__textarea-input--padding-bottom: 7px;
    --rs-text-field-form_not__textarea-input--padding-right: 12px;
    --rs-text-field-form_not__textarea-inputarea-input--padding-left: 12px;
    --rs-form-label__floatinglabel--top: 14px;
    --rs-form-label__floatinglabel--top: 14px;
    --rs-text-field-icon--top: 12px;
  }
}

// Set leading icon inside text-field.
@mixin rs-text-field-icon-image($url) {
  --rs-text-field__icon: true;
  --rs-text-field-form-inputarea_before--background-image: #{$url};
  --rs-text-field-form-inputarea_before--content: '';
  --rs-text-field-form_not__textarea-inputarea-input--padding-left: 48px;
}

// Set icon to text-field action.
@mixin rs-text-field-action-icon-image($url) {
  --rs-text-field-trailing-icon--background-image: #{$url};
}

// Change text-field and textarea line height.
@mixin rs-text-field-line-height($height) {
  --rs-text-field-form-input--line-height: #{$height};
}