// @import "../form-field/rs-functions";

@mixin rs-text-field-shape-radius($radius) {
  $masked-radius: rs-shape-mask-radius($radius, 1 1 0 0);
  --rs-text-field--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};
  --rs-text-field_rtl--border-radius: #{rs-shape-resolve-percentage-radius($rs-text-field-height, $masked-radius)};
  // outline
  @include rs-notched-outline-shape-radius($radius);
}

@mixin rs-textarea-field-shape-radius($radius) {
  @include rs-notched-outline-shape-radius($radius);
}

@mixin rs-text-field-ink-color($color) {
  --rs-text-field_not_disabled-input--color: #{$color};
}

@mixin rs-text-field-fill-color($color) {
  --rs-text-field_not_disabled--background-color: #{$color};
  --rs-textarea-field_not_disabled--background-color: #{$color};
}

@mixin rs-text-field-textarea-stroke-color($color) {
  &:not(.rs-text-field--disabled) {
    @include rs-notched-outline-color($color);
  }
}

@mixin rs-text-field-textarea-fill-color($color) {
  --rs-textarea-field_not_disabled--background-color: #{$color};
}

@mixin rs-text-field-fullwidth-bottom-line-color($color) {
  --rs-text-field_not_disabled_not__textarea--border-bottom-color: #{$color};
}

@mixin rs-text-field-bottom-line-color($color) {
  --rs-text-field_not_disabled_not__outlined_not__textarea-input--border-bottom-color: #{$color};
}

@mixin rs-text-field-hover-bottom-line-color($color) {
  --rs-text-field_not_disabled_not__outlined_not__textarea-input_hover--border-bottom-color: #{$color};
}

@mixin rs-text-field-line-ripple-color($color) {
  &:not(.rs-text-field--disabled) {
    @include rs-line-ripple-color($color);
  }
}

@mixin rs-text-field-label-color($color) {

  &:not(.rs-text-field--disabled) {
    @include rs-floating-label-ink-color($color);
  }
}

@mixin rs-text-field-outline-color($color) {
  @include rs-notched-outline-color($color);
}

@mixin rs-text-field-hover-outline-color($color) {
  &:not(.rs-text-field--disabled) {
    &:not(:focus) {
      .rs-text-field__input:hover ~,
      .rs-text-field__icon:hover ~ {
        .rs-notched-outline {
          @include rs-notched-outline-color($color);
        }
      }
    }
  }
}

@mixin rs-text-field-focused-outline-color($color) {
  &:not(.rs-text-field--disabled) {
    &.rs-text-field--focused {
      @include rs-notched-outline-color($color);
    }
  }
}

@mixin rs-text-field-caret-color($color) {
  --rs-text-field-input--caret-color: #{$color};
}

@mixin rs-text-field-outline-shape-radius($radius, $rtl-reflexive: false) {
  $resolved-radius: rs-shape-resolve-percentage-radius($rs-text-field-height, $radius);

  .rs-notched-outline {
    @include rs-notched-outline-shape-radius($resolved-radius, $rtl-reflexive);
  }

  $radius-pixels: rs-shape-prop-value($resolved-radius);

  @if ($radius-pixels > $rs-notched-outline-leading-width) {
    .rs-text-field__input {
      @include rs-rtl-reflexive-property(padding, $radius-pixels + $rs-notched-outline-padding, 0);
    }

    + .rs-text-field-helper-line {
      @include rs-rtl-reflexive-property(padding, $radius-pixels + $rs-notched-outline-padding, $radius-pixels);
    }
  }
}

@mixin rs-text-field-type($types...) {
  @each $type in $types {
    @if $type == fullwidth {
      --rs-form-field--width: 100%;
      --rs-text-field_host--width: 100%;
      --rs-text-field--width: 100%;
      --rs-text-field_not__textarea--display: block;
      --rs-text-field-input_placeholder--transition-delay: 40ms;
      --rs-text-field-input_placeholder--transition-duration: 110ms;
      // --rs-text-field_not__textarea_not_disabled--background-color: transparent;
      // no label
      // --rs-text-field-input_placeholder--opacity: 1;
      // --rs-text-field-input_not__textarea--padding-top: 0;
      // --rs-text-field-input_not__textarea--padding-bottom: 0;
      // --rs-text-field-input_not__textarea--padding-right: 0;
      // --rs-text-field-input_not__textarea--padding-left: 0;
    }@else if $type == outlined {
      --rs-text-field__outlined: true;
      --rs-text-field--border: 1px solid;
      --rs-text-field--border-radius: 4px;
      --rs-text-field-input--border-bottom: none;
      --rs-text-field__disabled--border-bottom: 1px solid;
      --rs-text-field_not__textarea__disabled--border-bottom-color: #{$rs-text-field-outlined-disabled-border};
      --rs-ripple_before--background-color: transparent;
      --rs-text-field_disabled--background-color: transparent;
      --rs-text-field_not__textarea_not__disabled--background-color: transparent;
      --rs-textarea-field_not_disabled--background-color: transparent;
      --rs-text-field_not__disabled-input--background-color: transparent;
      --rs-text-field-input--display: flex;
      --rs-text-field-input_not__textarea--padding-top: 12px;
      --rs-text-field-input_not__textarea--padding-bottom: 14px;
      --rs-text-field-input_not__textarea--padding-right: 12px;
      --rs-text-field-input_not__textarea--padding-left: 16px;
      --rs-text-field-input--border: none !important;  // FF adds unwanted border in HC mode on windows.
      --rs-text-field-input--background-color: transparent;
      --rs-text-field-input--z-index: 1;
      --rs-text-field--icon--z-index: 2;
    }@else if $type == dense {
      @include rs-text-field-dense_;
    }
  }

  $dense: find-item($types, dense);
  $outlined: find-item($types, outlined);

  @if $dense and $outlined {
    @include rs-text-field-outlined-dense_;
  }

}
