@import "@rsmdc/animation/variables";
@import "@rsmdc/floating-label/rs-floating-label";
@import "@rsmdc/line-ripple/rs-line-ripple";
@import "@rsmdc/notched-outline/rs-notched-outline";
@import "@rsmdc/ripple/common";
@import "@rsmdc/ripple/mixins";
@import "@rsmdc/rtl/mixins";
@import "@rsmdc/theme/variables";
@import "@rsmdc/typography/mixins";
@import "@rsmdc/typography/variables";
@import "./functions";
@import "./helper-text/rs-text-field-helper-text";
@import "./character-counter/rs-text-field-character-counter";
@import "./icon/rs-text-field-icon";
@import "./mixins";
@import "./variables";

.rs-line-ripple {
  //lineripple
  @include rs-text-field-line-ripple-color_(primary);
}

.rs-helper {
  // Colors  //helper
  @include rs-text-field-helper-text-color($rs-text-field-helper-text-color);
}

.rs-counter {
  //counter
  @include rs-text-field-character-counter-color($rs-text-field-helper-text-color);
}

.rs-action {
  //action
  @include rs-text-field-icon-color($rs-text-field-icon-color);
}

.rs-text-field__input:-webkit-autofill + .rs-floating-label {
  transform: translateY(-50%) scale(.75);
  cursor: auto;
}

.rs-text-field--with-leading-icon {
  @include rs-text-field-with-leading-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--outlined {
  @include rs-text-field-outlined-with-leading-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--outlined.rs-text-field--dense {
  @include rs-text-field-outlined-dense-with-leading-icon_;
}

.rs-text-field--with-trailing-icon {
  @include rs-text-field-with-trailing-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--with-trailing-icon {
  @include rs-text-field-with-both-icons_;
}

// stylelint-disable plugin/selector-bem-pattern
.rs-text-field--with-leading-icon.rs-text-field--dense .rs-text-field__icon,
.rs-text-field--with-trailing-icon.rs-text-field--dense .rs-text-field__icon {
  bottom: 16px;
  transform: scale(.8);
}
// stylelint-enable plugin/selector-bem-pattern

.rs-text-field--with-leading-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-leading-icon_;
}

.rs-text-field--with-trailing-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-trailing-icon_;
}

.rs-text-field--with-leading-icon.rs-text-field--with-trailing-icon.rs-text-field--dense {
  @include rs-text-field-dense-with-both-icons_;
}

@include rs-required-text-field-label-asterisk_ {
  margin-left: 1px;
  content: "*";
}

// postcss-bem-linter: define text-field-helper-text
// stylelint-disable plugin/selector-bem-pattern
.rs-text-field-helper-line {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .rs-text-field--dense + & {
    margin-bottom: 4px;
  }

  .rs-text-field + & {
    padding-right: $rs-text-field-helper-line-padding;
    padding-left: $rs-text-field-helper-line-padding;
  }
}
// stylelint-enable plugin/selector-bem-pattern
// postcss-bem-linter: end

// rs-form-field tweaks to align text field label correctly
// stylelint-disable selector-max-type
.rs-form-field > .rs-text-field + label {
  align-self: flex-start;
}
// stylelint-enable selector-max-type

.rs-text-field--focused {
  @include rs-text-field-focused_;
}

.rs-text-field--textarea.rs-text-field--focused {
  @include rs-text-field-textarea-stroke-color(primary);
}

.rs-text-field--invalid {
  @include rs-text-field-invalid_;
}

.rs-text-field--textarea.rs-text-field--invalid {
  @include rs-text-field-textarea-invalid_;
}

.rs-text-field--disabled {
  @include rs-text-field-disabled_;
}

.rs-text-field--textarea.rs-text-field--disabled {
  @include rs-text-field-textarea-disabled_;
}