@import "@rsmdc/theme/variables";
@import "@rsmdc/theme/mixins";

.rs-text-field--with-leading-icon .rs-text-field__icon,
.rs-text-field--with-trailing-icon .rs-text-field__icon {
  position: absolute;
  bottom: 16px;
  cursor: pointer;
}

.rs-text-field__icon:not([tabindex]),
.rs-text-field__icon[tabindex="-1"] {
  cursor: default;
  pointer-events: none;
}
