@keyframes rs-ripple-fg-radius-in {
	from {
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate(var(--rs-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		transform: translate(var(--rs-ripple-fg-translate-end, 0)) scale(var(--rs-ripple-fg-scale, 1));
	}
}
@keyframes rs-ripple-fg-opacity-in {
	from {
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: var(--rs-ripple-fg-opacity, 0);
	}
}
@keyframes rs-ripple-fg-opacity-out {
	from {
		animation-timing-function: linear;
		opacity: var(--rs-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
.rs-ripple-surface--test-edge-var-bug {
	visibility: var(--rs-ripple-surface--test-edge-var-bug---visibility);
}
.rs-ripple-surface--test-edge-var-bug::before {
	border: var(--rs-ripple-surface--test-edge-var-bugPEbefore---border);
}
@keyframes rs-checkbox-unchecked-checked-checkmark-path {
	0%,
  50% {
		stroke-dashoffset: 29.78334;
	}
	50% {
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes rs-checkbox-unchecked-indeterminate-mixedmark {
	0%,
  68.2% {
		transform: scaleX(0);
	}
	68.2% {
		animation-timing-function: cubic-bezier(0, 0, 0, 1);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes rs-checkbox-checked-unchecked-checkmark-path {
	from {
		animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
		opacity: 1;
		stroke-dashoffset: 0;
	}
	to {
		opacity: 0;
		stroke-dashoffset: -29.78334;
	}
}
@keyframes rs-checkbox-checked-indeterminate-checkmark {
	from {
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		transform: rotate(0deg);
		opacity: 1;
	}
	to {
		transform: rotate(45deg);
		opacity: 0;
	}
}
@keyframes rs-checkbox-indeterminate-checked-checkmark {
	from {
		animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
		transform: rotate(45deg);
		opacity: 0;
	}
	to {
		transform: rotate(360deg);
		opacity: 1;
	}
}
@keyframes rs-checkbox-checked-indeterminate-mixedmark {
	from {
		animation-timing-function: rs-animation-deceleration-curve-timing-function;
		transform: rotate(-45deg);
		opacity: 0;
	}
	to {
		transform: rotate(0deg);
		opacity: 1;
	}
}
@keyframes rs-checkbox-indeterminate-checked-mixedmark {
	from {
		animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
		transform: rotate(0deg);
		opacity: 1;
	}
	to {
		transform: rotate(315deg);
		opacity: 0;
	}
}
@keyframes rs-checkbox-indeterminate-unchecked-mixedmark {
	0% {
		animation-timing-function: linear;
		transform: scaleX(1);
		opacity: 1;
	}
	32.8%,
  100% {
		transform: scaleX(0);
		opacity: 0;
	}
}
.rs-checkbox {
	border-color: var(--rs-checkbox---border-color);
	position: var(--rs-checkbox---position);
	display: var(--rs-checkbox---display);
	align-items: var(--rs-checkbox---align-items);
	vertical-align: var(--rs-checkbox---vertical-align);
	flex-flow: var(--rs-checkbox---flex-flow);
}
.rs-checkbox.-disabled > .container {
	cursor: var(--rs-checkbox-disabledCHcontainer---cursor);
	pointer-events: var(--rs-checkbox-disabledCHcontainer---pointer-events);
}
.rs-checkbox.-disabled > .label {
	cursor: var(--rs-checkbox-disabledCHlabel---cursor);
	pointer-events: var(--rs-checkbox-disabledCHlabel---pointer-events);
}
.rs-checkbox.-disabled > .container > .nativecontrol {
	cursor: var(--rs-checkbox-disabledCHcontainerCHnativecontrol---cursor);
	pointer-events: var(--rs-checkbox-disabledCHcontainerCHnativecontrol---pointer-events);
}
.rs-checkbox.-disabled > .container > .nativecontrol:not(:checked):not(:indeterminate) ~ .background {
	border-color: var(--rs-checkbox-disabledCHcontainerCHnativecontrolPSnotVundefinedPSnotVundefinedSIbackground---border-color);
}
.rs-checkbox.-disabled > .container > .nativecontrol:checked ~ .background,
  .rs-checkbox.-disabled > .container > .nativecontrol:enabled:checked ~ .background {
	border-color: var(--rs-checkbox-disabledCHcontainerCHnativecontrolPScheckedSIbackgroundrs-checkbox-disabledCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---border-color);
	background-color: var(--rs-checkbox-disabledCHcontainerCHnativecontrolPScheckedSIbackgroundrs-checkbox-disabledCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---background-color);
}
.rs-checkbox.-disabled > .container > .nativecontrol:indeterminate ~ .background,
  .rs-checkbox.-disabled > .container > .nativecontrol:enabled:indeterminate ~ .background {
	border-color: var(--rs-checkbox-disabledCHcontainerCHnativecontrolPSindeterminateSIbackgroundrs-checkbox-disabledCHcontainerCHnativecontrolPSenabledPSindeterminateSIbackground---border-color);
	background-color: var(--rs-checkbox-disabledCHcontainerCHnativecontrolPSindeterminateSIbackgroundrs-checkbox-disabledCHcontainerCHnativecontrolPSenabledPSindeterminateSIbackground---background-color);
}
.rs-checkbox > .container {
	display: var(--rs-checkboxCHcontainer---display);
	position: var(--rs-checkboxCHcontainer---position);
	flex: var(--rs-checkboxCHcontainer---flex);
	box-sizing: var(--rs-checkboxCHcontainer---box-sizing);
	width: var(--rs-checkboxCHcontainer---width);
	height: var(--rs-checkboxCHcontainer---height);
	padding: var(--rs-checkboxCHcontainer---padding);
	line-height: var(--rs-checkboxCHcontainer---line-height);
	white-space: var(--rs-checkboxCHcontainer---white-space);
	cursor: var(--rs-checkboxCHcontainer---cursor);
	vertical-align: var(--rs-checkboxCHcontainer---vertical-align);
}
.rs-checkbox > .container.rs-ripple-upgraded--background-focused > .background::before {
	content: var(--rs-checkboxCHcontainerrs-ripple-upgraded--background-focusedCHbackgroundPEbefore---content);
}
.rs-checkbox > .container.-upgraded > .background,
  .rs-checkbox > .container.-upgraded > .background > .checkmark,
  .rs-checkbox > .container.-upgraded > .background > .checkmark > .checkmarkpath,
  .rs-checkbox > .container.-upgraded > .background > .mixedmark {
	transition: var(--rs-checkboxCHcontainer-upgradedCHbackgroundrs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmarkrs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmarkCHcheckmarkpathrs-checkboxCHcontainer-upgradedCHbackgroundCHmixedmark---transition);
}
.rs-checkbox > .container.-anim-unchecked-checked > .background, .rs-checkbox > .container.-anim-unchecked-indeterminate > .background, .rs-checkbox > .container.-anim-checked-unchecked > .background, .rs-checkbox > .container.-anim-indeterminate-unchecked > .background {
	animation-duration: var(--rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundrs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackground---animation-duration);
	animation-timing-function: var(--rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundrs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackground---animation-timing-function);
}
.rs-checkbox > .container.-anim-unchecked-checked > .background > .checkmark > .checkmarkpath {
	animation: var(--rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundCHcheckmarkCHcheckmarkpath---animation);
	transition: var(--rs-checkboxCHcontainer-anim-unchecked-checkedCHbackgroundCHcheckmarkCHcheckmarkpath---transition);
}
.rs-checkbox > .container.-anim-unchecked-indeterminate > .background > .mixedmark {
	animation: var(--rs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundCHmixedmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-unchecked-indeterminateCHbackgroundCHmixedmark---transition);
}
.rs-checkbox > .container.-anim-checked-unchecked > .background > .checkmark > .checkmarkpath {
	animation: var(--rs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundCHcheckmarkCHcheckmarkpath---animation);
	transition: var(--rs-checkboxCHcontainer-anim-checked-uncheckedCHbackgroundCHcheckmarkCHcheckmarkpath---transition);
}
.rs-checkbox > .container.-anim-checked-indeterminate > .background > .checkmark {
	animation: var(--rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHcheckmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHcheckmark---transition);
}
.rs-checkbox > .container.-anim-checked-indeterminate > .background > .mixedmark {
	animation: var(--rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHmixedmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-checked-indeterminateCHbackgroundCHmixedmark---transition);
}
.rs-checkbox > .container.-anim-indeterminate-checked > .background > .checkmark {
	animation: var(--rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHcheckmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHcheckmark---transition);
}
.rs-checkbox > .container.-anim-indeterminate-checked > .background > .mixedmark {
	animation: var(--rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHmixedmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-indeterminate-checkedCHbackgroundCHmixedmark---transition);
}
.rs-checkbox > .container.-anim-indeterminate-unchecked > .background > .mixedmark {
	animation: var(--rs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackgroundCHmixedmark---animation);
	transition: var(--rs-checkboxCHcontainer-anim-indeterminate-uncheckedCHbackgroundCHmixedmark---transition);
}
.rs-checkbox > .container.-anim-unchecked-checked > .nativecontrol:enabled ~ .background,
  .rs-checkbox > .container.-anim-unchecked-indeterminate > .nativecontrol:enabled ~ .background {
	animation-name: var(--rs-checkboxCHcontainer-anim-unchecked-checkedCHnativecontrolPSenabledSIbackgroundrs-checkboxCHcontainer-anim-unchecked-indeterminateCHnativecontrolPSenabledSIbackground---animation-name);
}
.rs-checkbox > .container.-anim-checked-unchecked > .nativecontrol:enabled ~ .background,
  .rs-checkbox > .container.-anim-indeterminate-unchecked > .nativecontrol:enabled ~ .background {
	animation-name: var(--rs-checkboxCHcontainer-anim-checked-uncheckedCHnativecontrolPSenabledSIbackgroundrs-checkboxCHcontainer-anim-indeterminate-uncheckedCHnativecontrolPSenabledSIbackground---animation-name);
}
.rs-checkbox > .container > .nativecontrol {
	position: var(--rs-checkboxCHcontainerCHnativecontrol---position);
	top: var(--rs-checkboxCHcontainerCHnativecontrol---top);
	left: var(--rs-checkboxCHcontainerCHnativecontrol---left);
	width: var(--rs-checkboxCHcontainerCHnativecontrol---width);
	height: var(--rs-checkboxCHcontainerCHnativecontrol---height);
	margin: var(--rs-checkboxCHcontainerCHnativecontrol---margin);
	padding: var(--rs-checkboxCHcontainerCHnativecontrol---padding);
	opacity: var(--rs-checkboxCHcontainerCHnativecontrol---opacity);
	cursor: var(--rs-checkboxCHcontainerCHnativecontrol---cursor);
}
.rs-checkbox > .container > .nativecontrol:focus ~ .background::before {
	transform: var(--rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---transform);
	opacity: var(--rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---opacity);
	transition: var(--rs-checkboxCHcontainerCHnativecontrolPSfocusSIbackgroundPEbefore---transition);
}
.rs-checkbox > .container > .nativecontrol:checked ~ .background > .checkmark {
	transition: var(--rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmark---transition);
	opacity: var(--rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmark---opacity);
}
.rs-checkbox > .container > .nativecontrol:checked ~ .background > .mixedmark {
	transform: var(--rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHmixedmark---transform);
}
.rs-checkbox > .container > .nativecontrol:indeterminate ~ .background > .checkmark {
	transform: var(--rs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHcheckmark---transform);
	opacity: var(--rs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHcheckmark---opacity);
	transition: var(--rs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHcheckmark---transition);
}
.rs-checkbox > .container > .nativecontrol:indeterminate ~ .background > .mixedmark {
	transform: var(--rs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHmixedmark---transform);
	opacity: var(--rs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHmixedmark---opacity);
}
.rs-checkbox > .container > .nativecontrol:checked ~ .background,
  .rs-checkbox > .container > .nativecontrol:indeterminate ~ .background {
	transition: var(--rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundrs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackground---transition);
}
.rs-checkbox > .container > .nativecontrol:checked ~ .background > .checkmark > .checkmarkpath,
  .rs-checkbox > .container > .nativecontrol:indeterminate ~ .background > .checkmark > .checkmarkpath {
	stroke-dashoffset: var(--rs-checkboxCHcontainerCHnativecontrolPScheckedSIbackgroundCHcheckmarkCHcheckmarkpathrs-checkboxCHcontainerCHnativecontrolPSindeterminateSIbackgroundCHcheckmarkCHcheckmarkpath---stroke-dashoffset);
}
.rs-checkbox > .container > .nativecontrol:enabled:checked ~ .background {
	border-color: var(--rs-checkboxCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---border-color);
	background-color: var(--rs-checkboxCHcontainerCHnativecontrolPSenabledPScheckedSIbackground---background-color);
}
.rs-checkbox > .container > .nativecontrol:enabled:indeterminate ~ .background {
	border-color: var(--rs-checkboxCHcontainerCHnativecontrolPSenabledPSindeterminateSIbackground---border-color);
	background-color: var(--rs-checkboxCHcontainerCHnativecontrolPSenabledPSindeterminateSIbackground---background-color);
}
.rs-checkbox > .container > .background {
	display: var(--rs-checkboxCHcontainerCHbackground---display);
	position: var(--rs-checkboxCHcontainerCHbackground---position);
	top: var(--rs-checkboxCHcontainerCHbackground---top);
	bottom: var(--rs-checkboxCHcontainerCHbackground---bottom);
	align-items: var(--rs-checkboxCHcontainerCHbackground---align-items);
	justify-content: var(--rs-checkboxCHcontainerCHbackground---justify-content);
	box-sizing: var(--rs-checkboxCHcontainerCHbackground---box-sizing);
	width: var(--rs-checkboxCHcontainerCHbackground---width);
	height: var(--rs-checkboxCHcontainerCHbackground---height);
	border: var(--rs-checkboxCHcontainerCHbackground---border);
	border-radius: var(--rs-checkboxCHcontainerCHbackground---border-radius);
	background-color: var(--rs-checkboxCHcontainerCHbackground---background-color);
	pointer-events: var(--rs-checkboxCHcontainerCHbackground---pointer-events);
	will-change: var(--rs-checkboxCHcontainerCHbackground---will-change);
	transition: var(--rs-checkboxCHcontainerCHbackground---transition);
	border-color: var(--rs-checkboxCHcontainerCHbackground---border-color);
}
.rs-checkbox > .container > .background::before {
	position: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---position);
	top: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---top);
	right: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---right);
	bottom: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---bottom);
	left: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---left);
	width: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---width);
	height: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---height);
	transform: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---transform);
	border-radius: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---border-radius);
	opacity: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---opacity);
	pointer-events: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---pointer-events);
	content: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---content);
	will-change: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---will-change);
	transition: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---transition);
	background-color: var(--rs-checkboxCHcontainerCHbackgroundPEbefore---background-color);
}
.rs-checkbox > .container > .background > .checkmark {
	position: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---position);
	top: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---top);
	right: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---right);
	bottom: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---bottom);
	left: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---left);
	width: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---width);
	opacity: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---opacity);
	transition: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---transition);
	color: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmark---color);
}
.rs-checkbox > .container.-upgraded > .background > .checkmark {
	opacity: var(--rs-checkboxCHcontainer-upgradedCHbackgroundCHcheckmark---opacity);
}
.rs-checkbox > .container > .background > .checkmark > .checkmarkpath {
	transition: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---transition);
	stroke: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke);
	stroke-width: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-width);
	stroke-dashoffset: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-dashoffset);
	stroke-dasharray: var(--rs-checkboxCHcontainerCHbackgroundCHcheckmarkCHcheckmarkpath---stroke-dasharray);
}
.rs-checkbox > .container > .background > .mixedmark {
	width: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---width);
	height: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---height);
	transform: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---transform);
	border-width: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-width);
	border-style: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-style);
	opacity: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---opacity);
	transition: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---transition);
	border-color: var(--rs-checkboxCHcontainerCHbackgroundCHmixedmark---border-color);
}
.rs-checkbox > .label {
	font-family: var(--rs-checkboxCHlabel---font-family);
	-moz-osx-font-smoothing: var(--rs-checkboxCHlabel----moz-osx-font-smoothing);
	-webkit-font-smoothing: var(--rs-checkboxCHlabel----webkit-font-smoothing);
	font-size: var(--rs-checkboxCHlabel---font-size);
	line-height: var(--rs-checkboxCHlabel---line-height);
	font-weight: var(--rs-checkboxCHlabel---font-weight);
	letter-spacing: var(--rs-checkboxCHlabel---letter-spacing);
	text-decoration: var(--rs-checkboxCHlabel---text-decoration);
	text-transform: var(--rs-checkboxCHlabel---text-transform);
	cursor: var(--rs-checkboxCHlabel---cursor);
	white-space: var(--rs-checkboxCHlabel---white-space);
	text-overflow: var(--rs-checkboxCHlabel---text-overflow);
	margin-right: var(--rs-checkboxCHlabel---margin-right);
	padding-right: var(--rs-checkboxCHlabel---padding-right);
	padding-left: var(--rs-checkboxCHlabel---padding-left);
}
.rs-checkbox > .rs-ripple-upgraded {
	--rs-ripple-fg-size: var(--rs-ripple-fg-size);
	--rs-ripple-left: var(--rs-ripple-left);
	--rs-ripple-top: var(--rs-ripple-top);
	--rs-ripple-fg-scale: var(--rs-ripple-fg-scale);
	--rs-ripple-fg-translate-end: var(--rs-ripple-fg-translate-end);
	--rs-ripple-fg-translate-start: var(--rs-ripple-fg-translate-start);
	-webkit-tap-highlight-color: var(--rs-checkboxCHrs-ripple-upgraded----webkit-tap-highlight-color);
	will-change: var(--rs-checkboxCHrs-ripple-upgraded---will-change);
}
.rs-checkbox > .rs-ripple-upgraded::before, .rs-checkbox > .rs-ripple-upgraded::after {
	position: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---position);
	border-radius: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---border-radius);
	opacity: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---opacity);
	pointer-events: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---pointer-events);
	content: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---content);
	top: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---top);
	left: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---left);
	width: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---width);
	height: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---height);
	background-color: var(--rs-checkboxCHrs-ripple-upgradedPEbeforers-checkboxCHrs-ripple-upgradedPEafter---background-color);
}
.rs-checkbox > .rs-ripple-upgraded::before {
	transition: var(--rs-checkboxCHrs-ripple-upgradedPEbefore---transition);
	z-index: var(--rs-checkboxCHrs-ripple-upgradedPEbefore---z-index);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded::before {
	transform: scale(var(--rs-ripple-fg-scale, 1));
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded::after {
	top: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgradedPEafter---top);
	left: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgradedPEafter---left);
	transform: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgradedPEafter---transform);
	transform-origin: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgradedPEafter---transform-origin);
	width: var(--rs-ripple-fg-size, 100%);
	height: var(--rs-ripple-fg-size, 100%);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded--unbounded::after {
	top: var(--rs-ripple-top, 0);
	left: var(--rs-ripple-left, 0);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded--foreground-activation::after {
	animation: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgraded--foreground-activationPEafter---animation);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded--foreground-deactivation::after {
	animation: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgraded--foreground-deactivationPEafter---animation);
	transform: translate(var(--rs-ripple-fg-translate-end, 0)) scale(var(--rs-ripple-fg-scale, 1));
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded::before, .rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded::after {
	top: var(--rs-ripple-top, calc(50% - 50%));
	left: var(--rs-ripple-left, calc(50% - 50%));
	width: var(--rs-ripple-fg-size, 100%);
	height: var(--rs-ripple-fg-size, 100%);
}
.rs-checkbox > .rs-ripple-upgraded:hover::before {
	opacity: var(--rs-checkboxCHrs-ripple-upgradedPShoverPEbefore---opacity);
}
.rs-checkbox > .rs-ripple-upgraded:not(.rs-ripple-upgraded):focus::before {
	transition-duration: var(--rs-checkboxCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---transition-duration);
	opacity: var(--rs-checkboxCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---opacity);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded--background-focused::before {
	transition-duration: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---transition-duration);
	opacity: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---opacity);
}
.rs-checkbox > .rs-ripple-upgraded:not(.rs-ripple-upgraded)::after {
	transition: var(--rs-checkboxCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPEafter---transition);
}
.rs-checkbox > .rs-ripple-upgraded:not(.rs-ripple-upgraded):active::after {
	transition-duration: var(--rs-checkboxCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---transition-duration);
	opacity: var(--rs-checkboxCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---opacity);
}
.rs-checkbox > .rs-ripple-upgraded.rs-ripple-upgraded {
	--rs-ripple-fg-opacity: var(--rs-checkboxCHrs-ripple-upgradedrs-ripple-upgraded-----rs-ripple-fg-opacity);
}
.rs-checkbox.-checked > .rs-ripple-upgraded::before, .rs-checkbox.-checked > .rs-ripple-upgraded::after,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded::before,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded::after {
	background-color: var(--rs-checkbox-checkedCHrs-ripple-upgradedPEbeforers-checkbox-checkedCHrs-ripple-upgradedPEafterrs-checkbox-indeterminateCHrs-ripple-upgradedPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedPEafter---background-color);
	content: var(--rs-checkbox-checkedCHrs-ripple-upgradedPEbeforers-checkbox-checkedCHrs-ripple-upgradedPEafterrs-checkbox-indeterminateCHrs-ripple-upgradedPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedPEafter---content);
}
.rs-checkbox.-checked > .rs-ripple-upgraded:hover::before,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded:hover::before {
	opacity: var(--rs-checkbox-checkedCHrs-ripple-upgradedPShoverPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedPShoverPEbefore---opacity);
}
.rs-checkbox.-checked > .rs-ripple-upgraded:not(.rs-ripple-upgraded):focus::before,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded:not(.rs-ripple-upgraded):focus::before {
	transition-duration: var(--rs-checkbox-checkedCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---transition-duration);
	opacity: var(--rs-checkbox-checkedCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSfocusPEbefore---opacity);
}
.rs-checkbox.-checked > .rs-ripple-upgraded.rs-ripple-upgraded--background-focused::before,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded.rs-ripple-upgraded--background-focused::before {
	transition-duration: var(--rs-checkbox-checkedCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---transition-duration);
	opacity: var(--rs-checkbox-checkedCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbeforers-checkbox-indeterminateCHrs-ripple-upgradedrs-ripple-upgraded--background-focusedPEbefore---opacity);
}
.rs-checkbox.-checked > .rs-ripple-upgraded:not(.rs-ripple-upgraded)::after,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded:not(.rs-ripple-upgraded)::after {
	transition: var(--rs-checkbox-checkedCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPEafterrs-checkbox-indeterminateCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPEafter---transition);
}
.rs-checkbox.-checked > .rs-ripple-upgraded:not(.rs-ripple-upgraded):active::after,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded:not(.rs-ripple-upgraded):active::after {
	transition-duration: var(--rs-checkbox-checkedCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafterrs-checkbox-indeterminateCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---transition-duration);
	opacity: var(--rs-checkbox-checkedCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafterrs-checkbox-indeterminateCHrs-ripple-upgradedPSnotVrs-ripple-upgradedPSactivePEafter---opacity);
}
.rs-checkbox.-checked > .rs-ripple-upgraded.rs-ripple-upgraded,
  .rs-checkbox.-indeterminate > .rs-ripple-upgraded.rs-ripple-upgraded {
	--rs-ripple-fg-opacity: var(--rs-checkbox-checkedCHrs-ripple-upgradedrs-ripple-upgradedrs-checkbox-indeterminateCHrs-ripple-upgradedrs-ripple-upgraded-----rs-ripple-fg-opacity);
}
@media screen and (-ms-high-contrast: active) {
	.rs-checkbox > .container > .background > .mixedmark {
		margin: var(--media--rs-checkboxCHcontainerCHbackgroundCHmixedmark---margin);
	}
}
