@import "@rsmdc/ripple/mixins";
@import "./variables";

// Change tab-bar width.
@mixin rs-tab-bar-width($width) {
  --rs-tab-bar--width: #{$width};
}

// Set tab-bar position. (Default position is align-start.)
@mixin rs-tab-bar-position($position) {
  @if $position == align-start {
    --rs-tab-scroller--justify-content: flex-start;
  }@else if $position == align-end {
    --rs-tab-scroller--justify-content: flex-end;
  }@else if $position == align-center {
    --rs-tab-scroller--justify-content: center;
  }
}

// Change tab text color.
@mixin rs-tab-ink-color($color) {
  --rs-tab-text-label--color: #{$color};
}

// Change tab state color.
@mixin rs-tab-states-color($color) {
  @include rs-states($color);
}

// Sets the fixed width of the tab.
@mixin rs-tab-fixed-width($width) {
  --rs-tab--flex: 0 1 #{$width};
}

// Change tab underline color.
@mixin rs-tab-indicator-color($color) {
  --rs-tab-indicator--background-color: #{$color};
}

// Change tab underline tickness.
@mixin rs-tab-indicator-height($height) {
  --rs-tab-indicator--height: #{$height};
}

// Set tab underline to tab contents width.
@mixin rs-tab-indicator-width-fixed-contents {
  --rs-tab-indicator__fixed-contents: true;
}

// Set tab icon.
@mixin rs-tab-icon-image($url, $position: left) {
  --rs-tab-content_before--background-image: #{$url};
  --rs-tab-content_after--background-image: #{$url};

  @if $position == left {
    --rs-tab-content_before--content: '';
    --rs-tab-text-label--padding-left: 8px;
  }@else if $position == right {
    --rs-tab-content_after--content: '';
    --rs-tab-text-label--padding-right: 8px;
  }@else if $position == center {
    --rs-tab--height: #{$rs-tab-stacked-height};
    --rs-tab--align-items: flex-end;
    --rs-tab-content_before--position: absolute;
    --rs-tab-content_before--top: 12px;
    --rs-tab-content_before--content: '';
    --rs-tab-text-label--margin-bottom: 16px;
  }

}