@import "@rsmdc/ripple/mixins";

// Change tab-bar width.
@mixin rs-tab-bar-width($width) {
  --rs-tab-bar--width: #{$width};
}

// Set tab-bar position. (Default position is align-start.)
@mixin rs-tab-bar-position($position) {
  @if $position == align-start {
    --rs-tab-scroller--justify-content: flex-start;
  }@else if $position == align-end {
    --rs-tab-scroller--justify-content: flex-end;
  }@else if $position == align-center {
    --rs-tab-scroller--justify-content: center;
  }
}

// Change tab text color.
@mixin rs-tab-text-label-color($color) {
  --rs-tab-text-label--color: #{$color};
}

// Change tab state color.
@mixin rs-tab-states-color($color) {
  @include rs-states($color);
}

// Change tab text and state color.
@mixin rs-tab-ink-color($color) {
  @include rs-tab-states-color($color);
  @include rs-tab-text-label-color($color);
}

// Sets the fixed width of the tab.
@mixin rs-tab-fixed-width($width) {
  --rs-tab--flex: 0 1 #{$width};
}

// Change tab underline color.
@mixin rs-tab-indicator-underline-color($color) {
  --rs-tab-indicator--background-color: #{$color};
}

// Change tab underline tickness.
@mixin rs-tab-indicator-underline-height($height) {
  --rs-tab-indicator--height: #{$height};
}

// Change tab underline width.
@mixin rs-tab-indicator-underline-width($width) {
  --rs-tab-indicator--width: #{$width};
}
