@import "@rsmdc/typography/mixins";
@import "../rs-variables";

@mixin rs-text-field-character-counter_ {
  @include rs-typography(caption);
  @include rs-typography-baseline-top(16px);

  margin-left: auto;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 0;
  white-space: nowrap;

  position: absolute;
  bottom: var(--rs-text-field-character-counter--bottom, $rs-text-field-character-counter-bottom);
  right: var(--rs-text-field-character-counter--right, 16px);

  [dir="rtl"] &,
  &[dir="rtl"] {
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
    padding-right: 16px;
  }

  [disabled] & {
    color: $rs-text-field-disabled-helper-text-color;
  }

  :not([disabled]) & {
    color: var(--rs-text-field_not__disabled-character-counter--color, $rs-text-field-helper-text-color);
  }
}