@mixin rs-text-field-character-counter-color($color) {
  --rs-text-field_not__disabled-character-counter--color: #{$color};
}

@mixin rs-text-field-character-counter-position($xOffset, $yOffset) {
  --rs-text-field-character-counter--right: #{$xOffset};
  --rs-text-field-character-counter--bottom: #{$yOffset};
}