@import "@rsmdc/typography/mixins";


@mixin rs-form-field-line-host_ {
  //.rs-text-field--dense + &
  margin-bottom: var(--rs-form-field-line--margin-bottom);
  position: absolute;
  bottom: -16px;
}

@mixin rs-form-field-line_ {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: $rs-text-field-helper-line-padding;
  padding-left: $rs-text-field-helper-line-padding;
}

@mixin rs-form-field-helper_ {
  @include rs-typography(caption);
  @include rs-typography-baseline-top(16px);
  white-space: nowrap;
  margin: 0;
}

.rs-text-field-helper-text--persistent {
  transition: rs-text-field-transition(opacity);
  opacity: 0;
  will-change: opacity;

  transition: none;
  opacity: 1;
  will-change: initial;
}