@import "@rsmdc/animation/variables";
@import "@rsmdc/theme/variables";
@import "./rs-variables";
@import "./variables";

@mixin rs-notched-outline_ {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* @noflip */
  text-align: left;
  pointer-events: none;

  [dit="rtl"] & {
    text-align: right;
  }

  .rs-notched-outline--no-label & {
    .rs-notched-outline__notch {
      padding: 0;
    }
  }

  .rs-notched-outline__leading,
  .rs-notched-outline__notch,
  .rs-notched-outline__trailing {
    box-sizing: border-box;
    height: 100%;
    pointer-events: none;
  }
}

@mixin rs-notched-outline-leading_ {
  border: solid;
  border-right: none;
  border-top: solid;
  border-bottom: solid;
  width: var(--rs-text-field-notched-outline-leading--width, $rs-notched-outline-leading-width);
  border-width: var(--rs-text-field-notched-outline-leading--border-width, 1px);
  border-radius: var(--rs-text-field-notched-outline-leading--border-radius, 4px 0 0 4px);
  border-top-width: var(--rs-text-field-notched-outline-leading--border-width, 1px);
  border-bottom-width: var(--rs-text-field-notched-outline-leading--border-width, 1px);

  [dir="rtl"] & {
    border-radius: var(--rs-text-field_rtl-notched-outline-leading--border-radius, 4px);
  }
  :not([disabled]) & {
    border-color: var(--rs-text-field_not_disabled-notched-outline-leading--border-color, $rs-notched-outline-idle);
  }

  :not([disabled]):hover & {
    border-color: var(--rs-text-field_not_disabled_hover-notched-outline-leading--border-color, $rs-notched-outline-border);
  }

  :not([disabled]).-focus & {
    border-width: var(--rs-text-field_not_disabled__focus-notched-outline-leading--border-width, 2px);
    border-color: var(--rs-text-field_not_disabled__focus-notched-outline-leading--border-color, $rs-theme-primary);
  }

  [disabled] & {
    border-color: $rs-text-field-outlined-disabled-border;
  }

  [invalid] &,
  [invalid]:hover &,
  [invalid].-focus & {
    color: $rs-theme-error;
    border-color: $rs-theme-error;
  }
}

@mixin rs-notched-outline-notch_ {
  flex: 0 0 auto;
  width: var(--rs-text-field-notched-outline-notch--width);
  max-width: calc(100% - #{$rs-notched-outline-leading-width} * 2);
  border-top: solid;
  border-bottom: solid;
  border-top-width: var(--rs-text-field-notched-outline-notch--border-width, 1.2px);
  border-bottom-width: var(--rs-text-field-notched-outline-notch--border-width, 1.2px);  

  :not(.-nolabel).-floatabove & {
    border-top: none;
  }

  :not([disabled]) & {
    border-color: var(--rs-text-field_not_disabled-notched-outline-notch--border-color, $rs-notched-outline-idle);
  }

  :not([disabled]):hover & {
    border-color: var(--rs-text-field_not_disabled_hover-notched-outline-notch--border-color, $rs-notched-outline-border);
  }

  :not([disabled]).-focus & {
    border-width: var(--rs-text-field_not_disabled__focus-notched-outline-notch--border-width, 2px);
    border-color: var(--rs-text-field_not_disabled__focus-notched-outline-notch--border-color, $rs-theme-primary);
  }

  [disabled] & {
    border-color: $rs-text-field-outlined-disabled-border;
  }

  [invalid] &,
  [invalid]:hover &,
  [invalid].-focus & {
    color: $rs-theme-error;
    border-color: $rs-theme-error;
  }
}

@mixin rs-notched-outline-trailing_ {
  flex-grow: 1;
  border-left: none;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;

  border-width: var(--rs-text-field-notched-outline-trailing--border-width, 1px);
  border-radius: var(--rs-text-field-notched-outline-trailing--border-radius, 0 4px 4px 0);
  border-top-width: var(--rs-text-field-notched-outline-trailing--border-width, 1px);
  border-bottom-width: var(--rs-text-field-notched-outline-trailing--border-width, 1px);

  :not([disabled]) & {
    border-color: var(--rs-text-field_not_disabled-notched-outline-trailing--border-color, $rs-notched-outline-idle);
  }

  :not([disabled]):hover & {
    border-color: var(--rs-text-field_not_disabled_hover-notched-outline-trailing--border-color, $rs-notched-outline-border);
  }

  :not([disabled]).-focus & {
    border-width: var(--rs-text-field_not_disabled__focus-notched-outline-trailing--border-width, 2px);
    border-color: var(--rs-text-field_not_disabled__focus-notched-outline-trailing--border-color, $rs-theme-primary);
  }

  [dir="rtl"] & {
    border-radius: var(-rs-text-field_rtl-notched-outline-trailing--border-radius, 4px);
  }

  [disabled] & {
    border-color: $rs-text-field-outlined-disabled-border;
  }

  [invalid] &,
  [invalid]:hover &,
  [invalid].-focus & {
    color: $rs-theme-error;
    border-color: $rs-theme-error;
  }
}