@import "@rsmdc/shape/functions";

// Change outline color.
@mixin rs-notched-outline-color($color) {
  --rs-text-field__outlined_not__disabled-notched-outline-leading--border-color: #{$color};
  --rs-text-field__outlined_not__disabled-notched-outline-notch--border-color: #{$color};
  --rs-text-field__outlined_not__disabled-notched-outline-trailing--border-color: #{$color};
}

// Change outline hover color.
@mixin rs-notched-outline-hover-color($color) {
  --rs-text-field__outlined_not__disabled_hover-notched-outline-leading--border-color: #{$color};
  --rs-text-field__outlined_not__disabled_hover-notched-outline-notch--border-color: #{$color};
  --rs-text-field__outlined_not__disabled_hover-notched-outline-trailing--border-color: #{$color};
}

// Change outline focus color.
@mixin rs-notched-outline-focus-color($color) {
  --rs-text-field__outlined_not__disabled__focus-notched-outline-leading--border-color: #{$color};
  --rs-text-field__outlined_not__disabled__focus-notched-outline-notch--border-color: #{$color};
  --rs-text-field__outlined_not__disabled__focus-notched-outline-trailing--border-color: #{$color};
}

// Change outline width.
@mixin rs-notched-outline-stroke-width($width) {
  --rs-text-field__outlined-notched-outline-leading--border-width: #{$width};
  --rs-text-field__outlined-notched-outline-leading--border-top-width: #{$width};
  --rs-text-field__outlined-notched-outline-leading--border-bottom-width: #{$width};
  --rs-text-field__outlined-notched-outline-notch--border-width: #{$width};
  --rs-text-field__outlined-notched-outline-trailing--border-width: #{$width};
}

// Change outline focus width.
@mixin rs-notched-outline-stroke-focus-width($width) {
  --rs-text-field__outlined_not__disabled__focus-notched-outline-leading--border-width: #{$width};
  --rs-text-field__outlined_not__disabled__focus-notched-outline-notch--border-width: #{$width};
  --rs-text-field__outlined_not__disabled__focus-notched-outline-trailing--border-width: #{$width};
}

// Change outline radius.
@mixin rs-notched-outline-shape-radius($radius) {
  $radius: rs-shape-prop-value($radius);

  --rs-form-label__textarea__floatinglabel--left: calc( 4px + #{$radius} );
  --rs-form-label__outlined__floatinglabel--left: calc( 4px + #{$radius} );
  --rs-text-field__outlined-notched-outline-leading--border-radius: #{rs-shape-mask-radius($radius, 1 0 0 1)};
  --rs-text-field__outlined_rtl-notched-outline-leading--border-radius: #{rs-shape-flip-radius(rs-shape-prop-value($radius))};
  --rs-text-field__outlined-notched-outline-trailing--border-radius: #{rs-shape-mask-radius($radius, 0 1 1 0)};
  --rs-text-field__outlined_rtl-notched-outline-trailing--border-radius: #{rs-shape-flip-radius(rs-shape-prop-value($radius))};

  @if ($radius > $rs-notched-outline-leading-width) {
    --rs-text-field__outlined-notched-outline-leading--width: #{$radius};
  }
}