$rs-notched-outline-transition-duration: 150ms !default;
// Keep this in sync with constants.numbers.MIN_LEADING_STROKE_EDGE_POSITION
$rs-notched-outline-min-leading-stroke-edge-position: 12px !default;
// The gap between the stroke end and floating label
// Keep this in sync with constants.numbers.NOTCH_GUTTER_SIZE
$rs-notched-outline-notch-gutter-size: 4px !default;
$rs-notched-outline-leading-width: 12px !default;
$rs-notched-outline-padding: 4px !default;
// This variable keeps the before/after JS label centered in the notch when the font-size is changed.
$rs-notched-outline-label-adjust: 14% !default;

$rs-notched-outline-idle: rgba(rs-theme-prop-value(on-surface), .24) !default;
$rs-notched-outline-border: rgba(rs-theme-prop-value(on-surface), .87) !default;
$rs-notched-outline-disabled-border: rgba(rs-theme-prop-value(on-surface), .06) !default;
